{% extends 'layouts/interior.html' %}
{% load static %}


{% block wrapper %}
    <div class="container content-wrap">
        <div class="row container">
            <h2>Desempeño Social</h2>
            <p>Con el propósito de alcanzar un bienestar social, buscamos mantener relaciones armoniosas y de confianza
                con las comunidades aledañas a nuestras plantas productivas, de tal manera que se logre un
                autodesarrollo de comunidades sostenibles mediante un trabajo coordinado tanto con la comunidad como con
                las autoridades. Debido a lo anterior, valoramos la vinculación con la comunidad por las siguientes
                razones:</p>
            <div class="text-center w-100 mb-3">
                <img src="{% static 'images/sustentabilidad/fortaleza_comunidad.png' %}" alt="alternative text">
            </div>

            <p><br>
                Con el objetivo de tener una mejor interacción con las comunidades y autoridades locales, se cuenta con
                un Plan de Involucramiento Comunitario (PIC), con el cual, por medio de un exhaustivo análisis de cada
                una de las plantas, se desarrolló una metodología de gestión de proyectos y una estrategia que involucre
                áreas y actores relevantes que permita una sinergia de comunicación entre empresa, autoridad y
                población. Conformando así, una estrategia a largo plazo con base a cuatro pilares de acción
                (Construcción de infraestructura, cuidado y preservación ambiental, fortalecimiento del desarrollo
                económico local y fomento cultural y deporte) que fomentan la corresponsabilidad en la inversión social.
            </p>
            <p class="mb-0">
                Por otra parte, es de destacar que Elementia Materiales, por resultado de sus principios y valores como
                ciudadano corporativo comprometido con el desarrollo de sus comunidades y la protección y conservación
                de los entornos naturales, obtuvo el Reconocimiento de Empresas Socialmente Responsable por décimo año
                consecutivo.
            </p>
        </div>

    </div>
{% endblock %}