{% extends 'layouts/interior.html' %}
{% load static %}


{% block wrapper %}
    <div style="background-color:#3EAB49">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-white mb-4 mt-4">Committed to the future well-being of everyone</h3>
                    <p class="text-white mb-4">We seek to drive the sustained creation of value in order to continue
                        building our growth story, while fostering the integral development of the communities where
                        we operate and promoting care for the environment.
                        <a class="text-white mb-4 mt-4"
                           href="https://investorcloud.s3.amazonaws.com/corporativoelementia/ReportesAnuales/Informe-anual-2021.pdf"
                           aria-label="this opens in a new tab" target="_blank"></a></p>
                    <p>Read our <strong> Integrated Annual Report</strong></p>
                    </a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container content-wrap">
        <div class="text-center">
            <h2 class="mx-auto mb-3">Our Sustainability Framework</h2>

            <p class="mx-auto mb-0">We strive to manage resources to meet current needs without jeopardizing the needs
                of the future.</p><br>
            <p class="mx-auto mb-0"><b>We always bear in mind social, environmental, and economic development.</b></p>
        </div>
    </div>
    <div class="container content-wrap pt-0">
        <div class="row">
            <div class="col-md-6 col-lg-3 text-center">
                <img class="mb-5" src="{% static 'images/sustentabilidad/icono-social.png' %}" alt="alternative text">
                <h4 class="font-weight-bold">Social</h4>
                <p>We seek to improve the quality of life of our stakeholders</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <img class="mb-5" src="{% static 'images/sustentabilidad/icono-ambiental.png' %}" alt="alternative text">
                <h4 class="font-weight-bold">Environmental</h4>
                <p>We protect and preserve the environment</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <img class="mb-5" src="{% static 'images/sustentabilidad/icono-gobernanza.png' %}" alt="alternative text">
                <h4 class="font-weight-bold">Governance</h4>
                <p>Best corporate governance practices with a sustainable approach</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <img class="mb-5" src="{% static 'images/sustentabilidad/icono-economia.png' %}" alt="alternative text">
                <h4 class="font-weight-bold">Economy</h4>
                <p>We drive sustainable and responsible value creation in the best interests of our stakeholders</p>
            </div>
        </div>
    </div>
    <!--<div class="container content-wrap pb-0 pt-0">
        <div class="row container">
            <h2 class="mx-auto">Nuestro Valores</h2>
        </div>
    </div> -->
    <div class="container content-wrap pt-0">
        <div class="row">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wow slideInLeft practice-column first image-overlay" data-wow-duration="2s">
                            <div class="over-layer"></div>
                            <img src="{% static 'images/sustentabilidad/imag001.png' %}" alt="alternative text">
                            <div class="box-content">
                                <p class="description">We take care of and support<br>our people and communities</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="practice-column second image-overlay wow slideInUp" data-wow-duration="2s">
                            <div class="over-layer"></div>
                            <img src="{% static 'images/sustentabilidad/imag002.png' %}" alt="alternative text">
                            <div class="box-content">
                                <p class="description">We adhere to and promote the UN Sustainable Development Goals
                                    with a
                                    firm commitment to build a better world for all</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="practice-column third image-overlay wow slideInRight" data-wow-duration="2s">
                    <div class="over-layer"></div>
                    <img src="{% static 'images/sustentabilidad/imag003-1.png' %}" alt="alternative text">
                    <div class="box-content">
                        <p class="description">We protect and preserve <br>the environment</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="practice-column first wow slideInLeft image-overlay" data-wow-duration="2s">
                    <div class="over-layer"></div>
                    <img src="{% static 'images/sustentabilidad/imag004.png' %}" alt="alternative text">
                    <div class="box-content">
                        <p class="description">We adopt the best corporate governance practices under a sustainable
                            approach</p>
                    </div>
                    <div class="lower-content text-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container content-wrap pt-0">
        <div class="row">
            <blockquote class="blockquote mb-3">We are aware of the importance of answering the global call to protect
                our environments
                and ensure an adequate quality of life, for this reason we strive to minimize the environmental impact
                of our processes.
            </blockquote>

            {#            <div class="row container">#}
            {#                <h2 class="mx-auto mb-3">Gestión Ambiental</h2>#}
            {##}
            {#                <p class="mx-auto mb-0">Nuestra estrategia de gestión ambiental dirige nuestros esfuerzos#}
            {#                    hacia procesos más sustentables en la que se optimiza el uso de los recursos#}
            {#                    mediante el monitoreo y control de los aspectos ambientales significativos relacionados al consumo#}
            {#                    <b>energético, el aprovechamiento de agua y la gestión de residuos.</b></p><br><br><br>#}
            {##}
            {#            </div>#}
            {##}
            {#            <div class="col-md-4 text-center">#}
            {#                <img class="mb-5" src="{% static 'images/sustentabilidad/electricidad.png' %}" alt="alternative text">#}
            {#                <h4 class="font-weight-bold">Energía</h4>#}
            {#                <p>Desarrollamos una estrategia orientada a la generación de eficiencias energéticas (térmica y#}
            {#                    eléctrica) en cada uno de nuestros procesos.</p>#}
            {#            </div>#}
            {#            <div class="col-md-4 text-center">#}
            {#                <img class="mb-5" src="{% static 'images/sustentabilidad/agua.png' %}" alt="alternative text">#}
            {#                <h4 class="font-weight-bold">Agua</h4>#}
            {#                <p>Adopción constante de procesos que contribuyan a un menor consumo de agua y permitan su#}
            {#                    reutilización. </p>#}
            {#                <ul>#}
            {#                    <li>- Medimos y controlamos su consumo</li>#}
            {#                    <li>- Optimizamos equipos y procesos para garantizar su máximo aprovechamiento</li>#}
            {#                    <li>- La Reutilizamos y reciclamos</li>#}
            {#                </ul>#}
            {#            </div>#}
            {#            <div class="col-md-4 text-center">#}
            {#                <img class="mb-5" src="{% static 'images/sustentabilidad/residuos.png' %}" alt="alternative text">#}
            {#                <h4 class="font-weight-bold">Residuos</h4>#}
            {#                <p>Enfoque de gestión fundamentado en la jerarquización de residuos.</p>#}
            {#                <ul>#}
            {#                    <li>- Monitoreamos su generación</li>#}
            {#                    <li>- Promovemos un uso eficiente de todos los insumos</li>#}
            {#                    <li>- Realizamos diversas actividades de reciclaje</li>#}
            {#                    <li>- Impulsamos el uso de materiales reciclados o renovables</li>#}
            {#                </ul>#}
            {#            </div>#}
            <div class="col-12 d-flex justify-content-center mt-5">
                <a class="btn btn-outline-info d-flex align-items-center integrado"
                   href="{% url 'publicaciones' %}">
                    <p class="mb-0">Read our <br><strong>Annual Reports</strong></p>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
