{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}


{% block wrapper %}
    <div class="container pt-5 pb-5">

      <div class="row portfolio">
           <div class="entry-image col-md-4">
								<a href="{% static 'images/portfolio/desarrollos/cancun7.png' %}" data-lightbox="image"><img class="image_fade" src="{% static 'images/portfolio/desarrollos/cancun7.png' %}" alt="Hotel business upscale" style="opacity: 1;"></a>
          </div>
           <div class="entry-image col-md-4">
								<a href="{% static 'images/portfolio/desarrollos/cancun8.png' %}" data-lightbox="image"><img class="image_fade" src="{% static 'images/portfolio/desarrollos/cancun8.png' %}" alt="Hotel business upscale" style="opacity: 1;"></a>
          </div>
           <div class="entry-image col-md-4">
								<a href="{% static 'images/portfolio/desarrollos/cancun9.png' %}" data-lightbox="image"><img class="image_fade" src="{% static 'images/portfolio/desarrollos/cancun9.png' %}" alt="Hotel business upscale" style="opacity: 1;"></a>
          </div>
                  <div class="col-md-12"><br></div>
           <div class="entry-image col-md-4">
								<a href="{% static 'images/portfolio/desarrollos/cancun10.png' %}" data-lightbox="image"><img class="image_fade" src="{% static 'images/portfolio/desarrollos/cancun10.png' %}" alt="Hotel business upscale" style="opacity: 1;"></a>
          </div>
           <div class="entry-image col-md-4">
								<a href="{% static 'images/portfolio/desarrollos/cancun11.png' %}" data-lightbox="image"><img class="image_fade" src="{% static 'images/portfolio/desarrollos/cancun11.png' %}" alt="Hotel business upscale" style="opacity: 1;"></a>
          </div>
           <div class="entry-image col-md-4">
								<a href="{% static 'images/portfolio/desarrollos/cancun12.png' %}" data-lightbox="image"><img class="image_fade" src="{% static 'images/portfolio/desarrollos/cancun12.png' %}" alt="Hotel business upscale" style="opacity: 1;"></a>
          </div>

      </div>

      <h3></h3>
                <p>Hotel premium ubicado en Cancún, Quintana Roo, en la zona hotelera de la Ciudad, cuenta con una ubicación privilegiada frente
                  hacia la laguna Nichupté. Se prevé que sea la segunda etapa de Grand Island Cancún I.</p>
                <p>
                Se planea que Grand Island II inicie operaciones en 2025 y sea operado por AM Resorts bajo un concepto “familiar” y otro para “sólo
                adultos”. El Hotel contará con aproximadamente 2,000 habitaciones y compartirá las amenidades con Grand Island Cancún I, considerando
                el crystal lagoon de aproximadamente 15,000 m<sup>2</sup>, 10 restaurantes y 2 discotecas. El Hotel operará bajo un esquema <em>all inclusive</em>.
                </p>

    </div>
{% endblock %}

{% block otherscripts %}
    <script src="{% static 'javascripts/amCharts/amcharts.js' %}"></script>
    <script src="{% static 'javascripts/amCharts/serial.js' %}"></script>
    <script src="{% static 'javascripts/amCharts/pie.js' %}"></script>
    <script src="{% static 'javascripts/amCharts/themes/iredge.js' %}"></script>
    <script src="{% static 'javascripts/amCharts/contenido/en-numeros.js' %}?v=1.0.1"></script>
{% endblock %}
