{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}


{% block wrapper %}
    <div class="container pt-5 pb-5">

      <div class="row portfolio">
           <div class="entry-image col-md-4">
								<a href="{% static 'images/portfolio/desarrollos/dreams5.png' %}" data-lightbox="image"><img class="image_fade" src="{% static 'images/portfolio/desarrollos/dreams5.png' %}" alt="Hotel business upscale" style="opacity: 1;"></a>
          </div>
           <div class="entry-image col-md-4">
								<a href="{% static 'images/portfolio/desarrollos/dreams4.png' %}" data-lightbox="image"><img class="image_fade" src="{% static 'images/portfolio/desarrollos/dreams4.png' %}" alt="Hotel business upscale" style="opacity: 1;"></a>
          </div>
           <div class="entry-image col-md-4">
								<a href="{% static 'images/portfolio/desarrollos/dreams3.png' %}" data-lightbox="image"><img class="image_fade" src="{% static 'images/portfolio/desarrollos/dreams3.png' %}" alt="Hotel business upscale" style="opacity: 1;"></a>
          </div>
                  <div class="col-md-12"><br></div>
           <div class="entry-image col-md-4">
								<a href="{% static 'images/portfolio/desarrollos/dreams6.png' %}" data-lightbox="image"><img class="image_fade" src="{% static 'images/portfolio/desarrollos/dreams6.png' %}" alt="Hotel business upscale" style="opacity: 1;"></a>
          </div>
           <div class="entry-image col-md-4">
								<a href="{% static 'images/portfolio/desarrollos/dreams1.png' %}" data-lightbox="image"><img class="image_fade" src="{% static 'images/portfolio/desarrollos/dreams1.png' %}" alt="Hotel business upscale" style="opacity: 1;"></a>
          </div>
           <div class="entry-image col-md-4">
								<a href="{% static 'images/portfolio/desarrollos/dreams2.png' %}" data-lightbox="image"><img class="image_fade" src="{% static 'images/portfolio/desarrollos/dreams2.png' %}" alt="Hotel business upscale" style="opacity: 1;"></a>
          </div>

      </div>

      <h3></h3>
                <p>Situado a 60 minutos de la frontera Tijuana/San Diego, el Hotel Dreams se posiciona en un punto clave de interés turístico para la zona, teniendo a pocos minutos las playas de Ensenada, Tijuana y
                  Rosarito, así como demás actividades del gusto nacional e internacional.
                    El edificio contará con alrededor de 350 habitaciones distribuidas en 3 pisos y será operado por AM Resorts bajo la marca Dreams, reconocida por su alta calidad y experiencia en la administración de activos hoteleros.
                </p>

    </div>
{% endblock %}

{% block otherscripts %}
    <script src="{% static 'javascripts/amCharts/amcharts.js' %}"></script>
    <script src="{% static 'javascripts/amCharts/serial.js' %}"></script>
    <script src="{% static 'javascripts/amCharts/pie.js' %}"></script>
    <script src="{% static 'javascripts/amCharts/themes/iredge.js' %}"></script>
    <script src="{% static 'javascripts/amCharts/contenido/en-numeros.js' %}?v=1.0.1"></script>
{% endblock %}
