{% extends 'layouts/interior.html' %}
{% load static %}

{% block otherstyles %}
{% endblock %}

{% block wrapper %}
    <div class="content-wrap pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="text-justify">El Auditor Externo del Fideicomiso es Galaz, Yamazaki, Ruiz Urquiza, S.C.
                        miembro de Deloitte
                        Touche Tohmatsu Limited. No obstante, lo anterior, el Comité Técnico tendrá la facultad de
                        designar a los Auditores Externos en cualquier momento que sea necesario, conveniente u
                        obligatorio de conformidad con la Legislación Aplicable a el Fideicomiso. </p>

                    <p>El Auditor Externo tiene como objetivo: </p>

                    <ul>
                        <li class="text-justify">• Auditar conforme a las Normas Internacionales de Auditoría (las
                            “NIAs”) los Estados
                            Financieros del Fideicomiso, que comprenden el estado de posición financiera al 31 de
                            diciembre de 2021, el estado de resultados, el estado de cambios en el patrimonio y el
                            estado de flujos de efectivo correspondientes al ejercicio terminado en dicha fecha y un
                            resumen de las políticas contables significativas y otra información explicativa (los
                            “Estados Financieros”).
                        </li>
                        <li class="text-justify">• Igualmente, entre otras obligaciones, tendrá la de elaborar y
                            presentar dentro de los
                            primeros 120 (ciento veinte) Días Hábiles de cada año los Estados Financieros auditados del
                            año inmediato anterior, así como la opinión del Auditor Externo al Fiduciario, al Asesor y
                            Administrador, al Representante Común y al Comité de Auditoría para su presentación y
                            aprobación a la Asamblea Anual de Tenedores.
                        </li>
                    </ul>

                    <p class="text-justify">El Auditor Externo podrá ser removido en caso de que el Comité Técnico por
                        recomendación del
                        Comité de Auditoría, acuerde sustituirlo. </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
{% endblock %}
