{% extends 'layouts/interior.html' %}
{% load static %}

{% block otherstyles %}
{% endblock %}

{% block wrapper %}
    <div class="content-wrap pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>El Comité Técnico está integrado por 9 miembros, de los cuales 4 califican como
                        independientes. </p>

                    <p>El Comité Técnico está compuesto por un grupo diverso de profesionales que han sido seleccionados
                        por su capacidad, reputación y conocimientos en la disciplina respectiva. En particular, los
                        Miembros Independientes de nuestro Comité Técnico, conjuntamente tienen conocimientos en
                        economía, mercado de capitales, comercio internacional y administración, que complementan los
                        conocimientos de manejo de inversiones y sector inmobiliario de nuestro Administrador.</p>

                    <p>Posterior a la adquisición de Fibra del 70.9% de los certificados bursátiles fiduciarios
                        inmobiliarios de Fibra HD el 14 de octubre de 2021, la recomposición del Comité Técnico de FIBRA
                        HD es la siguiente: </p>

                    <table class="table analistas table-striped mt-4">
                        <thead>
                        <tr>
                            <th><strong>Miembro del Comité Técnico</strong></th>
                            <th><strong>Tipo de Consejero</strong></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Gustavo Felipe Tomé Velázquez</td>
                            <td>Propietario (Presidente)</td>
                        </tr>
                        <tr>
                            <td>Gustavo Adolfo Ramírez Berrueta</td>
                            <td>Propietario</td>
                        </tr>
                        <tr>
                            <td>Miguel Navarro De La Torre</td>
                            <td>Propietario</td>
                        </tr>
                        <tr>
                            <td>Rodrigo González Zerbi</td>
                            <td>Propietario</td>
                        </tr>
                        <tr>
                            <td>Gonzalo Luis Portilla Forcén</td>
                            <td>Propietario</td>
                        </tr>
                        <tr>
                            <td>Eliser García Macdonel</td>
                            <td>Independiente</td>
                        </tr>
                        <tr>
                            <td>Sergio Alberto Férez Bitar</td>
                            <td>Independiente</td>
                        </tr>
                        <tr>
                            <td>Adrián Urbina Galicia</td>
                            <td>Independiente</td>
                        </tr>
                        <tr>
                            <td>Enrique Valdespino Pastrana</td>
                            <td>Independiente</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
{% endblock %}
