{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}

{% block wrapper %}

<div class="container p-5">
<h2>Comité Técnico</h2>
<h3>Integración</h3>
<p>El principal órgano dentro del gobierno corporativo de cada fideicomiso es el Comité Técnico, el cual estará integrado hasta por 21 miembros propietarios y sus respectivos suplentes, de los cuales la mayoría deberán ser miembros independientes. Para la conformación de este importante comité se tomará en cuenta lo siguiente:</p>
<ul>
    <li>•	Los tenedores que en lo individual o en su conjunto representen al menos el 25% o más de los certificados en circulación tendrán el derecho de designar a un miembro del Comité Técnico, siempre que así lo expresen. </li>
    <li>•	En caso de que ningún tenedor ejerza su derecho a elegir a un miembro del Comité conforme al punto anterior, el Administrador tendrá la facultad de nombrar a la totalidad de los miembros propietarios del Comité Técnico y sus respectivos suplentes.</li>
</ul>
<p>Asimismo, la propuesta de un miembro, independientemente de quien la haga, deberá contemplar principalmente la experiencia, capacidad y prestigio profesional del funcionario. </p>

<h3>Principales atribuciones </h3>
<p>Entre las facultades y obligaciones principales del Comité estarán, entre otras, las siguientes:</p>
<ul>
    <li>•	Vigilar el cumplimiento de lo establecido en los documentos de emisión y proponer modificaciones a los mismos, en caso de ser necesario. </li>
    <li>•	Verificar el desempeño del Administrador del patrimonio del fideicomiso o a quien se le encomienden dichas funciones. </li>
    <li>•	Dar cumplimiento a las disposiciones aplicables a la Circular Única de Auditores, según le sean aplicables. </li>
    <li>•	Establecer el Comité de Conflictos. </li>
</ul>
<p>Además, los miembros que conformen el Comité Técnico podrán solicitar la aprobación de los asuntos que consideren pertinentes, así como solicitar la opinión de expertos independientes cuando así se requiera. Por otra parte, la mayoría de los miembros independientes podrán Instruir al Fiduciario la revelación de eventos relevantes de que tengan conocimiento. </p>


<h2>Comité de Conflictos </h2>
<p>Para la mediación y resolución de conflictos de interés que se pudieran presentar para el Fideicomiso, el Comité Técnico se auxiliará en el Comité de Conflictos, mismo que estará integrado por un mínimo de 3 miembros independientes y cuyas resoluciones se adoptarán por mayoría simple de sus miembros.</p>
<p>Entre sus atribuciones principales estarán, entre otras, las siguientes:</p>
<ul>
    <li>•	Aprobar cambios a las Políticas de Operaciones con Partes Relacionadas.</li>
    <li>•	Recomendar al Comité Técnico aumentos a la remuneración del Administrador, para lo cual podrá solicitar la opinión de un experto independiente.</li>
</ul>

</div>
{% endblock %}




{#{% block wrapper %}#}
{##}
{#<div class="container p-5">#}
{#  <p>#}
{#Para la correcta operación de sus funciones, el Consejo de Administración se vale del apoyo de los siguientes comités y sus integrantes, de los cuales al menos un miembro#}
{#es un experto financiero:#}
{#</p>#}
{#  <ul class="comites nav nav-pills">#}
{#    <li class="active"><a data-toggle="pill" href="#home" class="active">Comité de Auditoría y Prácticas Societarias</a></li>#}
{#    <li><a data-toggle="pill" href="#menu1">Comité de Compensación</a></li>#}
{#    <li><a data-toggle="pill" href="#menu2">Comité de Inversión</a></li>#}
{#    <li><a data-toggle="pill" href="#menu3">Comité de Nominaciones</a></li>#}
{#  </ul>#}
{##}
{#  <div class="tab-content">#}
{#    <div id="home" class="tab-pane fade in active">#}
{#      <br>#}
{#      <h3 align="center">Comité de Auditoría y Prácticas Societarias</h3>#}
{#        <table class="table table-striped">#}
{#            <thead>#}
{#            <tr align="center">#}
{#                <th>Nombre</th>#}
{#                <th>Cargo</th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody align="center">#}
{#            <tr>#}
{#                <td>Francisco Garza Sambrano</td>#}
{#                <td>Presidente</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Javier Astaburuaga Sanjinés	</td>#}
{#                <td>Miembro</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Paulino Rodríguez Mendívil	</td>#}
{#                <td>Miembro</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Hernán Treviño de Vega</td>#}
{#                <td>	Secretario no miembro</td>#}
{#            </tr>#}
{#            </tbody>#}
{#        </table>#}
{##}
{#    </div>#}
{#    <div id="menu1" class="tab-pane fade">#}
{#      <br>#}
{#      <h3 align="center">Comité de Compensación</h3>#}
{#<table class="table table-striped">#}
{#            <thead>#}
{#            <tr align="center">#}
{#                <th>Nombre</th>#}
{#                <th>Cargo</th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody align="center">#}
{#            <tr>#}
{#                <td>Jesús Acosta Verde</td>#}
{#                <td>Presidente</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Mariano Menkes</td>#}
{#                <td>Miembro</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Federico Peón Mijares	</td>#}
{#                <td>Miembro</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Paulino Rodríguez Mendívil	</td>#}
{#                <td>Miembro</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Hernán Treviño de Vega</td>#}
{#                <td>	Secretario no miembro</td>#}
{#            </tr>#}
{#            </tbody>#}
{#        </table>    </div>#}
{#    <div id="menu2" class="tab-pane fade">#}
{#      <br>#}
{#      <h3 align="center">Comité de Inversión</h3>#}
{#<table class="table table-striped">#}
{#            <thead>#}
{#            <tr align="center">#}
{#                <th>Nombre</th>#}
{#                <th>Cargo</th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody align="center">#}
{#            <tr>#}
{#                <td>José Garza Treviño</td>#}
{#                <td>Presidente</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Mariano Menkes</td>#}
{#                <td>Miembro</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Federico Peón Mijares	</td>#}
{#                <td>Miembro</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>David Contis</td>#}
{#                <td>Miembro</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Hernán Treviño de Vega</td>#}
{#                <td>	Secretario no miembro</td>#}
{#            </tr>#}
{#            </tbody>#}
{#        </table>        </div>#}
{#    <div id="menu3" class="tab-pane fade">#}
{#      <br>#}
{#      <h3 align="center">Comité de Nominaciones</h3>#}
{#<table class="table table-striped">#}
{#            <thead>#}
{#            <tr align="center">#}
{#                <th>Nombre</th>#}
{#                <th>Cargo</th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody align="center">#}
{#            <tr>#}
{#                <td>Jesús Acosta Verde</td>#}
{#                <td>Presidente</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Brian Finerty</td>#}
{#                <td>Miembro</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Federico Peón Mijares	</td>#}
{#                <td>Miembro</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Francisco Garza Zambrano</td>#}
{#                <td>Miembro</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Hernán Treviño de Vega</td>#}
{#                <td>	Secretario no miembro</td>#}
{#            </tr>#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}
{#  </div>#}
{#</div>#}
{#{% endblock %}#}

{% block otherscripts %}
{% endblock %}
