{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}


{% block wrapper %}
    <div class="container p-5">
        <div class="row mb-3">
            <div class="col-md-6">
                <p>Para la consecución de los objetivos de la Compañía, Murano apalanca su operación en un completo
                    equipo multidisciplinario que cuenta con más de 20 años de experiencia conjunta en el sector
                    inmobiliario y de bienes raíces en México, y que además se especializa en todas las ramas
                    relacionadas a la estructuración de negocios con operadores, brindando una sensibilidad de primer
                    nivel para poder identificar oportunidades en todo el país. </p>

            </div>
            <div class="col-md-6">
                <img src="{% static 'images/gobierno/directivos1.png' %}" style="width: 90%" alt="alternative text">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <img src="{% static 'images/gobierno/equipo_directivo2.png' %}" alt="alternative text" style="width: 100%">
            </div>
        </div>
        <br>
        <div class="accordion custom" id="accordionDirectivos">
            <div class="">
                <button class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                    <p class="mb-0 text-left">
                        Marcos Sacal<br/>
                        <span class="cargo">
CEO
                            </span>
                    </p>
                </button>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                     data-parent="#accordionDirectivos">
                    <div class="card-body">
                        El Lic. Marcos Sacal es el <b>CEO</b> y fundador de <b>Murano</b>, cuenta con una amplia trayectoria
                        empresarial participando durante los últimos 7 años como Director de Proyectos en Bay View
                        Grand, empresa dedicada al desarrollo de complejos residenciales en zonas de alta recepción
                        turística. También, es fundador y Director General de Archaio, la empresa líder en software de
                        inspección, operación y mantenimiento basado en la nube de activos inmobiliarios. Es Licenciado
                        en Administración de Empresas con diplomado en Finanzas Corporativas por el ITAM y cuenta con un
                        diplomado en Finanzas con Certificación en Evaluación de Proyectos de Inversión por The Harvard
                        University.
                    </div>
                </div>
            </div>
            <div class="">
                <button id="heading9" class="card-header collapsed" type="button" data-toggle="collapse"
                        data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                    <p class="mb-0 text-left">
                       Rubén Camiro <br/>
                        <span class="cargo">CFO
                            </span>
                    </p>
                </button>
                <div id="collapse9" class="collapse" aria-labelledby="heading9"
                     data-parent="#accordionDirectivos">
                    <div class="card-body">
                        El Lic. Rubén Camiro es el CFO de Murano, cuenta con una amplia experiencia como CEO de empresas privadas y Director de Finanzas de compañías públicas, donde destaca su participación en Grupo Posadas, la empresa de hotelería más grande de Latinoamérica. Actualmente es Director Independiente y Presidente del Comité de Auditoría de Agroasemex (Reaseguradora agropecuaria y de riesgos catastróficos). El Sr. Camiro es Licenciado en Ciencias Actuariales por parte de la Universidad Anahuac, y cuenta con una Maestría en Administración de Empresas, de la cual se graduó con honores, por parte de la Escuela de Negocios de Fuqua (Fuqua School of Business), una facultad de la Universidad de Duke.
                    </div>
                </div>
            </div>
            <div class="">
                <button id="headingThree" class="card-header collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <p class="mb-0 text-left">
                        Michell Nader<br/>
                        <span class="cargo">
                                Asesor
                        </span>
                    </p>
                </button>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                     data-parent="#accordionDirectivos">
                    <div class="card-body">
                        El Sr. Nader se ha desarrollado en el ámbito bancario y financiero por más de 30 años, obteniendo una amplia experiencia en la asesoría a inversionistas de alto perfil para proyectos en el sector inmobiliario, destacando su participación como asesor del Departamento del Tesoro de los EE.UU. para la aprobación del paquete financiero de emergencia de US$ 20,000 mills. otorgado a México en 1995. También, ha representado a distintos patrocinadores de Fibras, CKDs y emisores de bonos en ofertas mexicanas y globales.

                    </div>
                </div>
            </div>
            <div class="">
                <button id="heading5" class="card-header collapsed" type="button" data-toggle="collapse"
                        data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    <p class="mb-0 text-left">
                        Marco Vázquez<br/>
                        <span class="cargo">
Director de Proyectos                            </span>
                    </p>
                </button>
                <div id="collapse5" class="collapse" aria-labelledby="heading5"
                     data-parent="#accordionDirectivos">
                    <div class="card-body">
                        El Ingeniero y Arquitecto Marco Vázquez cuenta con más de 17 años de experiencia en el desarrollo de bienes, desempeñándose como gerente de proyectos para Sanz Arquitectos Asociados desde 2005; antes de unirse a Murano, también participó como Gerente de Proyectos en Bay View Grand donde lidereó diversos desarrollos como Villa Alejandra en Acapulco Guerrero, Grand Ventean en Puerto Vallarta y Residencial Gran Dorado, en el Estado de México, entre otros.
                    </div>
                </div>
            </div>
            <div class="">
                <button id="heading6" class="card-header collapsed" type="button" data-toggle="collapse"
                        data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                    <p class="mb-0 text-left">
                       Pablo Hernández <br/>
                        <span class="cargo">
Director de Construcción                          </span>
                    </p>
                </button>
                <div id="collapse6" class="collapse" aria-labelledby="heading6"
                     data-parent="#accordionDirectivos">
                    <div class="card-body">
                       El Ing. Pablo Hernández cuenta con más de 15 años de experiencia en el desarrollo, construcción y puesta en marcha de proyectos turísticos para desarrolladores como Vidanta y RLH Properties. Ha creado, capacitado y dirigido equipos multidisciplinarios de profesionales logrando aperturar más de 10,000 habitaciones de distintos tipos; proyectos que incluyen la participación de diseñadores como Enrique Norten, Sordo Madaleno, Rick Joy y Jack Nicklaus. El Sr. Hernández es Ingeniero Civil con postgrado en Dirección y Administración de Proyectos Inmobiliarios.
                    </div>
                </div>
            </div>
            <!---<div class="">
                <button id="heading7" class="card-header collapsed" type="button" data-toggle="collapse"
                        data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                    <p class="mb-0 text-left">
                        Edgar Pérez<br/>
                        <span class="cargo">
Director Financiero y Fondeos                         </span>
                    </p>
                </button>
                <div id="collapse7" class="collapse" aria-labelledby="heading7"
                     data-parent="#accordionDirectivos">
                    <div class="card-body">
                        El Lic. Edgar Pérez tiene más de 20 años de experiencia en el sector financiero inmobiliario, participando como Director de Operación y Finanzas para distinguidas instituciones financieras como Banco del Bajío, así como con otros grupos desarrolladores inmobiliarios actuando como enlace estratégico para la negociación de líneas de crédito por más de Ps.1,000 mills. en los últimos años. Es Licenciado en Administración de Empresas con especialidad en Banca y Finanzas y Maestro en Administración por la Universidad Autónoma Metropolitana y en Administración Pública por la Universidad de Alcalá de Henares.
                    </div>
                </div>
            </div>-->
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
{% endblock %}
