{% extends 'layouts/interior.html' %}
{% load static %}

{% block otherstyles %}
{% endblock %}

{% block wrapper %}
    <div class="content-wrap pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>Fibra HD es administrada por el Asesor y Administrador, que es una sociedad civil de la cual
                        Fibra HD es socio al 99.9%. El Asesor y Administrador está a cargo de identificar las
                        oportunidades de inversión, ponerlas a consideración del Comité Técnico y, en su caso, gestionar
                        las inversiones y desinversiones del Patrimonio del Fideicomiso. Asimismo, Fibra HD es
                        administrada internamente, de tal forma que el Asesor y Administrador es una Sociedad Civil en
                        la cual participa Fibra HD con el 99.9%. </p>
                    
                    <div class="text-center">
                        <img src="{% static 'images/fibrahd/estructura_corporativa.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
{% endblock %}
