{% extends 'layouts/interior.html' %}
{% load static %}

{% block otherstyles %}
{% endblock %}

{% block wrapper %}
    <div class="content-wrap pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>Comité de Auditoría y Prácticas</h3>
                    <p>Nuestro Comité de Auditoría y Prácticas está integrado por 3 miembros independientes.</p>

                    <table class="table analistas table-striped mt-4">
                        <thead>
                        <tr>
                            <th><strong>Miembro del Comité de Auditoría y Prácticas</strong></th>
                            <th><strong>Tipo de Consejero</strong></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Eliser García Macdonel</td>
                            <td>Independiente</td>
                        </tr>
                        <tr>
                            <td>Sergio Alberto Férez Bitar</td>
                            <td>Independiente</td>
                        </tr>
                        <tr>
                            <td>Adrián Urbina Galicia</td>
                            <td>Independiente (Presidente)</td>
                        </tr>
                        </tbody>
                    </table>

                    <h3>Comité de Nominaciones </h3>
                    <p>Nuestro Comité de Nominaciones está integrado por tres miembros independientes</p>

                    <table class="table analistas table-striped mt-4">
                        <thead>
                        <tr>
                            <th><strong>Miembro del Comité de Auditoría y Prácticas</strong></th>
                            <th><strong>Tipo de Consejero</strong></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Eliser García Macdonel</td>
                            <td>Independiente</td>
                        </tr>
                        <tr>
                            <td>Sergio Alberto Férez Bitar</td>
                            <td>Independiente (Presidente)</td>
                        </tr>
                        <tr>
                            <td>Adrián Urbina Galicia</td>
                            <td>Independiente</td>
                        </tr>
                        </tbody>
                    </table>

                    <h3>Comité de Compensaciones</h3>
                    <p>El Comité de Compensaciones se encuentra integrado por tres miembros independientes</p>

                    <table class="table analistas table-striped mt-4">
                        <thead>
                        <tr>
                            <th><strong>Miembro del Comité de Auditoría y Prácticas</strong></th>
                            <th><strong>Tipo de Consejero</strong></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Eliser García Macdonel</td>
                            <td>Independiente (Presidente)</td>
                        </tr>
                        <tr>
                            <td>Sergio Alberto Férez Bitar</td>
                            <td>Independiente</td>
                        </tr>
                        <tr>
                            <td>Adrián Urbina Galicia</td>
                            <td>Independiente</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
{% endblock %}
