{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}


{% block wrapper %}

    <div class="container p-5">
        <div class="infografia">
            <p>Grupo Murano, como Administrador de cada fideicomiso y en la búsqueda de alinear los intereses de la Compañía con el cumplimiento de los objetivos trazados, tiene derecho a recibir una contraprestación a base anual por el desempeño de sus funciones relacionada con el valor promedio del fideicomiso correspondiente, misma que se pagará trimestralmente de forma anticipada con los recursos del patrimonio. </p>
            <p>El monto de dicha remuneración, en caso de existir, podrá ser aumentado por autorización de la Asamblea de Tenedores respectiva después de ser aprobada por los Comités de cada fideicomiso. Asimismo, el Administrador tendrá derecho a que el Fiduciario le reembolse todos los gastos y costos razonables incurridos derivados del desempeño de dichas funciones. </p>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
{% endblock %}
