{% extends 'layouts/interior.html' %}
{% load static %}

{% block otherstyles %}
{% endblock %}

{% block wrapper %}
    <div class="content-wrap pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>Los CBFIs confieren a los Tenedores, de conformidad con el artículo 63, fracción II de la Ley del
                        Mercado de Valores, el derecho a una parte de los frutos, rendimientos y en su caso, al valor
                        residual de los bienes o derechos afectos con ese propósito al Fideicomiso, por lo que confieren
                        el derecho a recibir Distribuciones de Efectivo del Patrimonio del Fideicomiso, en la medida en
                        que éste sea suficiente para realizar dichas Distribuciones de Efectivo. Lo anterior en el
                        entendido que </p>

                    <ul>
                        <li>(i) los CBFIs no otorgan derecho alguno sobre la propiedad de los Activos a sus Tenedores
                            y
                        </li>
                        <li>(ii) no generan a cargo del Fideicomiso la obligación de pago de principal ni de
                            intereses.
                        </li>
                    </ul>

                    <p>Al 31 de diciembre de 2021, el 70.9% de los CBFIs en circulación pertenecen a Fibra Plus
                        (FPLUS16), gracias a la OPA, el cual corresponde al porcentaje de inversionistas que aceptaron
                        el intercambio de CBFIs de Fibra HD15 por CBFIs FPLUS16, a un factor de intercambio final de
                        2.5x (CBFIs de FibraHD15 por cada CBFI de FPLUS16). Otro tenedor relevante con más del 10% de
                        participación es Grupo Profuturo SAB de CV. El resto de los CBFIs en circulación pertenecen al
                        público inversionista. </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
{% endblock %}
