{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}


{% block wrapper %}
    <section id="content">
        <div class="container">
            <div class="col-12" id="noticias">

              <br>
                <div class="d-flex justify-content-end align-items-center mb-5"><h4
                        class="mb-0 mr-3 font-weight-bold text-black">Elige
                    año</h4>
                    <select role="presentation" class="fancyselect" name="select_anno" id="select_anno">
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <!---<option value="2019">2019</option>-->
                    </select>
                </div>

                <div class="accordion plus-icon shadow mb-30" id="accordion_2020">
                    <div class="acd-group">
                        <a data-target="#2" href="#" class="acd-heading scroll-to-target" style="text-transform: none">
                            <div class="d-flex align-items-start flex-wrap">
                                <div class="mr-5 mb-2 mb-md-0">
                                    <span class="cargo font-weight-bold">11/02/2020</span>
                                </div>
                                Quintana Roo Tourism Investment Summit 2020 detonante de inversiones
                            </div>
                        </a>
                        <div id="2" class="acd-des" style="display: none;">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="media">
                                            <img class="d-none d-md-block col-md-3 card-img-top align-self-center mr-3"
                                                 src="{% static 'images/estrategia/nosotros/2020-1.png' %}" alt="Blog image">
                                            <div class="media-body">
                                                <ul class="circle-green">
                                                    <li>Entre los lanzamientos que se comunicarán en esta cumbre de
                                                        negocios
                                                        está el anuncio de Grupo Murano, que inyectará más de 1,000
                                                        millones
                                                        de dólares (mdd) en conjunto con los bancos Sabadell, La Caixa y
                                                        Bancomext a la zona hotelera de Cancún en la construcción del
                                                        World
                                                        Trade Center Cancún, un magno espacio para la industria de
                                                        reuniones.
                                                    </li>
                                                </ul>
                                                <br>
                                                <a aria-label="this opens in a new tab" target="_blank" href="https://expansion.mx/bespoke-ad/2020/02/11/quintana-roo-tourism-investment-summit-2020-detonante-de-inversiones"
                                                   class="card-link btn-infoe btn">Leer más</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion plus-icon shadow mb-30" id="accordion_2019">
                    <div class="acd-group">
                        <a data-target="#2" href="#" class="acd-heading scroll-to-target" style="text-transform: none">
                            <div class="d-flex align-items-start flex-wrap">
                                <div class="mr-5 mb-2 mb-md-0">
                                    <span class="cargo font-weight-bold">12/12/2019</span>
                                </div>
                                Financiarán CKDs megaproyecto turístico
                            </div>
                        </a>
                        <div id="2" class="acd-des" style="display: none;">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="media">
                                            <img class="d-none d-md-block col-md-3 card-img-top align-self-center mr-3"
                                                 src="{% static 'images/estrategia/nosotros/2019-1.png' %}" alt="Blog image">
                                            <div class="media-body">
                                              <ul class="circle-green">
                                                <li>
                                                    La inmobiliaria Grupo Murano irá al mercado de valores para
                                                    conseguir
                                                    los recursos que le faltan, de los mil millones de dólares que
                                                    comprometió, para el megaproyecto hotelero Grand Island Cancún.
                                                </li>
                                              </ul>
                                              <br>
                                                <a aria-label="this opens in a new tab" target="_blank" href="https://www.elnorte.com/aplicacioneslibre/preacceso/articulo/default.aspx?__rval=1&urlredirect=https://www.elnorte.com/financiaran-ckds-megaproyecto-turistico/ar1833436?referer=--7d616165662f3a3a6262623b727a7a7279703b767a783a--"
                                                   class="card-link btn-infoe btn">Leer más</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="acd-group">
                        <a data-target="#2" href="#" class="acd-heading scroll-to-target" style="text-transform: none">
                            <div class="d-flex align-items-start flex-wrap">
                                <div class="mr-5 mb-2 mb-md-0">
                                    <span class="cargo font-weight-bold">05/07/2019</span>
                                </div>
                                Semarnat autoriza la construcción del hotel Grand Island Cancún, de 3,000 habitaciones
                            </div>
                        </a>
                        <div id="2" class="acd-des" style="display: none;">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="media">
                                            <img class="d-none d-md-block col-md-3 card-img-top align-self-center mr-3"
                                                 src="{% static 'images/estrategia/nosotros/2019-2.png' %}" alt="Blog image">
                                            <div class="media-body">
                                                <ul class="circle-green">
                                                  <li>
                                                    La Secretaría de Medio Ambiente y Recursos naturales autorizó la
                                                    construcción del mega hotel Gran Island, de 3,000 habitaciones, en
                                                    la
                                                    segunda etapa de la zona hotelera de Cancún, cuya inversión asciende
                                                    a
                                                    los 10,000 millones de pesos por parte de la firma BVG World.
                                                   </li>
                                                </ul>
                                                <br>
                                                <a aria-label="this opens in a new tab" target="_blank" href="https://www.eleconomista.com.mx/estados/Semarnat-autoriza-la-construccion-del-hotel-Grand-Island-Cancun-de-3000-habitaciones-20190705-0056.html"
                                                   class="card-link btn-infoe btn">Leer más</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion plus-icon shadow mb-30" id="accordion_2018">
                    <div class="acd-group">
                        <a data-target="#2" href="#" class="acd-heading scroll-to-target" style="text-transform: none">
                            <div class="d-flex align-items-start flex-wrap">
                                <div class="mr-5 mb-2 mb-md-0">
                                    <span class="cargo font-weight-bold">05/11/2018</span>
                                </div>
                                Van por turismo en CDMX
                            </div>
                        </a>
                        <div id="2" class="acd-des" style="display: none;">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="media">
                                            <img class="d-none d-md-block col-md-3 card-img-top align-self-center mr-3"
                                                 src="{% static 'images/estrategia/nosotros/2018-1.png' %}" alt="Blog image">
                                            <div class="media-body">
                                              <ul class="circle-green">
                                                <li>
                                                    Confiados en que el turismo en México crecerá, Murano espera abrir
                                                    un
                                                    hotel de 400 habitaciones sobre la Avenida Insurgentes hacia el
                                                    primer
                                                    trimestre de 2020, al cual piensan destinar una inversión de 120
                                                    millones de dólares.
                                                </li>
                                              </ul>
                                              <br>
                                                <a aria-label="this opens in a new tab" target="_blank" href="https://www.zocalo.com.mx/reforma/detail/van-por-turismo-en-cdmx"
                                                   class="card-link btn-infoe btn">Leer más</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="acd-group">
                        <a data-target="#3" href="#" class="acd-heading scroll-to-target" style="text-transform: none">
                            <div class="d-flex align-items-start flex-wrap">
                                <div class="mr-5 mb-2 mb-md-0">
                                    <span class="cargo font-weight-bold">23/10/2018</span>
                                </div>
                                Primer Wyndham Grand de la Ciudad de México en el cosmopolita corredor cultural Roma –
                                Condesa
                            </div>
                        </a>
                        <div id="3" class="acd-des" style="display: none;">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="media">
                                            <img class="d-none d-md-block col-md-3 card-img-top align-self-center mr-3"
                                                 src="{% static 'images/estrategia/nosotros/2018-2.png' %}" alt="Blog image">
                                            <div class="media-body">
                                              <ul class="circle-green">
                                                <li>
                                                    El Wyndham Grand está destinado a convertirse en un Hub corporativo
                                                    y de
                                                    encuentro para viajeros extranjeros y nacionales, contará con un
                                                    gran
                                                    Centro de Convenciones de 1,500 m<sup>2</sup>, ideal para eventos sociales y
                                                    corporativos.
                                                </li>
                                              </ul>
                                              <br>
                                                <a aria-label="this opens in a new tab" target="_blank" href="https://www.vidapositiva.com/primer-wyndham-grand-de-la-ciudad-de-mexico-en-el-cosmopolita-corredor-cultural-roma-condesa"
                                                   class="card-link btn-infoe btn">Leer más</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
{% endblock %}
{% block otherscripts %}
    <script type="application/javascript">
        function cambiar_anno(anno) {
            $('.accordion').addClass('d-none');
            $('.accordion#accordion_' + anno).removeClass('d-none');
        }

        $(function () {
            cambiar_anno({{ anno }});
            $('#select_anno').val({{ anno }});
            $("#accordion_{{ anno }} .acd-heading[data-target='#{{ id }}']").click();

            $('#select_anno').change(function () {
                anno = $(this).val();
                cambiar_anno(anno);
            });
            $('.accordion').each(function (i, elem) {
                var $elem = $(this),
                    $acpanel = $elem.find(".acd-group > .acd-des"),
                    $acsnav = $elem.find(".acd-group > .acd-heading");
                $acpanel.hide().first().slideDown("easeOutExpo");
                $acsnav.first().parent().addClass("acd-active");
                $acsnav.on('click', function () {
                    if (!$(this).parent().hasClass("acd-active")) {
                        var $this = $(this).next(".acd-des");
                        $acsnav.parent().removeClass("acd-active");
                        $(this).parent().addClass("acd-active");
                        $acpanel.not($this).slideUp("easeInExpo");
                        $(this).next().slideDown("easeOutExpo");
                    } else {
                        $(this).parent().removeClass("acd-active");
                        $(this).next().slideUp("easeInExpo");
                    }
                    return false;
                });
            });
        })
    </script>
{% endblock %}
