{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}

{% block wrapper %}
    <div class="content-wrap pb-5 pt-5">
        <article id="contactForm">
            <fieldset class="fieldset m-auto " style="max-width: 600px">
                <div class="">
                    <div class="col-12">
                        <p class="obligatorio">Si desea ponerse en contacto con nosotros puede hacerlo llenando el
                            siguiente formulario.</p>
                    </div>
                    <div class="col-12">
                        <form id="contacto" role="form" class="mb-0">
                            {% csrf_token %}
                            <div class="row clearfix">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" name="form_name" class="form-control"
                                               value=""
                                               placeholder="*Nombre" required="">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" name="form_company"
                                               class="form-control" value=""
                                               placeholder="*Compañía" required="">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" name="form_phone"
                                               class="form-control" value=""
                                               placeholder="*Teléfono" required="">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <input type="email" name="form_email"
                                               class="form-control required email"
                                               value="" placeholder="*Mail"
                                               required="">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" name="form_country"
                                               class="form-control required"
                                               value="" placeholder="*País"
                                               required="">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" name="form_state"
                                               class="form-control" value=""
                                               placeholder="*Estado" required="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="btn w-100 mb-3 card btn btn-default font-weight-bold"
                                         style="background: white;color:#111135; cursor: pointer;"
                                         data-toggle="collapse" href="#collapseExample2"
                                         aria-expanded="false">
                                        *Tema de interés
                                    </div>
                                    <div class="collapse mb-4" id="collapseExample2">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <input name="form_theme" type="radio"
                                                                   value="Inversionistas" checked>
                                                        </div>
                                                    </div>
                                                    <input type="text" class="form-control bg-white"
                                                           value="Inversionistas" disabled>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <input name="form_theme" type="radio"
                                                                   value="Sustentabilidad">
                                                        </div>
                                                    </div>
                                                    <input type="text" class="form-control bg-white"
                                                           value="Sustentabilidad" disabled>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <input name="form_theme" type="radio"
                                                                   value="Vender">
                                                        </div>
                                                    </div>
                                                    <input type="text" class="form-control bg-white"
                                                           value="Vender" disabled>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <input name="form_theme" type="radio"
                                                                   value="Rentar">
                                                        </div>
                                                    </div>
                                                    <input type="text" class="form-control bg-white"
                                                           value="Rentar" disabled>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <input name="form_theme" type="radio"
                                                                   value="Otros">
                                                        </div>
                                                    </div>
                                                    <input type="text" class="form-control bg-white"
                                                           value="Otros" disabled>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <textarea name="form_message" class="form-control textarea required mb-4"
                                                  required=""
                                                  placeholder="*Comentario" rows="7"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group centered-movil mb-0">
                                        <input id="form_botcheck" name="form_botcheck"
                                               class="form-control" type="hidden" value="">

                                    </div>
                                    <div class="button-holder ">

                                        <p class="obligatorio">Los campos marcados con asterisco (*) son
                                            obligatorios</p>

                                        <input class="field"
                                               id="_Contactoportlet_WAR_contactoportlet_acceptLegalConditions"
                                               name="_Contactoportlet_WAR_contactoportlet_acceptLegalConditions"
                                               type="hidden"
                                               value="true">


                                        <button class="btn btn-primary" type="submit"
                                                title="contactForm.button.send"
                                                id="enviar">
                                            Enviar
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-12">

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </fieldset>
        </article>
    </div>

    <div class="modal fade popup" id="popup1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered justify-content-center"
             role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 id="title" class="mt-1 text-center"></h3>
                <div class="container pb-3">
                    <h4>
                        Tu mensaje ha sido enviado
                    </h4>
                    <button type="button" class="btn btn-info" data-dismiss="modal" aria-label="Close">
                        Entendido
                    </button>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block otherscripts %}
    <script>
        $(function () {
            $("#enviar").click(function (e) {
                e.preventDefault();
                if ($("#contacto").valid()) {
                    $('.preloader').show();
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'send-mail-contact' %}",
                        dataType: 'json',
                        data: $("#contacto").serialize(),
                        complete: function (a, b) {
                            $('.preloader').delay(1500).fadeOut(500);
                        },
                        success: function (response) {
                            $("#contacto").trigger('reset');
                            $('.preloader').fadeOut(500);
                            $("#popup1").modal();
                        }
                    });
                } else {
                }
            })
        })
    </script>
{% endblock %}
