{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}

{% block wrapper %}
    <div class="content-wrap">
        <article id="contactForm">
            <fieldset class="fieldset m-auto " style="max-width: 600px">
                <div class="">
                    <div class="col-12">
                        <p class="obligatorio">Si desea ponerse en contacto con nosotros puede hacerlo llenando el
                            siguiente formulario.</p>
                    </div>
                    <div class="col-12">
                        <form id="contacto" role="form" class="mb-0">
                            {% csrf_token %}
                            <div class="row clearfix">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" name="form_name" class="form-control"
                                               value=""
                                               placeholder="*Nombre" required="">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" name="form_company"
                                               class="form-control" value=""
                                               placeholder="*Compañía" required="">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" name="form_phone"
                                               class="form-control" value=""
                                               placeholder="*Teléfono" required="">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <input type="email" name="form_email"
                                               class="form-control required email"
                                               value="" placeholder="*Mail"
                                               required="">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" name="form_country"
                                               class="form-control required"
                                               value="" placeholder="*País"
                                               required="">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" name="form_state"
                                               class="form-control" value=""
                                               placeholder="*Estado" required="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="btn w-100 mb-3 card btn btn-default font-weight-bold"
                                         style="background: white;color:#111135; cursor: pointer;"
                                         data-toggle="collapse" href="#collapseExample2"
                                         aria-expanded="false">
                                        *Tema de interés
                                    </div>
                                    <div class="collapse mb-4" id="collapseExample2">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <input name="form_theme" type="radio"
                                                                   value="napinag@gcarso.com.mx" checked>
                                                        </div>
                                                    </div>
                                                    <input type="text" class="form-control bg-white"
                                                           value="Inversionistas" disabled>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <input name="form_theme" type="radio"
                                                                   value="rgonzalezv@elementia.com">
                                                        </div>
                                                    </div>
                                                    <input type="text" class="form-control bg-white"
                                                           value="Sustentabilidad" disabled>
                                                </div>
                                            </div>


                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <input name="form_theme" type="radio"
                                                                   value="comunicacioninterna@elementia.com">
                                                        </div>
                                                    </div>
                                                    <input type="text" class="form-control bg-white"
                                                           value="Otros" disabled>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <textarea name="form_message" class="form-control textarea required mb-4"
                                                  required=""
                                                  placeholder="*Comentario" rows="7"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-4">
                                    <div class="form-group centered-movil mb-0">
                                        <input id="form_botcheck" name="form_botcheck"
                                               class="form-control" type="hidden" value="">

                                    </div>
                                    <div class="button-holder ">

                                        <p class="obligatorio">Los campos marcados con asterisco (*) son
                                            obligatorios</p>


                                        {#                                <p class="g-recaptcha" data-sitekey="6LdwVC0UAAAAADuDRK5hkBgnuVVfUN56AOmVV6Ej">#}
                                        {#                                <div style="width: 304px; height: 78px;">#}
                                        {#                                    <div>#}
                                        {#                                        <iframe title="reCAPTCHA"#}
                                        {#                                                src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LdwVC0UAAAAADuDRK5hkBgnuVVfUN56AOmVV6Ej&amp;co=aHR0cHM6Ly93d3cuZWxlbWVudGlhbWF0ZXJpYWxlcy5jb206NDQz&amp;hl=es&amp;v=dPctOHA2ifhWm5WzFM_B5TjT&amp;size=normal&amp;cb=j0r4ez7ks731"#}
                                        {#                                                width="304" height="78" role="presentation" name="a-b2oj5w2urad3"#}
                                        {#                                                frameborder="0" scrolling="no"#}
                                        {#                                                sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation"></iframe>#}
                                        {#                                    </div>#}
                                        {#                                    <textarea id="g-recaptcha-response" name="g-recaptcha-response"#}
                                        {#                                              class="g-recaptcha-response"#}
                                        {#                                              style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>#}
                                        {#                                </div>#}
                                        {#                                <iframe style="display: none;"></iframe>#}
                                        {#                                </p>#}


                                        <input class="field"
                                               id="_Contactoportlet_WAR_contactoportlet_acceptLegalConditions"
                                               name="_Contactoportlet_WAR_contactoportlet_acceptLegalConditions"
                                               type="hidden"
                                               value="true">


                                        <button class="btn btn-primary" type="submit"
                                                title="contactForm.button.send"
                                                id="enviar">
                                            Enviar
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <p class="obligatorio">También puedes contactar directamente con la empresa que
                                        desees:</p>
                                    <!--  <div class="mt-3 collapse show" id="collapseExample">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="input-group mb-3">
                                                    <a href="https://www.nacobre.com.mx/contacto" aria-label="this opens in a new tab" target="_blank"
                                                       class="form-control card w-100 bg-white">
                                                        <img src="{% static 'images/contacto/logo-1.png' %}" alt="alternative text">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="input-group mb-3">
                                                    <a href="https://www.mexalit.com/contacto/ventas"
                                                       aria-label="this opens in a new tab" target="_blank" class="form-control card w-100 bg-white">
                                                        <img src="{% static 'images/contacto/logo-7.png' %}" alt="alternative text">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="input-group mb-3">
                                                    <a href="https://www.frigocel.com.mx/web/frigocel-2021/contacto"
                                                       aria-label="this opens in a new tab" target="_blank" class="form-control card w-100 bg-white">
                                                        <img src="{% static 'images/contacto/logo-2.png' %}" alt="alternative text">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="input-group mb-3">
                                                    <a href="https://www.eternit.com.ec/web/eternit-ecuador/contacto"
                                                       aria-label="this opens in a new tab" target="_blank" class="form-control card w-100 bg-white">
                                                        <img src="{% static 'images/contacto/logo-8.png' %}" alt="alternative text">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="input-group mb-3">
                                                    <a href="https://duralit.com/contacto/" aria-label="this opens in a new tab" target="_blank"
                                                       class="form-control card w-100 bg-white">
                                                        <img src="{% static 'images/contacto/logo-3.png' %}" alt="alternative text">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="input-group mb-3">
                                                    <a href="https://allurausa.com/about/contact" aria-label="this opens in a new tab" target="_blank"
                                                       class="form-control card w-100 bg-white">
                                                        <img src="{% static 'images/contacto/logo-9.png' %}" alt="alternative text">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="input-group mb-3">
                                                    <a href="https://plycem.com/contacto/" aria-label="this opens in a new tab" target="_blank"
                                                       class="form-control card w-100 bg-white">
                                                        <img src="{% static 'images/contacto/logo-4.png' %}" alt="alternative text">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="input-group mb-3">
                                                    <a href="https://www.fibraforte.com/#contacto" aria-label="this opens in a new tab" target="_blank"
                                                       class="form-control card w-100 bg-white">
                                                        <img src="{% static 'images/contacto/logo-10.png' %}" alt="alternative text">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="input-group mb-3">
                                                    <a href="https://www.grupoeureka.com.mx/contacto"
                                                       aria-label="this opens in a new tab" target="_blank" class="form-control card w-100 bg-white">
                                                        <img src="{% static 'images/contacto/logo-5.png' %}" alt="alternative text">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="input-group mb-3">
                                                    <a href="https://www.cempanel.com.mx/contacto" aria-label="this opens in a new tab" target="_blank"
                                                       class="form-control card w-100 bg-white">
                                                        <img src="{% static 'images/contacto/logo-11.png' %}" alt="alternative text">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="input-group">
                                                    <a href="https://www.cempanel.com.mx/contacto" aria-label="this opens in a new tab" target="_blank"
                                                       class="form-control card w-100 bg-white">
                                                        <img src="{% static 'images/contacto/logo-6.png' %}" alt="alternative text">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </fieldset>
        </article>
        <div class="col-12">
            <div id="oc-clients"
                 class="nobgcolor notopmargin owl-carousel owl-carousel-full image-carousel carousel-widget"
                 data-margin="" data-loop="true" data-nav="false" data-autoplay="2000" data-items="8"
                 data-pagi="false" data-items-xs="1"
                 data-items-sm="2" data-items-md="3" data-items-lg="5" data-items-xl="5">
                <div class="oc-item">
                    <a href="https://www.mexalit.com/contacto/ventas" aria-label="this opens in a new tab" target="_blank">
                        <img src="{% static 'images/empresas/log1.png' %}"
                             alt="Clients"></a>
                </div>
                <!--    <div class="oc-item">
                    <a href="">
                        <img src="{% static 'images/empresas/log2.png' %}"
                             alt="Clients"></a>
                </div> -->
                <div class="oc-item">
                    <a href="https://www.frigocel.com.mx/web/frigocel-2021/contacto" aria-label="this opens in a new tab" target="_blank">
                        <img src="{% static 'images/empresas/log3.png' %}"
                             alt="Clients"></a>
                </div>
                <div class="oc-item">
                    <a href="https://plycem.com/contacto/" aria-label="this opens in a new tab" target="_blank">
                        <img src="{% static 'images/empresas/log4.png' %}"
                             alt="Clients"></a>
                </div>
                <div class="oc-item">
                    <a href="https://www.nacobre.com.mx/contacto" aria-label="this opens in a new tab" target="_blank">
                        <img src="{% static 'images/empresas/log5.png' %}"
                             alt="Clients"></a>
                </div>
                <div class="oc-item">
                    <a href="https://allurausa.com/about/contact" aria-label="this opens in a new tab" target="_blank">
                        <img src="{% static 'images/empresas/log6.png' %}"
                             alt="Clients"></a>
                </div>
                <div class="oc-item">
                    <a href="https://www.eternit.com.ec/contacto" aria-label="this opens in a new tab" target="_blank">
                        <img src="{% static 'images/empresas/log8.png' %}"
                             alt="Clients"></a>
                </div>
                <div class="oc-item">
                    <a href="https://www.fibraforte.com/#contacto" aria-label="this opens in a new tab" target="_blank">
                        <img src="{% static 'images/empresas/log7.png' %}"
                             alt="Clients"></a>
                </div>
                <div class="oc-item">
                    <a href="https://www.eternit.com.co/contacto" aria-label="this opens in a new tab" target="_blank">
                        <img src="{% static 'images/empresas/log8.png' %}"
                             alt="Clients"></a>
                </div>
                <div class="oc-item">
                    <a href="https://duralit.com/contacto/" aria-label="this opens in a new tab" target="_blank">
                        <img src="{% static 'images/empresas/log9.png' %}"
                             alt="Clients"></a>
                </div>
                <div class="oc-item">
                    <a href="https://www.grupoeureka.com.mx/contacto" aria-label="this opens in a new tab" target="_blank">
                        <img src="{% static 'images/empresas/log10.png' %}"
                             alt="Clients"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade popup" id="popup1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered justify-content-center"
             role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 id="title" class="mt-1 text-center"></h3>
                <div class="container pb-3">
                    <h4>
                        Tu mensaje ha sido enviado
                    </h4>
                    <button type="button" class="btn btn-info" data-dismiss="modal" aria-label="Close">
                        Entendido
                    </button>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block otherscripts %}
    <script>
        $(function () {
            $("#enviar").click(function (e) {
                e.preventDefault();
                if ($("#contacto").valid()) {
                    $('.preloader').show();
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'send-mail-contact' %}",
                        dataType: 'json',
                        data: $("#contacto").serialize(),
                        complete: function (a, b) {
                            $('.preloader').delay(1500).fadeOut(500);
                        },
                        success: function (response) {
                            $("#contacto").trigger('reset');
                            $('.preloader').fadeOut(500);
                            $("#popup1").modal();
                        }
                    });
                } else {
                }
            })
        })
    </script>
{% endblock %}
