{% extends 'layouts/interior.html' %}
{% load static %}


{% block wrapper %}
    <div style="background-color:#EA8823">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-white mb-4 mt-4">En Elementia apostamos por el mejor talento</h3>
                    <p class="text-white mb-4">Si eres una persona apasionada
                        por lo que hace, te gustan los retos, dinámica y con ganas de construir y crecer, te estamos
                        buscando.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 pt-5 mb-5 pb-5">
        <div class="auto-container">
            <div class="row clearfix d-flex align-items-center flex-wrap">
                <div class="col-md-5 col-xs-12 wow fadeInUp mb-5 mb-md-0" data-wow-duration="2s">
                    <div class="image display-block-image hidden-xs text-right">
                        <img class="wow fadeInLeft" data-wow-duration="2s"
                             src="{% static 'images/gente.jpg' %}" alt="alternative text">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 d-flex offset-lg-1" style="align-items: center">
                    <div class="why-choose-text">
                        <div class="text texto1">
                            <p class="text-justify">Elementia Materiales es una empresa internacional dedicada a la
                                fabricación y comercialización de materiales para la construcción. <strong>Contamos con
                                    27 plantas en 9
                                    países que van desde EEUU hasta Bolivia.</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-5">
        <div class="auto-container">
            <div class="row clearfix d-flex align-items-center flex-wrap">
                <div class="col-md-6">
                    <div class="why-choose-text">
                        <div class="text mb-4 mb-md-0">
                            <p class="text-justify">Nuestro propósito como empresa es tener “Clientes Felices”, esto
                                abarca toda la cadena de valor desde inversionistas, <strong>colaboradores</strong>,
                                proveedores,
                                distribuidores y
                                clientes finales. Cada decisión que tomamos es pensando en lo mejor para nuestros
                                <strong>clientes internos y externos</strong>.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5 offset-lg-1 mb-4">
                    <div class="image display-block-image hidden-xs">
                        <img class="wow fadeInRight" data-wow-duration="2s"
                             src="{% static 'images/gente-plycem.jpg' %}" alt="alternative text">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 pt-5 mb-5 pb-5">
        <div class="auto-container">
            <div class="row clearfix d-flex align-items-center flex-wrap">
                <div class="col-md-5 col-xs-12 wow fadeInUp mb-5 mb-md-0" data-wow-duration="2s">
                    <div class="image display-block-image hidden-xs text-right">
                        <img class="wow fadeInLeft" data-wow-duration="2s"
                             src="{% static 'images/celebracion-allura.png' %}" alt="alternative text">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 d-flex offset-lg-1" style="align-items: center">
                    <div class="why-choose-text">
                        <div class="text texto1">
                            <p class="text-justify">Somos una empresa que se conduce por principios, comportamientos y
                                pasiones, porque a Elementia Materiales lo mueven sus colaboradores. Por ello, <strong>su
                                    mejor
                                    activo es su gente</strong>. Es por esto que <strong>empoderamos</strong> a nuestros
                                colaboradores
                                para que
                                “<strong>Piensen como dueños</strong>”, propongan ideas y hagan que las cosas sucedan.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <div class="auto-container">
            <div class="row clearfix d-flex align-items-center flex-wrap">
                <div class="col-12 text-center">
                    <h2 class="font-weight-bold">Conoce los testimonios de nuestra gente</h2>
                </div>
                <div class="col-md-6 wow fadeInUp mb-5 mb-md-4" data-wow-duration="2s">
                    <video width="100%" controls loop="loop" playsInline="playsInline"
                           src="https://investorcloud.s3.amazonaws.com/corporativoelementia/testimonios/construsistemas-mexico-1.mp4"
                           data-autoplay>
                        <track kind="captions" srcLang="es" src=""/>
                    </video>
                </div>
                <div class="col-md-6 wow fadeInUp mb-5 mb-md-4" data-wow-duration="2s">
                    <video width="100%" controls loop="loop" playsInline="playsInline"
                           src="https://investorcloud.s3.amazonaws.com/corporativoelementia/testimonios/region-andina.mp4"
                           data-autoplay>
                        <track kind="captions" srcLang="es" src=""/>
                    </video>
                </div>
                <div class="col-md-6 wow fadeInUp mb-5 mb-md-4" data-wow-duration="2s">
                    <video width="100%" controls loop="loop" playsInline="playsInline"
                           src="https://investorcloud.s3.amazonaws.com/corporativoelementia/testimonios/region-centro.mp4"
                           data-autoplay>
                        <track kind="captions" srcLang="es" src=""/>
                    </video>
                </div>
                <div class="col-md-6 wow fadeInUp mb-5 mb-md-4" data-wow-duration="2s">
                    <video width="100%" controls loop="loop" playsInline="playsInline"
                           src="https://investorcloud.s3.amazonaws.com/corporativoelementia/testimonios/corporativo-1.mp4"
                           data-autoplay>
                        <track kind="captions" srcLang="es" src=""/>
                    </video>
                </div>
                <div class="col-md-12" data-wow-duration="2s">
                    <div class="row justify-content-center">
                        <div class="col-md-6  wow fadeInUp mb-5 mb-md-4 ">
                            <video width="100%" controls loop="loop" playsInline="playsInline"
                                   src="https://investorcloud.s3.amazonaws.com/corporativoelementia/testimonios/testimonio-allura-vt-subesp.mp4"
                                   data-autoplay>
                                <track kind="captions" srcLang="es" src=""/>
                            </video>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="image display-block-image hidden-xs text-center mb-5 pb-5">
        <img src="{% static 'images/collage-4.png' %}" alt="alternative text">
    </div>
    <div class="container content-wrap">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-start mb-4 mb-md-0">
                <a class="btn btn-outline-info d-flex align-items-center integrado"
                   href="https://career4.successfactors.com/career?company=C0010973561P"
                   aria-label="this opens in a new tab" target="_blank">
                    <p class="mb-0">Conoce nuestras vacantes LATAM</p>
                </a>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <a class="btn btn-outline-info d-flex align-items-center integrado"
                   href="https://workforcenow.adp.com/mascsr/default/mdf/recruitment/recruitment.html?cid=b5c5eb16-839b-46ec-a528-c40f4df252d0"
                   aria-label="this opens in a new tab" target="_blank">
                    <p class="mb-0">Conoce nuestras vacantes EUA</p>
                </a>
            </div>
        </div>
        <br>
        <br>
        <p class="text-justify"><strong>En Elementia Materiales, S.A.B. de C.V. y sus empresas subsidiarias NO</strong> discriminamos,
            excluimos o distinguimos a cualquier persona por su origen nacional, lengua, sexo, género, edad,
            discapacidad, condición social, identidad indígena, identidad de género, apariencia física, condiciones de
            salud, religión, formas de pensar, orientación o preferencia sexual, por tener tatuajes o cualquier otra
            razón que tenga como propósito impedir el goce y ejercicio de los derechos humanos.</p>
    </div>
{% endblock %}

{% block otherscripts %}
    <script src="{% static 'javascripts/wow.min.js' %}"></script>
    <script>
        new WOW().init();
    </script>
{% endblock %}
