{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}


{% block wrapper %}
    <div class="container mt-5">
        <p>
           Murano funge como el administrador del patrimonio de cada fideicomiso, por lo que se encarga principalmente de definir y ejecutar la estrategia de largo plazo de cada negocio, aportando en todo el proceso su conocimiento, experiencia e inteligencia de mercado para adquirir, consolidar, operar y promover los activos que formen parte de este.
        </p>
        <p>Asimismo, Murano es responsable, entre otras cosas, de los siguientes aspectos en cada fideicomiso correspondiente:</p>
        <ul class="circle-green list-styled">
            <li>	Resolver los términos de la emisión, emisiones subsecuentes (en su caso), colocación, suscripción y/u oferta de certificados mediante oferta pública restringida.</li>
            <li>	Instruir al Fiduciario para que lleve a cabo las inversiones permitidas y desinversiones que estime convenientes.</li>
            <li>	Instruir al Fiduciario la revelación de eventos relevantes de los que tenga conocimiento. </li>
            <li>	Instruir cualquier distribución Serie L. </li>
            <li>	Constituir un fondo de recompra y/o, en su caso, cancelación de CERPIs.</li>
            <li>  Presentar, dentro de los primeros 15 días hábiles posteriores a cada trimestre del año calendario, un informe del desempeño de sus funciones, así como la información y documentación que se le solicite en cumplimiento de sus funciones.</li>
            <li>  Nombrar y remover al auditor externo.</li>
            <li>  Instruir al Fiduciario la celebración de cualesquiera tipos de contratos de crédito y préstamo y la contratación de toda clase de financiamientos.</li>

        </ul><br>
        <p>A continuación, se incluye un diagrama del papel que tiene Murano en la administración de los recursos del patrimonio de cada fideicomiso y el cumplimiento de los objetivos trazados:</p>
    </div>

    <div class="container p-5">
        <div class="infografia">
            <img src="{% static 'images/gobierno/administrador.png' %}" alt="Estructura Coorporativa" style="width: 100%">
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
{% endblock %}
