{% extends 'layouts/interior.html' %}
{% load static %}

{% block otherstyles %}
{% endblock %}

{% block wrapper %}
    <div class="content-wrap pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="text-justify">La Política de Endeudamiento de Fibra HD está basada en la necesidad de
                        asegurar la continuidad y
                        el crecimiento del negocio del Fideicomiso. Cuyo principal objetivo, es asegurar la
                        disponibilidad de los recursos necesarios para la adquisición de los inmuebles que, a
                        consideración del Asesor y Administrador, así como del Comité Técnico del Fideicomiso, cumplen
                        con los lineamientos y las autorizaciones necesarios para formar parte de la Cartera de Fibra
                        HD, procurando costos de acarreo mínimos, y siempre y cuando las otras fuentes del
                        financiamiento (suscripciones, follow-ons, etc.) se hayan agotado o no están disponibles. </p>

                    <p class="text-justify">Las herramientas para la instrumentación y la implementación de la política
                        de endeudamiento de
                        Fibra HD consisten en deuda bancaria, deuda bursátil, o una combinación de ambas. Para tales
                        efectos, Fibra HD tiene la flexibilidad de acudir a los mercados de valores y a las
                        instituciones de crédito para obtener sus financiamientos. El Comité Técnico podrá revisar de
                        tiempo en tiempo las políticas de endeudamiento del Patrimonio del Fideicomiso, conforme a las
                        cuales se contraten financiamientos. El Comité de Auditoría será el encargado de vigilar que se
                        establezcan los mecanismos y controles que permitan verificar que la contratación o asunción de
                        créditos, préstamos o financiamientos se apeguen a la normatividad aplicable.</p>
                </div>
            </div>

            <section class="white-wrapper anuales">
                <div class="container-fluid container-relative">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contenedor">
                            <div class="mb-4">

                                <div class="mb-4">
                                    <div class="text-center"><h2>Oferta CBFs 19 y 19U</h2></div>

                                    <div class="d-flex align-items-center justify-content-between div-content">
                                        <div class="w-100 d-flex flex-column">
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/Deuda/aviso-colocacion-19-u.pdf">Aviso
                                                de colocación (19U)</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/Deuda/suplemento-19-u.pdf">Suplemento
                                                definitivo (19U)</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/Deuda/aviso-colocacion-19.pdf">Aviso
                                                de colocación (19)</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/Deuda/suplemento-19.pdf">Suplemento
                                                definitivo (19)</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <div class="text-center"><h2>Oferta CBFs 18U</h2></div>

                                    <div class="d-flex align-items-center justify-content-between div-content">
                                        <div class="w-100 d-flex flex-column">
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/Deuda/aviso-colocacion-18-u.pdf">Aviso
                                                de colocación</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/Deuda/suplemento-18-u.pdf">Suplemento
                                                definitivo </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <div class="text-center"><h2>Oferta CBFs 17U</h2></div>

                                    <div class="d-flex align-items-center justify-content-between div-content">
                                        <div class="w-100 d-flex flex-column">
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/Deuda/presentacion-17-u.pdf">Presentación
                                                a inversionistas</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/Deuda/aviso-colocacion-17-u.pdf">Aviso
                                                de colocación</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/Deuda/suplemento-17-u.pdf">Suplemento
                                                definitivo </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <div class="text-center"><h2>Oferta CBFs 17</h2></div>

                                    <div class="d-flex align-items-center justify-content-between div-content">
                                        <div class="w-100 d-flex flex-column">
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/Deuda/presentacion-17.pdf">Presentación
                                                a inversionistas </a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/Deuda/aviso-colocacion-17.pdf">Aviso
                                                de colocación </a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/Deuda/suplemento-17.pdf">Suplemento
                                                definitivo </a>
                                            <div class="separator"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
{% endblock %}
