{% extends 'layouts/interior.html' %}
{% load static %}

{% block otherstyles %}
{% endblock %}

{% block wrapper %}
    <div class="content-wrap pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <table class="table analistas table-striped mt-4">
                        <thead>
                        <tr>
                            <th><strong>Asunto</strong></th>
                            <th><strong>Archivo</strong></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Folleto Informativo Oferta Pública de Adquisición</td>
                            <td>
                                <a href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/DocumentosRelevantes/Folleto-informativo-OPA.pdf"
                                   target="_blank">PDF</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Prospecto de colocación</td>
                            <td>
                                <a href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/DocumentosRelevantes/Prospecto-colocacion.pdf"
                                   target="_blank">PDF</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
{% endblock %}
