{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}
    <style>
        .card {
            padding: 1rem;
            height: 100%;
        }
    </style>
{% endblock %}


{% block wrapper %}
    <div class="container pt-5 pb-5">


        <h3></h3>
        <p>Gran parte del éxito de Murano se fundamenta en la amplia experiencia en el mercado inmobiliario turístico de sus Directivos,
          los cuales colaboraron en Bay View Grand, una de las compañías líderes en desarrollos inmobiliarios a nivel nacional e internacional.
          Un extracto de su participación en la estructuración y construcción de este tipo de inmuebles para BVG es el siguiente:</p>

        <div class="row">
            <div class="col-md-4 ">
                <div class="card bg-light-gray clearfix">
                    <div class="entry-image ">
                        <a href="{% static 'images/portfolio/anteriores/bvg-vallarta.png' %}" data-lightbox="image">
                            <img class="image_fade" src="{% static 'images/portfolio/anteriores/bvg-vallarta.png' %}" alt="Image"
                                 style="opacity: 1;"/>
                        </a>
                    </div>
                    <div class="entry-title">
                        <h4 style="padding-bottom: 15px;">
                            <b>Residencial BVG – Puerto Vallarta</b></h4>
                    </div>
                    <div class="entry-description">
                        <div class="description-row">
                            <label7 for="">
                                Año de finalización:
                            </label7>
                            <span>2001</span>
                        </div>
                        <div class="description-row">
                            <label7>
                                Ubicación:
                            </label7>
                            <span>Puerto Vallarta, Jalisco </span>
                        </div>
                        <div class="description-row">
                            <label7>
                                Descripción:
                            </label7>
                            <span><br>El proyecto consiste en una combinación de villas y <em>penthouses</em> de lujo estilo mediterráneo.</span>
                        </div>
                        <br>
                        <div class="description-row">
                            <label7>
                                Unidades:
                            </label7>
                            <span>483 condominios (100% vendidos)</span>
                        </div>

                    </div>


                </div>
            </div>

            <div class="col-md-4 ">
                <div class="card clearfix">
                    <div class="entry-image ">
                        <a href="{% static 'images/portfolio/anteriores/portofino-vallarta.png' %}" data-lightbox="image">
                            <img class="image_fade" src="{% static 'images/portfolio/anteriores/portofino-vallarta.png' %}" alt="Image"
                                 style="opacity: 1;"/>
                        </a>
                    </div>
                    <div class="entry-title">
                        <h4 style="padding-bottom: 15px;">
                            <b>Portofino – Puerto Vallarta</b></h4>
                    </div>
                    <div class="entry-description">
                        <div class="description-row">
                            <label7>
                                Año de finalización:
                            </label7>
                            <span>2004</span>
                        </div>
                        <div class="description-row">
                            <label7>
                                Ubicación:
                            </label7>
                            <span>Puerto Vallarta, Jalisco </span>
                        </div>
                        <div class="description-row">
                            <label7>
                                Descripción:
                            </label7>
                            <span><br>Su diseño clásico combina el encanto mexicano y las comodidades de un estilo de vida moderno. </span>
                        </div>
                        <br>
                        <div class="description-row">
                            <label7>
                                Unidades:
                            </label7>
                            <span>251 condominios (100% vendidos)</span>
                        </div>

                    </div>


                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-light-gray clearfix">
                    <div class="entry-image ">
                        <a href="{% static 'images/portfolio/anteriores/residencial-cancun.png' %}" data-lightbox="image">
                            <img class="image_fade" src="{% static 'images/portfolio/anteriores/residencial-cancun.png' %}" alt="Image"
                                 style="opacity: 1;"/>
                        </a>
                    </div>
                    <div class="entry-title">
                        <h4 style="padding-bottom: 15px;">
                            <b>Residencial BVG – Cancún</b> </h4>
                    </div>
                    <div class="entry-description">
                        <div class="description-row">
                            <label7>
                                Año de finalización:
                            </label7>
                            <span>2005</span>
                        </div>
                        <div class="description-row">
                            <label7>
                                Ubicación:
                            </label7>
                            <span>Cancún, Quintana Roo </span>
                        </div>
                        <div class="description-row">
                            <label7>
                                Descripción:
                            </label7>
                            <span><br>El desarrollo residencial está compuesto
                              de lujosos condominios tipo <em>penthouse</em> y villas con espectaculares vistas a las piscinas Infinity.</span>
                        </div>
                        <br>
                        <div class="description-row">
                            <label7>
                                Unidades:
                            </label7>
                            <span>210 condominios (100% vendidos)</span>
                        </div>

                    </div>


                </div>
            </div>

        </div>

        <div class="row mt-4">
            <div class="col-md-4 ">
                <div class="card clearfix">
                    <div class="entry-image ">
                        <a href="{% static 'images/portfolio/anteriores/portofino-cancun.png' %}" data-lightbox="image">
                            <img class="image_fade" src="{% static 'images/portfolio/anteriores/portofino-cancun.png' %}" alt="Image"
                                 style="opacity: 1;"/>
                        </a>
                    </div>
                    <div class="entry-title">
                        <h4 style="padding-bottom: 15px;">
                            <b>Portofino  – Cancún</b></h4>
                    </div>
                    <div class="entry-description">
                        <div class="description-row">
                            <label7>
                                Año de finalización:
                            </label7>
                            <span>2007</span>
                        </div>
                        <div class="description-row">
                            <label7>
                                Ubicación:
                            </label7>
                            <span>Cancún, Quintana Roo  </span>
                        </div>
                        <div class="description-row">
                            <label7>
                                Descripción:
                            </label7>
                            <span><br>Dos torres de 18 pisos, cada una con 66 condominios y 4 casas de jardín,
                              frente a 111 metros de playa. 	</span>
                        </div>
                        <br>
                        <div class="description-row">
                            <label7>
                                Unidades:
                            </label7>
                            <span>140 condominios (100% vendidos)</span>
                        </div>

                    </div>


                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-light-gray clearfix">
                    <div class="entry-image ">
                        <a href="{% static 'images/portfolio/anteriores/bvg-ixtapa.png' %}" data-lightbox="image">
                            <img class="image_fade" src="{% static 'images/portfolio/anteriores/bvg-ixtapa.png' %}" alt="Image"
                                 style="opacity: 1;"/></a>
                    </div>
                    <div class="entry-title">
                        <h4 style="padding-bottom: 15px;">
                            <b>Residencial BVG – Ixtapa</b></h4>
                    </div>
                    <div class="entry-description">
                        <div class="description-row">
                            <label7>
                                Año de finalización:
                            </label7>
                            <span>2006</span>
                        </div>
                        <div class="description-row">
                            <label7>
                                Ubicación:
                            </label7>
                            <span>Ixtapa Zihuatanejo, Guerrero </span>
                        </div>
                        <div class="description-row">
                            <label7>
                                Descripción:
                            </label7>
                            <span><br>El complejo residencial está
                              compuesto por amplias villas y exclusivos <em>penthouses</em> que ofrecen una vista privilegiada de las
                              piscinas Infinity.</span>
                        </div>
                        <br>
                        <div class="description-row">
                            <label7>
                                Unidades:
                            </label7>
                            <span>177 condominios (99% vendidos)</span>
                        </div>

                    </div>


                </div>
            </div>

            <div class="col-md-4 ">
                <div class="card clearfix">
                    <div class="entry-image ">
                        <a href="{% static 'images/portfolio/anteriores/portochervo.png' %}" data-lightbox="image">
                            <img class="image_fade" src="{% static 'images/portfolio/anteriores/portochervo.png' %}" alt="Image"
                                 style="opacity: 1;"/></a>
                    </div>
                    <div class="entry-title">
                        <h4 style="padding-bottom: 15px;">
                            <b> Portochervo – Acapulco </b></h4>
                    </div>
                    <div class="entry-description">
                        <div class="description-row">
                            <label7>
                                Año de finalización:
                            </label7>
                            <span>2007</span>
                        </div>
                        <div class="description-row">
                            <label7>
                                Ubicación:
                            </label7>
                            <span>Acapulco, Guerrero</span>
                        </div>
                        <div class="description-row">
                            <label7>
                                Descripción:
                            </label7>
                            <span><br>Posee características únicas como una fusión de arquitectura
                              clásica y mediterránea, privacidad y confort.</span>
                        </div>
                        <br>
                        <div class="description-row">
                            <label7>
                                Unidades:
                            </label7>
                            <span>32 condominios (100% vendidos)</span>
                        </div>

                    </div>


                </div>
            </div>

        </div>

        <div div class="row mt-4">
            <div class="col-md-4 ">
                <div class="card bg-light-gray clearfix">
                    <div class="entry-image ">
                        <a href="{% static 'images/portfolio/anteriores/venatian-vallarta.png' %}" data-lightbox="image">
                            <img class="image_fade" src="{% static 'images/portfolio/anteriores/venatian-vallarta.png' %}" alt="Image"
                                 style="opacity: 1;"/>
                        </a>
                    </div>
                    <div class="entry-title">
                        <h4 style="padding-bottom: 15px;">
                            <b> Grand Venetian BVG – Puerto Vallarta </b></h4>
                    </div>
                    <div class="entry-description">
                        <div class="description-row">
                            <label7>
                                Año de finalización:
                            </label7>
                            <span>2014</span>
                        </div>
                        <div class="description-row">
                            <label7>
                                Ubicación:
                            </label7>
                            <span>Puerto Vallarta, Jalisco </span>
                        </div>
                        <div class="description-row">
                            <label7>
                                Descripción:
                            </label7>
                            <span><br>3 Torres con 552 departamentos, 8 <em>penthouses</em> de 4 recámaras,
                              18 villas de lujo frente al mar de 1, 2, 3 y 4 recámaras.</span>
                        </div>
                        <br>
                        <div class="description-row">
                            <label7>
                                Unidades:
                            </label7>
                            <span>594 condominios (100% vendidos)</span>
                        </div>

                    </div>


                </div>
            </div>

            <div class="col-md-4 ">
                <div class="card clearfix">
                    <div class="entry-image ">
                        <a href="{% static 'images/portfolio/anteriores/bvg-acapulco.png' %}" data-lightbox="image">
                            <img class="image_fade" src="{% static 'images/portfolio/anteriores/bvg-acapulco.png' %}" alt="Image"
                                 style="opacity: 1;"/>
                        </a>
                    </div>
                    <div class="entry-title">
                        <h4 style="padding-bottom: 15px;">
                            <b> Villa Alejandra BVG – Acapulco </b></h4>
                    </div>
                    <div class="entry-description">
                        <div class="description-row">
                            <label7>
                                Año de finalización:
                            </label7>
                            <span>2015</span>
                        </div>
                        <div class="description-row">
                            <label7>
                                Ubicación:
                            </label7>
                            <span>Acapulco, Guerrero  </span>
                        </div>
                        <div class="description-row">
                            <label7>
                                Descripción:
                            </label7>
                            <span><br>Tres torres con frente de playa privado de 100 mts, con espectacular vista al mar.</span>
                        </div>
                        <br>
                        <div class="description-row">
                            <label7>
                                Unidades:
                            </label7>
                            <span>81 condominios (100% vendidos)</span>
                        </div>

                    </div>


                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-light-gray clearfix">
                    <div class="entry-image ">
                        <a href="{% static 'images/portfolio/anteriores/marina-ixtapa.png' %}" data-lightbox="image">
                            <img class="image_fade" src="{% static 'images/portfolio/anteriores/marina-ixtapa.png' %}" alt="Image"
                                 style="opacity: 1;"/>
                        </a>
                    </div>
                    <div class="entry-title">
                        <h4 style="padding-bottom: 15px;">
                            <b> Marina Ixtapa – Ixtapa  </b></h4>
                    </div>
                    <div class="entry-description">
                        <div class="description-row">
                            <label7>
                                Año de finalización:
                            </label7>
                            <span>2010</span>
                        </div>
                        <div class="description-row">
                            <label7>
                                Ubicación:
                            </label7>
                            <span>Ixtapa Zihuatanejo, Guerrero 	  </span>
                        </div>
                        <div class="description-row">
                            <label7>
                                Descripción:
                            </label7>
                            <span><br>Tres torres de 16 pisos cada una ubicadas a 100 metros de la playa, con espectaculares vistas al Océano Pacífico.
                            </span>
                        </div>
                        <br>
                        <div class="description-row">
                            <label7>
                                Unidades:
                            </label7>
                            <span>255 condominios (100% vendidos)</span>
                        </div>

                    </div>


                </div>
            </div>

        </div>

    </div>
{% endblock %}

{% block otherscripts %}
    <script src="{% static 'javascripts/amCharts/amcharts.js' %}"></script>

{% endblock %}
