{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}
<style>
.amcharts-balloon-div{
    background: #ABDDD6;
    {#display: block;#}
    padding: 10px 20px;
}

</style>
{% endblock %}


{% block wrapper %}
    <div class="container">
        <div class="mt-5" id="amchart" style="height: 600px;width:100%"></div>
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-center">Ciclo de inversión</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <img src="{% static 'images/portfolio/portfolio1.png' %}" alt="alternative text">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <ul class="comites nav nav-pills justify-content-center">
                    <li class="active ml-md-auto d-block mt-4" ><a data-toggle="pill" href="#menu1" class="active" id="actuales">Proyectos actuales</a></li>
                    <li class="mr-md-auto mt-4"><a data-toggle="pill" href="#menu2" id="proyectos">Proyectos esperados </a></li>
                </ul>

                <div class="tab-content">
                    <div id="menu1" class="tab-pane fade in active show overflow-auto">
                        <br>
                        <h3 align="center">Proyectos actuales</h3>
                        <table class="table table-striped text-center">
                            <thead>
                            <tr>
                                <th class="text-left">
                                    Proyecto
                                </th>
                                <th> Segmento</th>
                                <th>Ubicación</th>
                                <th> Inicio de construcción</th>
                                <th> Apertura</th>
                                <th> Estabilización</th>
                                <th> Operadora</th>
                                <th> Marca</th>
                                <th>Habitaciones<br>/slips<br></th>
                                <th> Ocupación<sup>1</sup></th>
                                <th> ION<sup>1</sup></th>
                                <th> Valuación</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-left">
                                    <a href="{% url 'wyndham_condesa' %}">Wyndham Grand Condesa </a>
                                </td>
                                <td>
                                    Hotelería
                                </td>
                                <td>
                                    Ciudad de México
                                </td>
                                <td>
                                    1T 2019
                                </td>
                                <td>
                                    3T 2021
                                </td>
                                <td>
                                    2024
                                </td>
                                <td>
                                    Wyndham Resorts
                                </td>
                                <td>
                                    Wyndham Grand/
                                    Esplendor
                                </td>
                                <td>
                                    415
                                </td>
                                <td>
                                    68%
                                </td>
                                <td>
                                    US$ 12.5 mills.
                                </td>
                                <td>
                                    US$ 124.5 mills.<sup>1</sup>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                <a href="{% url 'cancun' %}">    Grand Island Cancún I</a>
                                </td>
                                <td>
                                    Hotelería
                                </td>
                                <td>
                                    Cancún,
                                    Quintana Roo
                                </td>
                                <td>
                                    3T 2019
                                </td>
                                <td>
                                    1T 2023
                                </td>
                                <td>
                                    2025
                                </td>
                                <td>
                                    AM Resorts
                                </td>
                                <td>
                                    Dreams/
                                    Vivid

                                </td>
                                <td>
                                    1,000
                                </td>
                                <td>
                                    74%
                                </td>
                                <td>
                                    US$ 45.0 mills.
                                </td>
                                <td>
                                    US$ 400.0 mills.<sup>1</sup>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                  <a href="{% url 'marina_vallarta' %}"> Marina Vallarta</a>
                                </td>
                                <td>
                                    Turismo náutico
                                </td>
                                <td>
                                    Puerto Vallarta, Jalisco
                                </td>
                                <td>
                                    -
                                </td>
                                <td>
                                    2013
                                </td>
                                <td>
                                    2015
                                </td>
                                <td>
                                    Murano
                                </td>
                                <td>
                                    Marina Vallarta

                                </td>
                                <td>
                                    350
                                </td>
                                <td>
                                    75%
                                </td>
                                <td>
                                    US$ 1.8 mills.
                                </td>
                                <td>
                                    US$ 17.5 mills.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <span class="note"> 1) Esperado</span>

                    </div>
                    <div id="menu2" class="tab-pane fade overflow-auto">
                        <br>
                        <h3 align="center">Proyectos esperados </h3>
                        <table class="table table-striped text-center">
                            <thead>
                            <tr>
                                <th class="text-left">
                                    Proyecto
                                </th>
                                <th> Segmento</th>
                                <th>Ubicación</th>
                                <th> Inicio de construcción</th>
                                <th> Apertura</th>
                                <th> Estabilización</th>
                                <th> Operadora</th>
                                <th> Marca</th>
                                <th>Habitaciones<br>/ABR<br></th>
                                <th> Ocupación</th>
                                <th> ION</th>
                                <th> Valuación</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-left">
                                   <a href="{% url 'cancun2' %}">Grand Island Cancún II</a>
                                </td>
                                <td>
                                    Hotelería
                                </td>
                                <td>
                                    Cancún,
                                    Quintana Roo

                                </td>
                                <td>2022
                                </td>
                                <td>
                                    2025
                                </td>
                                <td>2027

                                </td>
                                <td>
                                    AM Resorts
                                </td>
                                <td>
                                    -
                                </td>
                                <td>
                                    2,000
                                </td>
                                <td>74%
                                </td>
                                <td>US$ 80.0 mills.
                                </td>
                                <td>US$ 800.0 mills.</td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                  <a href="{% url 'dreams' %}"> Dreams Chateau Baja</a>
                                </td>
                                <td>
                                    Hotelería
                                </td>
                                <td>
                                    Ensenada, Baja California
                                </td>
                                <td>2023
                                </td>
                                <td>
                                    2024
                                </td>
                                <td>2027

                                </td>
                                <td>
                                    AM Resorts
                                </td>
                                <td>
                                    Dreams
                                </td>
                                <td>
                                    350
                                </td>
                                <td>74%
                                </td>
                                <td>US$ 7.5 mills.
                                </td>
                                <td>US$ 75.0 mills.
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    <a href="{% url 'parque' %}">Baja Park</a>
                                </td>
                                <td>
                                    Industrial
                                </td>
                                <td>
                                    Ensenada, Baja California
                                </td>
                                <td>2023

                                </td>
                                <td>
                                    2025
                                </td>
                                <td>2028

                                </td>
                                <td>Murano

                                </td>
                                <td>Baja Park

                                </td>
                                <td>
                                    450,000 m<sup>2</sup>
                                </td>
                                <td>75%
                                </td>
                                <td>US$ 23.0 mills.
                                </td>
                                <td>US$ 300.0 mills.</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5 mb-5">
            <div class="col-12">





            </div>
        </div>
        <div class="modal fade popup" id="popup1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered justify-content-center"
                 role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 id="title" class="mt-1 text-center"></h3>
                    <div class="container pb-3">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <img src="" id="img1" style="width: 100%;height: 150px" alt="alternative text">
                            </div>
                            <div class="col-md-6" id="map"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="" id="img2" style="width: 100%;height: 150px" alt="alternative text">
                            </div>
                            <div class="col-md-6" id="table">
                                <table>
                                    <tbody>
                                    <tr>
                                        <th>ABR</th>
                                        <td id="ABR"></td>
                                    </tr>
                                    <tr>
                                        <th>Apertura</th>
                                        <td id="apertura"></td>
                                    </tr>
                                    <tr>
                                        <th>Locales</th>
                                        <td id="locales"></td>
                                    </tr>
                                    <tr>
                                        <th>Participación gmurano</th>
                                        <td id="participacion"></td>
                                    </tr>
                                    <tr>
                                        <th>Ocupación 2019</th>
                                        <td id="ocupacion"></td>
                                    </tr>
                                    <tr>
                                        <th>NOI 2019</th>
                                        <td id="NOI"></td>
                                    </tr>
                                    <tr>
                                        <th>Promedio de visitantes al año</th>
                                        <td id="promedio"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block otherscripts %}
    <script src="{% static 'javascripts/amCharts/amcharts.js' %}"></script>
    <script src="{% static 'javascripts/amCharts/ammap.js' %}"></script>
    <script src="{% static 'javascripts/amCharts/mexicoLow.js' %}"></script>
    <script>
    var cancun = "Cancún"
    var cdmx = "CDMX"
    </script>
    <script src="{% static 'javascripts/amCharts/contenido/propiedades.js' %}?v=1.0.4}"></script>

<script>
$(function(){
    var url =document.location.toLocaleString()
    if(url.indexOf("proyectos")!=-1){
        $("#proyectos").click();
    }
    if(url.indexOf("actuales")!=-1){
        $("#actuales").click();
    }
})
</script>
    {#    <script src="{% static 'javascripts/amCharts/themes/iredge.js' %}"></script>#}

{% endblock %}
