{% load static %}
{% load i18n %}

<section id="page-title" class="page-title-parallax page-title-dark" style="padding: 270px 0; background-image: url({% static 'images/videos/explore-poster2.jpg' %}); background-size: cover; background-position: center center;" data-bottom-top="background-position:0px 400px;" data-top-bottom="background-position:0px -350px;">

  <!---<div class="container clearfix text-center">
    <div class="text-center text-white" style="font-size: 47px;font-family: 'Raleway', sans-serif">Murano</div>
<div class="text-center text-white" style="font-size: 19px;font-family: 'Lato', sans-serif">{% trans 'slide1_html' %}</div>
      <a href="{% url 'propiedades' %}"
         class="mt-5 button button-border button-white button-light button-large button-rounded  d-flex align-items-center mx-auto" aria-label="this opens in a new tab" target="_blank" style="width: 250px"><div class="mr-2">{% trans 'Portafolio_t' %}</div>
          <i role="presentation" class="icon-angle-right"></i></a>
    </div>-->

</section>
