{% load i18n %}
{% load static %}
<footer id="site-footer" class="site-footer pt-5 pb-4 position-relative">
    {#    <a id="denuncia" href="{% url 'denuncia' %}" class="octf-btn d-flex align-items-center"><i#}
    {#            role="presentation" class="fa fa-commenting-o text-white"></i> {% trans 'Canal de denuncias' %}</a>#}
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mt-0 mt-md-3 mt-lg-0">
                <img class="logo" width="80" height="80" src="{% static 'images/fibrahd/logo_fibrahd_blanco.png' %}"
                     alt=""/>
                <p>
                <p class="text-white">Creando y creciendo aceleradamente nuestro portafolio mediante la
                    adquisición de propiedades medianas, estabilizadas, rentables y de alta calidad, sincronizando el
                    flujo de oportunidades y el acceso recurrente a los mercados de deuda y capitales.</p>
                </p>
            </div>

            <div class="col-md-6 col-lg-2 pt-2 mt-5 justify-content-center d-flex">
                <div class="navigation">
                    <h6 class="text-white uppercase">Destacado</h6>
                    <ul class="">
                        <li>
                            <a class="text-white" rel="noreferrer"
                               href="{% url 'perfil' %}">
                                Perfil
                            </a>
                        </li>
                        <li>
                            <a class="text-white" rel="noreferrer"
                               href="{% url 'estrategia' %}">
                                Estrategia
                            </a>
                        </li>
                        <li>
                            <a class="text-white" rel="noreferrer"
                               href="{% url 'documentos-relevantes' %}">
                                Documentos relevantes
                            </a>
                        </li>
                        <li>
                            <a class="text-white" rel="noreferrer"
                               href="{% url 'sala-prensa' %}">
                                Sala de prensa
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 pt-2 mt-5">
                <h6 class="text-white uppercase">Contacto</h6>
                <ul class="navigation2">
                    <li>
                        <div class="d-flex align-items-center">
                            <img src="{% static 'images/fibrahd/ubicacion.png' %}" style="width:40px" class="mr-2"></i>

                            <p class="mb-0 text-white text-justify">Av. Santa Fe #428, Torre 1, OF.202</p>
                        </div>
                    </li>
                    <li>
                        &nbsp;
                    </li>
                    <li>
                        <div class="d-flex align-items-center">

                            &nbsp; <img src="{% static 'images/fibrahd/icono-telefono.png' %}" style="width:40px"
                                        class="mr-2">
                            <p class="mb-0 text-white">(55) 8525 9901</p>
                        </div>
                    </li>
                    <li>
                        &nbsp;
                    </li>
                    <li>
                        <div class="d-flex align-items-center">

                            &nbsp; <img src="{% static 'images/fibrahd/icono-mail.png' %}" style="width:40px"
                                        class="mr-2">
                            <p class="mb-0 text-white">contacto@fibrahd.mx</p>
                        </div>
                    </li>
                    <li>
                        &nbsp;
                    </li>
                    <li>
                        <div class="d-flex align-items-center">
                            <a target="_blank" href="https://www.linkedin.com/company/fibraplus/">
                                <img src="{% static 'images/fibrahd/icono-linkedin.png' %}" style="width:40px"
                                     class="mr-4">
                            </a>
                            <a target="_blank" href="https://www.facebook.com/people/FIBRA-HD/100063571206954/ ">
                                <img src="{% static 'images/fibrahd/icono-facebook.png' %}" style="width:40px"
                                     class="mr-2">
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 mt-5 ">
                <h6 class="text-white uppercase">Mantente informado</h6>
                <p class="text-white">Suscríbete a nuestro boletín para recibir información relacionada a nuestra
                    empresa:</p>
                <form class="form" method="post" id="newsletter-form-footer">
                    <br/>
                    <div class="form-group">
                        <input class="col-md-8 col-sm-7 col-9" id="fieldEmail" name="correo"
                               type="email" placeholder="{% trans 'Correo electrónico' %}" required
                               data-msg-required="" data-msg-email=""/>
                        <button id="newsletter-submit-footer" type="submit" class="" style="min-width:100px">
                            Suscribirse
                        </button>
                    </div>
                    <div class="alert-message-footer"></div>
                </form>
            </div>
        </div>
    </div>
</footer>
