{% load static %}
{% load change_languaje %}


<header id="header" class="transparent-header sticky-header">
    <div id="header-wrap" class="not-dark">
        <div class="d-flex bg-black sticky-header pt-2 pb-2">
            <div class="container d-flex justify-content-between">
                <div><a href="{% url 'sala-prensa' %}" style="color: #99CCFF"><strong>Sala de prensa</strong></a></div>
                <div>
                    {#                    <a class="{% if request.LANGUAGE_CODE == 'es' %}active{% endif %}" style="color: #3CA2A2"#}
                    {#                       href="{% change_lang 'es' %}"><strong>ES</strong> </a>|#}
                    {#                    <a class="{% if request.LANGUAGE_CODE == 'en' %}active{% endif %}" style="color: #3CA2A2"#}
                    {#                       href="#"><strong>EN</strong></a>#}
                </div>
            </div>
        </div>
        <div class="container clearfix">
            <div id="primary-menu-trigger"><i role="presentation" class="icon-reorder"></i></div>
            <div id="logo">
                <div class="d-flex align-items-center">
                    <a href="{% url 'index' %}" class="mr-4"
                       title="Fibra HD">
                        <img class="img1" src="{% static 'images/fibrahd/logo_fibrahd.png' %}"
                             alt="Canvas Logo"
                             style="margin-top: 0px; padding-bottom: 0px;"></a>
                    <a href="https://www.fibraplus.mx/" target="_blank" class=""
                       title="Fibraplus">
                        <img class="img2" src="{% static 'images/fibrahd/logo_fibraplus.png' %}"
                             alt="Canvas Logo"
                             style="margin-top: 0px; padding-bottom: 0px;"></a>
                </div>
                {#                <a href="{% url 'index' %}" class="retina-logo" data-dark-logo="{% static 'images/utils/logo_elementia.svg' %}" style="margin-top: 5px; padding-bottom: 10px;" >#}
                {#                    <img src="{% static 'images/utils/logo_elementia_white.png' %} " alt="Canvas Logo"></a>#}
            </div><!-- #logo end -->

            <!-- Primary Navigation
            ============================================= -->
            <div class="container">
                <nav id="primary-menu">
                    {% include 'partials/menu.html' %}
                </nav><!-- #primary-menu end -->

            </div>
            {#            <button data-selector=".search-container" class="btn search-toggle"><i role="presentation" class="fa fa-search"></i> </button>#}
            {#            <div class="search-container">#}
            {#                <form action="{% url 'resultados' %}?" method="get" class=" search-box">#}
            {#                    <input type="text" class=" text search-input " name="q" placeholder="Search" >#}
            {##}
            {#                </form>#}
            {#            </div>#}
        </div>
    </div>
</header>
