{% load change_languaje %}
{% load static %}
{% load i18n %}

<ul>
    <li>
        <a href="#">
            <div>{% trans 'Nosotros' %}</div>
        </a>
        <ul>
            <li class="{% if page == 'perfil' %}current{% endif %}">
                <a href="{% url 'perfil' %}">
                    <div>{% trans "Perfil" %}</div>
                </a>
            </li>
            <li class="{% if page == 'historia' %}current{% endif %}">
                <a href="{% url 'historia' %}">
                    <div>{% trans "Historia" %}</div>
                </a>
            </li>
            <li class="{% if page == 'estrategia' %}current{% endif %}">
                <a href="{% url 'estrategia' %}">
                    <div>{% trans "Estrategia" %}</div>
                </a>
            </li>
            <!--<li class="{% if page == 'equipo-directivo' %}current{% endif %}">
                <a href="{% url 'equipo-directivo' %}">
                    <div>{% trans "Equipo directivo" %}</div>
                </a>
            </li>-->
        </ul>
    </li>
    <li>
        <a href="{% url 'propiedades' %}">
            <div>{% trans 'Propiedades' %}</div>
        </a>
    </li>
    <li>
        <a href="{% url 'inversionistas' %}">
            <div>{% trans 'Inversionistas' %}</div>
        </a>
    </li>
    <li>
        <a href="{% url 'sustentabilidad' %}">
            <div>{% trans 'Sustentabilidad' %}</div>
        </a>
        {#        <ul>#}
        {#            <li class="{% if page == 'que_es' %}current{% endif %}">#}
        {#                <a href="{% url 'que_es' %}">#}
        {#                    <div>{% trans "¿Qué es?" %}</div>#}
        {#                </a>#}
        {#            </li>#}
        {#        </ul>#}
    </li>
    <li>
        <a href="{% url 'contacto' %}">
            <div>{% trans 'Contacto' %}</div>
        </a>
    </li>
    {#    <li>#}
    {#        <div class="{{ request.LANGUAGE_CODE }} ml-xl-5">#}
    {##}
    {#        <a class="cart-btn mr-3"  href="{% url 'prensa' %}">#}
    {#            <span>{% trans 'Sala de Prensa' %}</span>#}
    {#        </a>#}
    {##}
    {#            <a class=" cart-btn  {% if request.LANGUAGE_CODE == 'es' %}active{% endif %}"#}
    {#               href="{% change_lang 'es' %}">ES </a>|#}
    {#            <a class="cart-btn {% if request.LANGUAGE_CODE == 'en' %}active{% endif %}"#}
    {#               href="{% change_lang 'en' %}">EN</a>#}
    {#        </div>#}
    {#    </li>#}
</ul>


