{% load change_languaje %}

{% load i18n %}

{#<div class="languages d-sm-inline {{ request.LANGUAGE_CODE }}">#}
{##}
{#        <a class="cart-btn mr-3"  href="{% url 'prensa' %}">#}
{#            <span>{% trans 'Sala de Prensa' %}</span>#}
{#        </a>#}
{##}
{#    <a class=" cart-btn  {% if request.LANGUAGE_CODE == 'es' %}active{% endif %}"#}
{#       href="{% change_lang 'es' %}">ES </a>|#}
{#    <a class="cart-btn {% if request.LANGUAGE_CODE == 'en' %}active{% endif %}"#}
{#       href="{% change_lang 'en' %}">EN</a>#}
{#</div>#}

