{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}
    <link rel="stylesheet" href="{% static 'stylesheets/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/timeline.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/css/owl.theme.default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/trayectoria.css' %}?v=1.0.4"/>
{% endblock %}

{% block wrapper %}
    <div style="background-color:#004E7C">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-white mb-4 mt-4">We have more than 20 years of experience in the construction industry</h3>
                    <p class="text-white mb-4">Elementia Materiales is a Mexican company with a worldwide presence engaged in lightweight
                      construction and the development of innovative construction solutions used in all stages of construction. </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div style="background-color:#EA8823">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h4 class="text-white mb-3 mt-3">Elementia Materiales was established in 2021, as a result of the spin-off of the
                      Building Systems and Metals divisions from the Cement business (formerly Elementia S.A.B. de C.V.).</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="content-wrap pb-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <img class="img-fluid" src="{% static 'images/elementia/infograma-eng.png' %}" alt="infograma"
                             width="120%">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-wrap pb-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center">Business Units</h2>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center flex-wrap unidades">
            <div class="col-md-6 pl-5 pr-5 pl-md-0 pr-md-0">
                <img src="{% static 'images/nosotros/construsistemas.png' %}" alt="alternative text">
            </div>
            <div class="col-md-6">
                <h3 class="pl-5 mb-0">Building Systems</h3>
                <p class="p-5 mb-0">This Business Unit is engaged in the manufacture and distribution of lightweight
                  construction products and business solutions that meet the needs of the entry-level, middle-income,
                  residential, and retail housing segments. Our experience is our backbone, as we have been integrating
                  different business through mergers and acquisitions over the past twenty years.</p>
            </div>
        </div>
        <div class="row d-flex align-items-center flex-wrap unidades">
            <div class="col-md-6 order-1 order-md-0">
                <h3 class="pl-5 mb-0">Metals</h3>
                <p class="p-5 mb-0">Serves the needs of the industrial sector, mainly supporting original equipment manufacturers
                  that work with metal alloys and components for the automotive, aeronautics, textile, electrical, and electronic
                  industries, among others. Likewise, it meets the needs of the construction sector by manufacturing solutions and
                   applications for water and gas equipment and piping.</p>
            </div>
            <div class="col-md-6 pl-5 pr-5 pl-md-0 pr-md-0 order-0 order-md-1">
                <img src="{% static 'images/nosotros/metales.jpg' %}" alt="alternative text">
            </div>
        </div>
    </div>

    <div class="content-wrap pb-0">
        {#        <section id="nuestra-trayectoria">#}
        {#            <div class="container clearfix">#}
        {#                <h2 class="text-center text-black">Our Journey</h2>#}
        {#            </div>#}
        {#        </section>#}
        <section id="ihistoria" class="bg-white mt-5">
            <div class="container-time">
                <div class="timeline">
                    <div class="swiper-container">
                        <h2 id="trayectoria" class="text-center text-white" style="position: absolute;">Our Journey</h2>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"
                                 style="background-image: url({% static 'images/historia/eternit.png' %})"
                                 data-year="2000">
                                <div class="historia-titulo">
                                </div>
                                <div class="swiper-slide-content"><span
                                        class="timeline-year">Incorporation of Eternit Colombia</span>
                                    <h3 class="text-white">Established in 1942 and with extensive experience in the construction sector.
                                      It has 3 production plants in Colombia.</h3>
                                </div>
                            </div>
                            <div class="swiper-slide"
                                 style="background-image: url({% static 'images/historia/duralit.png' %})"
                                 data-year="2006">
                                <div class="swiper-slide-content"><span
                                        class="timeline-year">Incorporation of Duralit</span>
                                    <h3 class="text-white">Duralit began operations in 1977 in Bolivia and has one of the most modern production
                                      facilities in the industry and a distribution network with more than 200 points of sale.</h3>
                                </div>
                            </div>
                            <div class="swiper-slide"
                                 style="background-image: url({% static 'images/historia/mexalit.png' %})"
                                 data-year="2007">
                                <div class="swiper-slide-content"><span class="timeline-year">Incorporation of Mexalit, Eureka</span>
                                    <h3 class="text-white">Mexalit began operations in Sta. Clara, State of Mexico in 1952, while Eureka was
                                      established in 1932.</h3>
                                </div>
                            </div>
                            <div class="swiper-slide"
                                 style="background-image: url({% static 'images/historia/plycem.png' %})"
                                 data-year="2009">
                                <div class="swiper-slide-content"><span
                                        class="timeline-year">Incorporation of Plycem </span>
                                    <h3 class="text-white">It was founded in 1964 in Costa Rica and has production facilities in Costa Rica, El Salvador,
                                       and Honduras.</h3>
                                </div>
                            </div>
                            <div class="swiper-slide"
                                 style="background-image: url({% static 'images/historia/frigocel.png' %})"
                                 data-year="2010">
                                <div class="swiper-slide-content"><span
                                        class="timeline-year">Incorporation of Frigocel</span>
                                    <h3 class="text-white">Founded in 1984 in Mexico. It specializes in polystyrene products and solutions.</h3>
                                </div>
                            </div>
                            <div class="swiper-slide"
                                 style="background-image: url({% static 'images/historia/fibraforte.png' %})"
                                 data-year="2010">
                                <div class="swiper-slide-content"><span class="timeline-year">Incorporation of Fibraforte</span>
                                    <h3 class="text-white">Specialized in polypropylene products. Started operations in 1993 in Peru.</h3>
                                </div>
                            </div>
                            <div class="swiper-slide"
                                 style="background-image: url({% static 'images/historia/nacobre.png' %})"
                                 data-year="2011">
                                <div class="swiper-slide-content"><span
                                        class="timeline-year">Incorporation of Nacobre</span>
                                    <h3 class="text-white">One of the most important copper manufacturers in Latin America. Established
                                      in 1950 in Mexico.</h3>
                                </div>
                            </div>
                            <div class="swiper-slide"
                                 style="background-image: url({% static 'images/historia/allura.png' %})"
                                 data-year="2014">
                                <div class="swiper-slide-content"><span
                                        class="timeline-year">Incorporation of Allura</span>
                                    <h3 class="text-white">With more than 75 years of experience and 3 plants serving the U.S. market. </h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="content-wrap">
        <div class="sec-title text-center">
            <h2>Principles & Behaviors</h2>
        </div>
        <div class="container text-center">
            <img class="img-fluid" src="{% static 'images/cultura/principios-comportamientos-eng.png' %}" alt="alternative text" width="88%">
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
    <script src="{% static 'javascripts/owl.carousel.min.js' %}"></script>
    <script src="{% static 'javascripts/swiper.min.js' %}"></script>
    <script>
        jQuery(document).ready(function ($) {
            var timelineSwiper = new Swiper('.timeline .swiper-container', {
                direction: 'vertical',
                loop: false,
                speed: 1600,
                pagination: '.swiper-pagination',
                paginationBulletRender: function (swiper, index, className) {
                    var year = document.querySelectorAll('.swiper-slide')[index].getAttribute('data-year');
                    return '<span class="' + className + '">' + year + '</span>';
                },
                paginationClickable: true,
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                breakpoints: {
                    768: {
                        direction: 'horizontal',
                    }
                }
            });
        });
    </script>
{% endblock %}
