{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}


{% endblock %}


{% block wrapper %}

    <div class="container py-5 on-mobile">
        <div class="col-12">

            <h2>Comité de Auditoría y Prácticas Societarias</h2>
            <p>Elementia Materiales cuenta con un Comité de Auditoría y Prácticas Societarias integrado por tres
                miembros independientes del Consejo de Administración, contando con la participación del Director
                General, Director Corporativo de Administración y Finanzas, Director de Auditoría Interna y el socio o
                socios de la persona moral a cargo de la auditoría externa de la Compañía, como invitados permanentes.
                Las funciones del Comité de Auditoría y Prácticas Societarias se encuentran previstas en los Estatutos
                Sociales de la Compañía y la Ley del Mercado de Valores.</p>

            <table class="table table-striped table-bordered">
                <thead>
                <tr role="row">
                    <th>Miembros</th>
                    <th>Posición</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Juan Rodríguez Torres*</td>
                    <td>Presidente</td>
                </tr>
                <tr>
                    <td>Ernesto Moya Pedrola</td>
                    <td>Miembro</td>
                </tr>
                <tr>
                    <td>Tomás Espinosa Braniff Céspedes</td>
                    <td>Miembro</td>
                </tr>
                </tbody>
            </table>

            <small>*Experto financiero.</small>
            <br><br>

            <h2>Documentos Corporativos </h2>
            <ul class="download-ul">
                <li><a href="https://investorcloud.s3.amazonaws.com/elementiamateriales/DocumentosCorporativos/Politica-de-Integridad-.pdf" aria-label="this opens in a new tab" target="_blank">Política de Integridad</a></li>
                <li><a href="https://investorcloud.s3.amazonaws.com/elementiamateriales/DocumentosCorporativos/Codigo-de-Etica-.pdf" aria-label="this opens in a new tab" target="_blank">Código de Ética</a></li>
            </ul>

        </div>
    </div>



{% endblock %}

{% block otherscripts %}
{% endblock %}
