{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}


{% block wrapper %}
    <div class="container py-5">

        <div class="col-12">

          <div class="row mb-3">
              <div class="col-12">
                  <img src="{% static 'images/portfolio/infograma2.png' %}" alt="alternative text" class="oversize">
              </div>
          </div>


            <p>Nuestra estrategia no estará enfocada a algún segmento inmobiliario en particular, pero buscaremos oportunidades primordialmente en proyectos inmobiliarios de gran escala en los que nuestra experiencia, estrategia y capacidades de administración sean difíciles de replicar y se conviertan en una ventaja competitiva diferenciadora. Nuestra estrategia de negocio se compone, principalmente, de los siguientes elementos:</p>

            <br>

            <div class="row">
                <div class="col-12">
                    <img src="{% static 'images/portfolio/estrategia.png' %}" alt="alternative text">
                </div>
            </div>

            <p>Asimismo, nuestra estrategia de negocios nos permite capturar el valor de todo el ciclo inmobiliario:</p>

            <div class="row">
                <div class="col-12">
                    <img src="{% static 'images/portfolio/estrategia2.png' %}" alt="alternative text">
                </div>
            </div>

            <br>

            <p>Mientras continuemos desarrollando activos selectivamente, el creciente tamaño del portafolio nos brindará importantes economías de escala y nos permitirá cultivar relaciones más sólidas con los proveedores, operadores y promotores de los activos más cotizados.</p>
        </div>



    </div>

{% endblock %}

{% block otherscripts %}
{% endblock %}
