{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}


{% block wrapper %}
    <section class="p-5" id="content">
        <fieldset class="fieldset m-auto " style="max-width: 600px">
            <div class="">
                <p class="obligatorio">If you want to contact us you can do so by filling out the following form.</p>
                <div class="col-112">
                    <form id="contacto" role="form" method="post"
                          action="{% url 'send-mail-contact' %}" class="mb-0">
                        {% csrf_token %}
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" name="form_name" class="form-control"
                                           value=""
                                           placeholder="*Name" required="" id="nombre">
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input type="text" name="form_phone"
                                           class="form-control" value=""
                                           placeholder="*Phone" required="" id="telefono">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input type="email" name="form_email"
                                           class="form-control required email"
                                           value="" placeholder="*Email"
                                           required="" id="email">
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <select class="aui-field-select field form-control"
                                            id="_Buzonportlet_WAR_buzonportlet_country"
                                            name="_Buzonportlet_WAR_buzonportlet_countryId" title="* País de Residencia"
                                            style="display:block">
                                        <option class="" value="-1">* Select a Country
                                        </option>

                                        <option class="" value="1">
                                            Bolivia
                                        </option>

                                        <option class="" value="2">Colombia
                                        </option>

                                        <option class="" value="3">Costa Rica
                                        </option>

                                        <option class="" value="4">Ecuador
                                        </option>
                                        <option class="" value="5">EE.UU.
                                        </option>
                                        <option class="" value="6">El Salvador
                                        </option>

                                        <option class="" value="7">Honduras
                                        </option>

                                        <option class="" value="8">México
                                        </option>

                                        <option class="" value="9">Perú
                                        </option>



                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                        <textarea name="form_message" class="form-control textarea required mb-4"
                                                  required=""
                                                  placeholder="*Report" rows="7" id="denuncia_text"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group centered-movil mb-0">
                            <input id="form_botcheck" name="form_botcheck"
                                   class="f
                                   orm-control" type="hidden" value="">

                        </div>
                        <div class="btn btn-large btn-primary" type="submit" title="contactForm.button.send"
                             id="enviar">


                            Send


                        </div>
                    </form>
                </div>


                <div class="button-holder ">

                    <p class="obligatorio">Fields marked with an asterisk (*) are mandatory</p>


                    {#                                <p class="g-recaptcha" data-sitekey="6LdwVC0UAAAAADuDRK5hkBgnuVVfUN56AOmVV6Ej">#}
                    {#                                <div style="width: 304px; height: 78px;">#}
                    {#                                    <div>#}
                    {#                                        <iframe title="reCAPTCHA"#}
                    {#                                                src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LdwVC0UAAAAADuDRK5hkBgnuVVfUN56AOmVV6Ej&amp;co=aHR0cHM6Ly93d3cuZWxlbWVudGlhbWF0ZXJpYWxlcy5jb206NDQz&amp;hl=es&amp;v=dPctOHA2ifhWm5WzFM_B5TjT&amp;size=normal&amp;cb=j0r4ez7ks731"#}
                    {#                                                width="304" height="78" role="presentation" name="a-b2oj5w2urad3"#}
                    {#                                                frameborder="0" scrolling="no"#}
                    {#                                                sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation"></iframe>#}
                    {#                                    </div>#}
                    {#                                    <textarea id="g-recaptcha-response" name="g-recaptcha-response"#}
                    {#                                              class="g-recaptcha-response"#}
                    {#                                              style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>#}
                    {#                                </div>#}
                    {#                                <iframe style="display: none;"></iframe>#}
                    {#                                </p>#}







                </div>

            </div>
        </fieldset>
    </section>
{% endblock %}

{% block otherscripts %}
    <script>
        $(function(){
            $("#contacto").submit(function (e){
                e.preventDefault();
                console.log("SIN ENVIAR ");
            });
            $("#enviar").click(function () {
                console.log("VALIDANDO");
                if ($("#contacto").valid()) {
                    $('.preloader').show();
                    var pais = $("#_Buzonportlet_WAR_buzonportlet_country").val();
                    var nombre = $("#nombre").val();
                    var email = $("#email").val();
                    var telefono = $("#telefono").val();
                    var denuncia = $("#denuncia_text").val();
                    var url = 'https://sites.elementia.com/intranet/intranet.php?TOKEN=3b64f8f7f6a0a413cd40ab57e0abf278302744c3&ANONIMO=NO&NOMBRE_COMPLETO='+encodeURI(nombre)+'&TELEFONO='+telefono+'&EMAIL='+email+'&PAIS='+pais+'&DENUNCIA='+encodeURI(denuncia)
                    console.log(url);

                    $.ajax({
                        type: 'GET',
                        url: url,
                        crossDomain: true,
                        dataType: 'json',
                        complete: function (a, b) {
                            $('.preloader').delay(1500).fadeOut(500);
                        },
                        success: function (response) {
                            alert("Gracias por su mensaje " + $("#nombre").val());
                            $("#contacto").trigger('reset');
                            $('.preloader').fadeOut(500);
                        },error:function (response){
                            alert("Gracias por su mensaje " + $("#nombre").val());
                            $("#contacto").trigger('reset');
                            $('.preloader').fadeOut(500);
                            console.log("ERROR EN PETICION",response);
                        }
                    });

                    {#$.ajax({#}
                    {#    type: 'GET',#}
                    {#    url: "{% url 'send-denuncia' %}",#}
                    {#    dataType: 'json',#}
                    {#    data: $("#contacto").serialize(),#}
                    {#    complete: function (a, b) {#}
                    {#        $('.preloader').delay(1500).fadeOut(500);#}
                    {#    },#}
                    {#    success: function (response) {#}
                    {#alert("Gracias por su mensaje " + $("#email_subscription").val());#}
                    {#        $("#contacto").trigger('reset');#}
                    {#        $('.preloader').fadeOut(500);#}
                    {#    }#}
                    {# });#}
                } else {
                    {#alert("Por favor rellene los datos correctamente")#}
                }
            })
        })

    </script>
{% endblock %}
