{% extends 'layouts/interior.html' %}
{% load static %}


{% block wrapper %}
    <div style="background-color:#EA8823">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-white mb-4 mt-4">We strive to attract the best talent</h3>
                    <p class="text-white mb-4">If you are passionate about what you do, like
                        challenges, dynamic and eager to build and grow, we are looking for you.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 pt-5 mb-5 pb-5">
        <div class="auto-container">
            <div class="row clearfix d-flex align-items-center flex-wrap">
                <div class="col-md-5 col-xs-12 wow fadeInUp mb-5 mb-md-0" data-wow-duration="2s">
                    <div class="image display-block-image hidden-xs text-right">
                        <img class="wow fadeInLeft" data-wow-duration="2s"
                             src="{% static 'images/gente.jpg' %}" alt="alternative text">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 d-flex offset-lg-1" style="align-items: center">
                    <div class="why-choose-text">
                        <div class="text texto1">
                            <p class="text-justify ">Elementia Materiales is an international company
                                engaged in the manufacture and marketing of construction materials.<strong>
                                    We have 27 plants across 9 countries - from the United States to Bolivia.</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-5">
        <div class="auto-container">
            <div class="row clearfix d-flex align-items-center flex-wrap">
                <div class="col-md-6">
                    <div class="why-choose-text">
                        <div class="text mb-4 mb-md-0">
                            <p class="text-justify ">Our purpose as a company is to have "Happy Customers",
                                which encompasses the entire value chain from investors, <strong>collaborators</strong>,
                                distributors,
                                and end customers. The best interests of our <strong>internal and external
                                    customers</strong> are at
                                the heart of every decision we make.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5 offset-lg-1 mb-4">
                    <div class="image display-block-image hidden-xs">
                        <img class="wow fadeInRight" data-wow-duration="2s"
                             src="{% static 'images/gente-plycem.jpg' %}" alt="alternative text">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 pt-5 mb-5 pb-5">
        <div class="auto-container">
            <div class="row clearfix d-flex align-items-center flex-wrap">
                <div class="col-md-5 col-xs-12 wow fadeInUp mb-5 mb-md-0" data-wow-duration="2s">
                    <div class="image display-block-image hidden-xs text-right">
                        <img class="wow fadeInLeft" data-wow-duration="2s"
                             src="{% static 'images/celebracion-allura.png' %}" alt="alternative text">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 d-flex offset-lg-1" style="align-items: center">
                    <div class="why-choose-text">
                        <div class="text texto1">
                            <p class="text-justify ">We are a company guided by principles, behaviors,
                                and passions, since Elementia Materiales is driven by its collaborators.
                                Therefore, <strong>its greatest asset is its people</strong>. For this reason, <strong>we
                                    encourage</strong>
                                our collaborators to <strong>"Think like owners"</strong>, propose ideas and make things
                                happen.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <div class="auto-container">
            <div class="row clearfix d-flex align-items-center flex-wrap">
                <div class="col-12 text-center">
                    <h2 class="font-weight-bold">Stories from our collaborators</h2>
                </div>
                <div class="col-md-6 wow fadeInUp mb-5 mb-md-4" data-wow-duration="2s">
                    <video width="100%" controls loop="loop" playsInline="playsInline"
                           src="https://investorcloud.s3.amazonaws.com/corporativoelementia/testimonios/construsistemas-mexico-1-en.mp4"
                           data-autoplay>
                        <track kind="captions" srcLang="es" src=""/>
                    </video>
                </div>
                <div class="col-md-6 wow fadeInUp mb-5 mb-md-4" data-wow-duration="2s">
                    <video width="100%" controls loop="loop" playsInline="playsInline"
                           src="https://investorcloud.s3.amazonaws.com/corporativoelementia/testimonios/region-andina-eng-.mp4"
                           data-autoplay>
                        <track kind="captions" srcLang="es" src=""/>
                    </video>
                </div>
                <div class="col-md-6 wow fadeInUp mb-5 mb-md-4" data-wow-duration="2s">
                    <video width="100%" controls loop="loop" playsInline="playsInline"
                           src="https://investorcloud.s3.amazonaws.com/corporativoelementia/testimonios/region-centro-eng.mp4"
                           data-autoplay>
                        <track kind="captions" srcLang="es" src=""/>
                    </video>
                </div>
                <div class="col-md-6 wow fadeInUp mb-5 mb-md-4" data-wow-duration="2s">
                    <video width="100%" controls loop="loop" playsInline="playsInline"
                           src="https://investorcloud.s3.amazonaws.com/corporativoelementia/testimonios/corporativo-1-en.mp4"
                           data-autoplay>
                        <track kind="captions" srcLang="es" src=""/>
                    </video>
                </div>
                <div class="col-md-12" data-wow-duration="2s">
                    <div class="row justify-content-center">
                        <div class="col-md-6  wow fadeInUp mb-5 mb-md-4 ">
                            <video width="100%" controls loop="loop" playsInline="playsInline"
                                   src="https://investorcloud.s3.amazonaws.com/corporativoelementia/testimonios/testimonio-allura-vt.mp4"
                                   data-autoplay>
                                <track kind="captions" srcLang="es" src=""/>
                            </video>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="image display-block-image hidden-xs text-center mb-5 pb-5">
        <img src="{% static 'images/collage-4.png' %}" alt="alternative text">
    </div>
    <div class="container content-wrap">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-start mb-4 mb-md-0">
                <a class="btn btn-outline-info d-flex align-items-center integrado"
                   href="https://career4.successfactors.com/career?company=C0010973561P"
                   aria-label="this opens in a new tab" target="_blank">
                    <p class="mb-0">Check out our job openings LATAM</p>
                </a>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <a class="btn btn-outline-info d-flex align-items-center integrado"
                   href="https://workforcenow.adp.com/mascsr/default/mdf/recruitment/recruitment.html?cid=b5c5eb16-839b-46ec-a528-c40f4df252d0"
                   aria-label="this opens in a new tab" target="_blank">
                    <p class="mb-0">Check out our job openings USA</p>
                </a>
            </div>
        </div>
        <br>
        <br>
        <p class="text-justify"><strong>In Elementia Materiales, S.A.B. de C.V. and its subsidiaries we DO NOT</strong> discriminate,
            exclude, or distinguish on a person’s national origin, language, sex, gender, age, disability, social
            standing, indigenous identity, gender identity, physical appearance, health conditions, religion, mindset,
            sexual orientation or preference, for having tattoos or any other reason intended to prevent the enjoyment
            and exercise of human rights.</p>

        <br>
        <div class="col-md-6 d-flex justify-content-center mx-auto">
            <a class="btn btn-outline-info d-flex align-items-center integrado"
               href="https://investorcloud.s3.amazonaws.com/corporativoelementia/documentosrelevantes/USA-Statement.pdf"
               aria-label="this opens in a new tab" target="_blank">
                <p class="mb-0">Statement to USA</p>
            </a>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
    <script src="{% static 'javascripts/wow.min.js' %}"></script>
    <script>
        new WOW().init();
    </script>
{% endblock %}
