{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}
    <link href="{% static 'stylesheets/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
    <style>

        ul.colored {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        ul.colored li {
            padding-left: 1em;
            text-indent: -.7em;
        }

        ul.colored li::before {
            content: "• ";
            font-size: 25px;
            color: #EB8705; /* or whatever color you prefer */
        }

        .md-accordion .card .fa-angle-down {
            float: right;
        }

        .fa {
            font-weight: 900;
        }

        .md-accordion a.acd-heading:not(.collapsed) .rotate-icon {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            color: white!important;
        }
        .md-accordion a.acd-heading:not(.collapsed){
            background-color: #EB8705;
            color: white!important;
        }
        .md-accordion a.acd-heading:not(.collapsed) h5{
            color: white!important;
        }
        .accordion .acd-heading{
            text-transform: none;
        }
        .acd-heading .col-md-1{
            text-align: right;
        }
        {#.card-header{#}
        {#    background-color: white;#}
        {# }#}
        {#.card{#}
        {#    border-color:#F8A064!important;#}
        {# }#}
    </style>
{% endblock %}


{% block wrapper %}
    <section id="content">
        <div class="container">
            <div class="col-12" id="noticias">
                <h2 class="mt-5">Sostenibilidad</h2>
                <p>
                    Tenemos la visión de influir positivamente en las comunidades donde tenemos presencia y de
                    perfeccionar los procesos productivos de la Compañía para lograr una armonía cada vez mayor con el
                    medio ambiente. Nos guía la convicción de que la sostenibilidad impacta directamente en la
                    productividad, engrandece la satisfacción de los clientes, fortalece la ética empresarial y reafirma
                    la confianza de los accionistas en el crecimiento a largo plazo del negocio.
                </p>
                <p>Por lo anterior, hemos definido un marco de sostenibilidad fundamentado en 3 pilares, con diferentes
                    áreas de acción cada uno, mismas que están orientadas a contribuir con los Objetivos de Desarrollo
                    Sostenible de la ONU:</p>
                <div class="text-center">
                  <img src="{% static 'images/elementia/esg/esg.png' %}" alt="alternative text" style="width: 80%;">
                </div>

                <p>Asimismo, seguimos el modelo de sustentabilidad de Global Reporting Initiative, instituto que brinda
                    un marco integral para que las Compañías reporten sobre sus avances en materia. </p>

                <div class="text-center">
                  <img src="{% static 'images/elementia/esg/esg2.png' %}" alt="alternative text" style="width: 80%;">
                </div>

                <h2>Social</h2>
                <p>El compromiso y la responsabilidad social son parte integral de nuestra cultura y valores, se
                  ejercen en todas y cada una de las aristas que comprenden nuestra operación.</p>
                <p>
                    Desde octubre de 2011 nos adherimos al Pacto Global de la ONU, alineando nuestras estrategias y
                    operaciones con diez principios universalmente aceptados en cuatro áreas temáticas:
                </p>


                <div class="row">
                    <div class="col-md-6">
                      <ul class="colored"  style="margin-left:40px">
                          <li>Derechos humanos</li>
                          <li>Estándares laborales</li>
                          <li>Medio ambiente</li>
                          <li>Anti-corrupción</li>
                      </ul>

                    </div>
                    <div class="col-md-6">
<img src="{% static 'images/elementia/esg/global.png' %}" alt="alternative text" style="width: 30%;" >
                    </div>
                </div>
                <br>
                <p>
                    Además, para progresar en las áreas de acción que identificamos en el pilar social de nuestro marco
                    de sostenibilidad, delineamos los siguientes temas de enfoque para cada una:
                </p>

                <!--Accordion wrapper-->
                <div class="accordion accordion-border-custom md-accordion mt-3" id="accordionEx1" role="tablist" aria-multiselectable="true">

                    <!-- Accordion card -->
                    <div class=" mb-3 ">

                        <!-- Card header -->
{#                        <div class="card-header" role="tab" id="headingTwo1">#}
                            <a class="collapsed acd-heading" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo1"
                               aria-expanded="false" aria-controls="collapseTwo1">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h5 class="mb-0">
                                            <b>Empleador responsable:</b> Ofrecer el mejor ambiente de trabajo, tener
                                            equipos diversos e inspirados por la organización.
                                        </h5>
                                    </div>
                                    <div class="col-md-1"><i role="presentation" class="fa fa-angle-down rotate-icon"></i></div>
                                </div>

                            </a>
{#                        </div>#}

                        <!-- Card body -->
                        <div id="collapseTwo1" class="collapse" role="tabpanel" aria-labelledby="headingTwo1"
                             data-parent="#accordionEx1">
                            <div class="card-body">

                                <ul class="colored">
                                    <li>Contamos con <strong>políticas de No Discriminación y de Ingreso de Personal</strong>, que
                                        involucra mecanismos para asegurar un trato igualitario a los candidatos sin
                                        tomar en cuenta apariencia y capacidades físicas, escolaridad, idioma, sexo,
                                        género, edad, preferencia sexual o religiosa.
                                    </li>
                                    <li>Procuramos mantener una relación estrecha con nuestros colaboradores, para ello
                                        realizamos dinámicas interacción con la dirección de Recursos Humanos, a fin de
                                        tomar las medidas necesarias <strong>para asegurar la retención de talento.</strong></li>
                                    <li>Llevamos a cabo constantes <strong>programas de capacitación y entrenamientos</strong>,
                                        presenciales y virtuales.
                                    </li>
                                </ul>

                                <div class="row mt-3">

                                    <div class="col-md-12 text-center">
                                          <img src="{% static 'images/elementia/esg/empleador-responsable.png' %}" alt="alternative text" style="width: 80%">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Accordion card -->

                    <!-- Accordion card -->
                    <div class="mb-3 ">

                        <!-- Card header -->
{#                        <div class="card-header" role="tab" id="headingTwo21">#}
                            <a class="collapsed acd-heading" data-toggle="collapse" data-parent="#accordionEx1"
                               href="#collapseTwo21"
                               aria-expanded="false" aria-controls="collapseTwo21">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h5 class="mb-0">
                                          <b>Salud y seguridad:</b> Mantener sano y seguro el activo más importante que es
                                          nuestra gente.
                                        </h5>
                                    </div>
                                    <div class="col-md-1"><i role="presentation" class="fa fa-angle-down rotate-icon"></i></div>
                                </div>
                            </a>
{#                        </div>#}

                        <!-- Card body -->
                        <div id="collapseTwo21" class="collapse" role="tabpanel" aria-labelledby="headingTwo21"
                             data-parent="#accordionEx1">
                            <div class="card-body">
                                <ul class="colored">
                                    <li>La meta de la Compañía es <strong>cero accidentes</strong>. Para llegar a ella se tiene un
                                        programa anual de seguridad y salud que incluye actividades de sensibilización,
                                        formación, entrenamiento, capacitación e inspecciones para prevenir lesiones y
                                        enfermedades ocupacionales.
                                    </li>
                                    <li>Integramos un <strong>Comité de Salud y Seguridad Ocupacional</strong> para cada unidad de
                                        negocio, conformado por colaboradores de áreas estratégicas.
                                    </li>
                                    <li>Creamos un programa de <strong>apoyo psicológico grupal</strong> para fomentar la resiliencia y
                                        el manejo de crisis en nuestros colaboradores, especialmente ante la pandemia de
                                        COVID-19.
                                    </li>
                                </ul>
                                <div class="row mt-3">

                                    <div class="col-md-12 text-center">
                                          <img src="{% static 'images/elementia/esg/salud-seguridad.png' %}" alt="alternative text" style="width: 80%">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Accordion card -->

                    <!-- Accordion card -->
                    <div class="mb-3 ">

                        <!-- Card header -->
{#                        <div class="card-header" role="tab" id="headingThree31">#}
                            <a class="collapsed acd-heading" data-toggle="collapse" data-parent="#accordionEx1"
                               href="#collapseThree31"
                               aria-expanded="false" aria-controls="collapseThree31">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h5 class="mb-0">
                                            <b>Responsabilidad social:</b> Vincular a la organizacion de manera
                                            responsable con los grupos de interés y contribuir a mejorar condiciones de
                                            vida de las familias que más lo necesitan.
                                        </h5>
                                    </div>
                                    <div class="col-md-1"><i role="presentation" class="fa fa-angle-down rotate-icon"></i></div>
                                </div>

                            </a>
{#                        </div>#}

                        <!-- Card body -->
                        <div id="collapseThree31" class="collapse" role="tabpanel" aria-labelledby="headingThree31"
                             data-parent="#accordionEx1">
                            <div class="card-body">
                                <ul class="colored">
                                    <li>Perseguimos la <strong>generación de empleos formales</strong> en lugares donde podemos integrar
                                        directa e indirectamente a personas de la comunidad.
                                    </li>
                                    <li>Propiciamos un vínculo entre nuestros colaboradores y la comunidad mediante el
                                        <strong>Programa de Involucramiento Comunitario (PIC)</strong>, que orienta la inversión social hacia
                                        el desarrollo sostenible de las comunidades circunvecinas a las plantas, con una
                                        visión de corto, mediano y largo plazo.
                                    </li>
                                    <li>Como parte del PIC, <strong>nuestros colaboradores participan en actividades voluntarias</strong>
                                        dirigidas hacia el mejoramiento de escuelas, limpieza de áreas verdes y su
                                        reforestación.
                                    </li>
                                </ul>
                                <div class="row mt-3">

                                    <div class="col-md-12 text-center">
                                          <img src="{% static 'images/elementia/esg/responsabilidad-social.png' %}" alt="alternative text" style="width: 90%">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Accordion card -->

                </div>
                <!-- Accordion wrapper -->

                <div class="row">
                    <div class="col-md-4">
                        <img src="{% static 'images/elementia/esg/logo-esr.png' %}" alt="Empresa socialmente responsable">
                    </div>
                    <div class="col-md-8">
                        <p>
                            <br><br>Nuestras acciones de responsabilidad social nos han llevado a obtener en múltiples ocasiones
                            el <strong>Distintivo</strong> ESR que nos reconoce como <strong>Empresa Socialmente Responsable</strong>
                            otorgado anualmente en México por el Centro Mexicano de Filantropía (Cemefi) y AliaRSE.
                        </p>
                    </div>
                </div>

                <h2 class="mt-5">Ambiental</h2>
                <p>La Compañía tiene como objetivo principal alcanzar la mejor armonía posible entre sus actividades
                    productivas y el medio ambiente. Para ello, cuenta con un Sistema de Gestión Ambiental mediante el
                    que monitorea constantemente las tendencias de sus operaciones con respecto a los principales
                    aspectos ambientales (consumo de energía y agua, emisiones de CO<sup>2</sup> y generación de residuos).</p>
                <p>En este respecto, a continuación, se presentan las áreas de acción y los temas de enfoque formulados
                    por la Empresa en este importante rubro:</p>

                <!--Accordion wrapper-->
                <div class="accordion accordion-border-custom md-accordion mt-3" id="accordionEx2" role="tablist" aria-multiselectable="true">

                        <!-- Accordion card -->
                        <div class=" mb-3 ">

                        <!-- Card header -->
{#                        <div class="card-header" role="tab" id="headingAmbientalOne21">#}
                            <a class="collapsed acd-heading" data-toggle="collapse" data-parent="#accordionEx2"
                               href="#collapseAmbTwo1"
                               aria-expanded="false" aria-controls="collapseTwo1">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h5 class="mb-0">
                                            <b>Energía y cambio climático:</b> Reducir el uso de energía con el objetivo
                                            de aminorar las emisiones de CO<sub>2</sub>.
                                        </h5>
                                    </div>
                                    <div class="col-md-1"><i role="presentation" class="fa fa-angle-down rotate-icon"></i></div>
                                </div>

                            </a>
{#                        </div>#}

                        <!-- Card body -->
                        <div id="collapseAmbTwo1" class="collapse" role="tabpanel"
                             aria-labelledby="headingAmbientalOne21"
                             data-parent="#accordionEx2">
                            <div class="card-body">

                                <ul class="colored">
                                    <li>Tomando como referencia los datos de consumo energético de la Compañía en 2019,
                                        se monitorea la evolución que ha tenido el uso de la energía en cada una de las
                                        unidades de negocio, en las cuales se han realizado, entre otras cosas, el
                                        cambio de luminarias a tecnología LED y el apagado de equipos en horas pico.
                                    </li>
                                    <li>En pro de implementar de manera oportuna medidas adicionales en favor del medio
                                        ambiente, se mantienen en observación continua las emisiones de Gases de Efecto
                                        Invernadero (GEI).
                                    </li>

                                </ul>

                                <div class="row mt-3">

                                    <div class="col-md-12 text-center">
                                          <img src="{% static 'images/elementia/esg/energia-cambio-climatico.png' %}" alt="alternative text" style="width: 80%;">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Accordion card -->

                    <!-- Accordion card -->
                    <div class="mb-3 ">

                        <!-- Card header -->
{#                        <div class="card-header" role="tab" id="headingAmbientalTwo21">#}
                            <a class="collapsed acd-heading" data-toggle="collapse" data-parent="#accordionEx2"
                               href="#collapseAmbTwo21"
                               aria-expanded="false" aria-controls="collapseTwo21">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h5 class="mb-0">
                                            <b>Gestión de agua y residuos:</b> Maximizar el uso racional del agua y su
                                            reutilización, así como el adecuado manejo de residuos.
                                        </h5>
                                    </div>
                                    <div class="col-md-1"><i role="presentation" class="fa fa-angle-down rotate-icon"></i></div>
                                </div>

                            </a>
{#                        </div>#}

                        <!-- Card body -->
                        <div id="collapseAmbTwo21" class="collapse" role="tabpanel"
                             aria-labelledby="headingAmbientalTwo21"
                             data-parent="#accordionEx2">
                            <div class="card-body">
                                <ul class="colored">
                                    <li>En pro de impulsar la continua reducción del consumo de agua, la Compañía llevó
                                        a cabo la instalación de un proceso de recirculación y captación de agua de
                                        lluvia en Ecuador, así como la utilización de circuitos cerrados para la
                                        recirculación de agua en los procesos de fibrocementos. Asimismo, en México, la
                                        Empresa sustituyó en su totalidad el uso de agua potable, reemplazándola por
                                        agua tratada en sus procesos productivos.
                                    </li>
                                    <li>Todos los productos elaborados por la Compañía se encuentran conformados por
                                        materias primas que no representan riesgo alguno para la salud de sus
                                        colaboradores y las comunidades donde opera.
                                    </li>
                                    <li>Buscando mitigar cualquier efecto negativo que pudiera derivar de sus
                                        actividades productivas, la Empresa utiliza una proporción importante de
                                        materiales reciclados para la elaboración de sus productos.
                                    </li>

                                </ul>
                                <div class="row mt-3">

                                    <div class="col-md-12 text-center">
                                          <img src="{% static 'images/elementia/esg/gestion-agua-residuos.png' %}" alt="alternative text" style="width: 80%">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Accordion card -->

                    <!-- Accordion card -->
                    <div class="mb-3 ">

                        <!-- Card header -->
{#                        <div class="card-header" role="tab" id="headingAmbientalThree31">#}
                            <a class="collapsed acd-heading" data-toggle="collapse" data-parent="#accordionEx2"
                               href="#collapseAmbThree31"
                               aria-expanded="false" aria-controls="collapseThree31">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h5 class="mb-0">
                                            <b>Desempeño ambiental de productos:</b> Ofrecer productos que se posicionen
                                            como el emblema de la Compañia en materia de edificación sustentable.
                                        </h5>
                                    </div>
                                    <div class="col-md-1"><i role="presentation" class="fa fa-angle-down rotate-icon"></i></div>
                                </div>

                            </a>
{#                        </div>#}

                        <!-- Card body -->
                        <div id="collapseAmbThree31" class="collapse" role="tabpanel"
                             aria-labelledby="headingAmbientalThree31"
                             data-parent="#accordionEx2">
                            <div class="card-body">
                                <ul class="colored">
                                    <li>Se llevan a cabo Análisis de Ciclo de Vida para algunas familias de productos,
                                        con el objetivo de mejorar su desempeño mediante ecodiseños que se ajustan a las
                                        regiones bioclimáticas particulares de cada país y en función del cumplimiento
                                        del aislamiento en la envolvente de las edificaciones; logrando, entre cosas:
                                        una menor emisión de CO<sup>2</sup> (gracias a una logística más eficiente) y minimizar la
                                        generación de residuos (al ser un producto “a la medida”).
                                    </li>
                                </ul>
                                <!--<div class="row mt-4">

                                    <div class="col-md-12">
                                        <img src="" alt="Espacio para imagen" style="min-height: 80px">
                                    </div>
                                </div>-->
                            </div>
                        </div>

                    </div>
                    <!-- Accordion card -->

                </div>
                <!-- Accordion wrapper -->


                <h2 class="mt-5">Economía y Gobernanza</h2>
                <p>Tener un gobierno corporativo sólido significa contar con un marco normativo que obliga a la
                    Organización a cumplir con lineamientos y prácticas de negocios estructurados en donde se asegura la
                    equidad, transparencia y rendición de cuentas a los accionistas; así como una gestión ordenada y
                    eficaz a los colaboradores, clientes, inversionistas y comunidades en las que operamos. </p>

                <p>Es decir, para la Compañía, el gobierno corporativo representa un principio de sustentabilidad que
                    permite sentar las bases necesarias para una mayor generación de valor. </p>

                <p>En este sentido, hemos definidos los siguientes temas de enfoque para fortalecer nuestro gobierno
                    corporativo e incrementar nuestra huella económica en los lugares donde operamos:</p>
                <!--Accordion wrapper-->
                <div class="accordion accordion-border-custom md-accordion mt-3" id="accordionEx3" role="tablist" aria-multiselectable="true">

                        <!-- Accordion card -->
                        <div class=" mb-3 ">

                        <!-- Card header -->
{#                        <div class="card-header" role="tab" id="headingEconomiaOne21">#}
                            <a class="collapsed acd-heading" data-toggle="collapse" data-parent="#accordionEx3"
                               href="#collapseEcoTwo1"
                               aria-expanded="false" aria-controls="collapseTwo1">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h5 class="mb-0">
                                            <b>Ética y cumplimiento:</b> Hacer las cosas de manera correcta en cualquier
                                            circunstancia.
                                        </h5>
                                    </div>
                                    <div class="col-md-1"><i role="presentation" class="fa fa-angle-down rotate-icon"></i></div>
                                </div>

                            </a>
{#                        </div>#}

                        <!-- Card body -->
                        <div id="collapseEcoTwo1" class="collapse" role="tabpanel"
                             aria-labelledby="headingEconomiaOne21"
                             data-parent="#accordionEx3">
                            <div class="card-body">

                                <ul class="colored">
                                    <li>Nuestro <strong>Código de Ética </strong>contiene los valores fundamentales de la
                                        Compañía, proporciona un marco de referencia para la toma de decisiones e
                                        identifica los compromisos con los clientes, colaboradores, proveedores,
                                        accionistas, competidores y las comunidades.
                                    </li>
                                    <li>En Elementia Materiales tenemos a disposición de todos nuestros
                                        grupos de interés, <strong>las políticas y procedimientos generales que rigen a la
                                        Compañía</strong>, tales como: Política de Integridad, Código de Ética, Declaración
                                        Anticorrupción, Conflicto de Interés, Pago Indebido o Soborno, Compromisos
                                        COVID-19.
                                    </li>

                                </ul>


                            </div>
                        </div>

                    </div>
                    <!-- Accordion card -->

                    <!-- Accordion card 2-->
                    <div class="mb-3 ">

                        <!-- Card header -->
{#                        <div class="card-header" role="tab" id="headingEconomiaTwo21">#}
                            <a class="collapsed acd-heading" data-toggle="collapse" data-parent="#accordionEx3"
                               href="#collapseEcoTwo21"
                               aria-expanded="false" aria-controls="collapseTwo21">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h5 class="mb-0">
                                            <b>Innovación sustentable:</b> Diseñar procesos y soluciones rentables que
                                            respondan de manera responsable a las necesidades del medio ambiente y la
                                            sociedad.
                                        </h5>
                                    </div>
                                    <div class="col-md-1"><i role="presentation" class="fa fa-angle-down rotate-icon"></i></div>
                                </div>

                            </a>
{#                        </div>#}

                        <!-- Card body -->
                        <div id="collapseEcoTwo21" class="collapse" role="tabpanel"
                             aria-labelledby="headingEconomiaTwo21"
                             data-parent="#accordionEx3">
                            <div class="card-body">
                                <ul class="colored">
                                    <li>Nos esforzamos para implementar <strong>procesos de mejora continua</strong> con el fin de
                                        incrementar la calidad de los productos y servicios mientras se reducen costos
                                        de producción.
                                    </li>
                                    <li>Integramos <strong>comités multidisciplinarios de innovación</strong>, para analizar
                                        diferentes perspectivas para innovar manteniendo el enfoque al cliente y
                                        buscando generar productos y procesos amigables con el medio ambiente.
                                    </li>
                                    <li>Entre nuestras innovaciones más recientes destacan: 1) una línea de <strong>techos
                                        plásticos</strong> que integra en sus procesos desechos post industriales, evitando
                                        que estos lleguen a un relleno sanitario; 2) <strong>Sistema Constructivo <em>Advanced</em>
                                            por Elementia</strong>: permite edificar soluciones constructivas resistentes a
                                        fenómenos naturales, particularmente a sismos.
                                    </li>


                                </ul>

                            </div>
                        </div>

                    </div>
                    <!-- Accordion card -->

                    <!-- Accordion card 3-->
                    <div class="mb-3 ">

                        <!-- Card header -->
{#                        <div class="card-header" role="tab" id="headingEconomiaThree31">#}
                            <a class="collapsed acd-heading" data-toggle="collapse" data-parent="#accordionEx3"
                               href="#collapseEcoThree31"
                               aria-expanded="false" aria-controls="collapseThree31">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h5 class="mb-0">
                                            <b>Cadena de suministro sustentable:</b> Compartir los valores de la
                                            corporación con los socios de negocio para construir juntos un mejor futuro.
                                        </h5>
                                    </div>
                                    <div class="col-md-1"><i role="presentation" class="fa fa-angle-down rotate-icon"></i></div>
                                </div>

                            </a>
{#                        </div>#}

                        <!-- Card body -->
                        <div id="collapseEcoThree31" class="collapse" role="tabpanel"
                             aria-labelledby="headingEconomiaThree31"
                             data-parent="#accordionEx3">
                            <div class="card-body">
                                <ul class="colored">
                                    <li>Mediante nuestro <strong>Código de Ética para Proveedores</strong> establecemos y
                                        requerimos ciertas prácticas comerciales para una sana relación de negocios que
                                        garantice el cumplimiento de los principios éticos de la corporación.
                                    </li>
                                    <li>Contamos con procedimientos para <strong>verificar el cumplimiento</strong> de los
                                        estándares de calidad y evaluaciones de criterios ambientales y sociales,
                                        de salud y seguridad en el trabajo, así como la adhesión de los proveedores
                                        al Código de Ética para Proveedores.
                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>
                    <!-- Accordion card -->
                    <!-- Accordion card 4-->
                    <div class="mb-3 ">

                        <!-- Card header -->
{#                        <div class="card-header" role="tab" id="headingEconomiaThree41">#}
                            <a class="collapsed acd-heading" data-toggle="collapse" data-parent="#accordionEx3"
                               href="#collapseEcoThree41"
                               aria-expanded="false" aria-controls="collapseThree31">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h5 class="mb-0">
                                            <b>Clientes satisfechos:</b> Ofrecer una gran experiencia en el servicio.
                                        </h5>
                                    </div>
                                    <div class="col-md-1"><i role="presentation" class="fa fa-angle-down rotate-icon"></i></div>
                                </div>

                            </a>
{#                        </div>#}

                        <!-- Card body -->
                        <div id="collapseEcoThree41" class="collapse" role="tabpanel"
                             aria-labelledby="headingEconomiaThree41"
                             data-parent="#accordionEx3">
                            <div class="card-body">
                                <ul class="colored">
                                    <li>Perseguimos ser una <strong>compañía cliente-céntrica</strong>, que adopta mecanismos de escucha
                                        activa, y de toma decisiones para aportar cada día soluciones de mayor valor a
                                        los clientes.
                                    </li>
                                    <li>Para asegurar la satisfacción total, realizamos <strong>encuestas de servicio al cliente</strong>
                                        mediante herramientas tales como el NPS (<em>Net Promoter Score</em>) donde se evaluaron
                                        aspectos como atención del ejecutivo comercial, programación y entrega de
                                        pedidos y calidad.

                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>
                    <!-- Accordion card -->

                </div>
                <!-- Accordion wrapper -->

            </div>
        </div>
    </section>
    <br>
{% endblock %}
{% block otherscripts %}
    <script type="application/javascript">

        $(function () {

        });
    </script>
{% endblock %}
