{% extends 'layouts/interior.html' %}
{% load static %}


{% block wrapper %}
<div id="resultados">
    <script async src="https://cse.google.com/cse.js?cx=1f33edade591fc6e5"></script>
    <div class="gcse-searchresults-only"></div>
{#    <style type="text/css">#}
{#        .gsc-selected-option-container {#}
{#            min-width: 90px;#}
{#        }#}
{#    </style>#}
{#    <script>#}
{#        (function () {#}
{#            var cx = '001810222165709585812:weurdydyp0a';#}
{#            var gcse = document.createElement('script');#}
{#            gcse.type = 'text/javascript';#}
{#            gcse.async = true;#}
{#            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +#}
{#                '//www.google.com/cse/cse.js?cx=' + cx;#}
{#            var s = document.getElementsByTagName('script')[0];#}
{#            s.parentNode.insertBefore(gcse, s);#}
{#        })();#}
{#    </script>#}
{#    <gcse:searchresults-only></gcse:searchresults-only>#}
</div>
{% endblock %}