{% extends 'layouts/interior.html' %}
{% load static %}


{% block wrapper %}
    <div class="container content-wrap">
        <div class="row container">
            <!--<img src="{% static 'images/sustentabilidad/empresas.jpg' %}" alt="alternative text" style="max-height: 400px"> -->
            <h2>DESEMPEÑO AMBIENTAL</h2>

            <p>En Elementia Materiales somos conscientes del impacto que nuestras operaciones tienen en el medio
                ambiente y
                de la urgente necesidad de unir esfuerzos globales para proteger nuestro entorno, es por eso que en
                Elementia Materiales somos responsables de minimizar el impacto ambiental de nuestros procesos para cada
                uno
                de nuestros centros operativas.</p>
            <p>
                Nuestra estrategia de gestión ambiental dirige nuestros esfuerzos hacia una operación global más
                sostenible
                en la que se optimiza el uso de los recursos a través del seguimiento y control de los aspectos
                ambientales
                de importancia relacionados con el consumo de energía, el uso del agua y la gestión de residuos. Este
                enfoque de gestión se materializa en la práctica mediante la implementación de procedimientos
                operativos, el
                establecimiento de programas de trabajo y el seguimiento de los indicadores ambientales, que nos
                permiten
                evaluar el desempeño.
            </p>
            <p>
                Nuestro compromiso ambiental proviene de la alta dirección, por lo que existen lineamientos a seguir por
                cada una de las instalaciones y un seguimiento oportuno en los diferentes niveles de la organización.
            </p>

            <div id="accordion" style="width: 100%">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="false" aria-controls="collapseOne">
                                GESTIÓN ENERGÉTICA
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <p>La gestión energética es un tema estratégico para Elementia Materiales, ya que nuestro
                                consumo de energía supone gran parte de los costes operativos, sin embargo, mantiene una
                                relación directa con el concepto de eficiencia ecológica, mediante el cual buscamos
                                lograr
                                un uso más sostenible de los recursos y reducir nuestro impacto en el medio
                                ambiente.</p>
                            <p>Es por ello que, hemos desarrollado una estrategia para incrementar la eficiencia de la
                                energía térmica, así como de la energía eléctrica en todos los procesos.</p>
                            <!--  <h5> Indicadores de consumo energético</h5>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>MXN Millones</th>
                                    <th>2021</th>
                                    <th>2020</th>
                                    <th>Var.%</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th colspan="3">
                                        Construsistemas
                                    </th>
                                </tr>
                                <tr>
                                    <td>Electricidad(MWh</td>
                                    <td>113,097</td>
                                    <td>119,492</td>
                                    <td>-5.4%</td>
                                </tr>
                                <tr>
                                    <td>Consumo térmico (GJ)</td>
                                    <td>990,088</td>
                                    <td>759,711</td>
                                    <td>30.3%</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th colspan="3">Metales</th>
                                </tr>
                                <tr>
                                    <td>Electricidad (MWh)</td>
                                    <td>125,977</td>
                                    <td>115,074</td>
                                    <td>9.5%</td>
                                </tr>
                                <tr>
                                    <td>Consumo térmico(GJ)</td>
                                    <td>798,123</td>
                                    <td>710,474</td>
                                    <td>12.3%</td>
                                </tr>
                                </tbody>
                            </table>

                            <h5>Construsistemas</h5>
                            <div class="text-center">
                            <img src="{% static 'images/sustentabilidad/desempeno/construsistemas_energia.png' %}" alt="alternative text" style="max-height: 400px">
                            </div> -->

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                GESTIÓN DEL AGUA
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                Reconocemos la importancia del agua y mantenemos un fuerte compromiso con el consumo
                                responsable de este vital líquido. En Elementia Materiales trabajamos constantemente
                                para
                                hacer más racional nuestro uso del agua y adoptar procesos que permitan la reutilización
                                de
                                este fundamental recurso natural, lo que nos ha permitido minimizar nuestro impacto
                                sobre
                                nuestros recursos hídricos en beneficio del medio ambiente y de los demás usuarios del
                                agua.
                            </p>
                            <p>
                                Nuestra estrategia de gestión de agua se basa en tres ejes.
                            </p>
                            <div class="text-center">
                                <img src="{% static 'images/sustentabilidad/desempeno/gestion_agua.png' %}" alt="alternative text"
                                     style="max-height: 400px">
                                <!--    <img src="{% static 'images/sustentabilidad/desempeno/gestion_agua_consumo.png' %}" alt="alternative text" style="max-height: 400px"> <br><br>
                            </div>
                            <h5>Construsistemas</h5>
                            <div class="text-center">
                            <img src="{% static 'images/sustentabilidad/desempeno/construsistemas_agua.png' %}" alt="alternative text" style="max-height: 400px">
                            </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-0">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree">
                                GESTIÓN DE RESIDUOS
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <p>El uso eficiente de los insumos productivos, el reciclaje de materiales, el uso de
                                materiales reciclados o renovables y el monitoreo de la generación de residuos son
                                componentes críticos para la adecuada gestión de residuos generados en nuestras plantas.
                                Nuestro enfoque de gestión de residuos está apegado a la jerarquía de manejo de
                                residuos, en la cual se indica el tipo y prioridad de tratamiento que deben recibir los
                                residuos con el fin de reducir su generación y evitar su eliminación. Bajo este marco,
                                seguimos un conjunto de estrictas prácticas de manejo integral, que comprenden controles
                                de separación en los distintos nodos de generación, para posteriormente canalizarlos a
                                diversas operaciones de valorización dentro y fuera de la organización, entre ellas
                                preparación para la reutilización y reciclado.</p>
                            <div class="row">
                                <div class="col-md-6"><img
                                        src="{% static 'images/sustentabilidad/desempeno/gestion_residuos.png' %}"
                                        alt="alternative text"></div>
                                <div class="col-md-6"><img
                                        src="{% static 'images/sustentabilidad/desempeno/gestion_residuos_2.png' %}"
                                        alt="alternative text"></div>
                            </div>
                            <p>También buscamos activamente alcanzar una mayor utilización de materiales reciclados,
                                tales como chatarra y celulosas recicladas, que, junto con las operaciones de separación
                                y valorización, nos permita mejorar nuestro desempeño operativo.</p>
                            <p>Asimismo, mantenemos planes de manejo de nuestros residuos, apegándonos a lo establecido
                                en la normativa local donde mantenemos operaciones.</p>
                            <!--    <h5>Construsistemas</h5>
                            <div class="text-center">
                                <img src="{% static 'images/sustentabilidad/desempeno/construsistemas_residuos.png' %}" alt="alternative text" style="max-height: 400px">
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
