{% extends 'layouts/interior.html' %}
{% load static %}
{#{% block otherstyles %}#}
{#    <link rel="stylesheet" href="{% static 'stylesheets/dataTables.bootstrap4.min.css' %}"/>#}
{#{% endblock %}#}


{% block wrapper %}
    <div class="container content-wrap">
        <div class="row container">
            <h2>Grupos de Interés y Materialidad</h2>
            <p>
                En Elementia Materiales, consideramos importante el mantener una relación estable y continua con
                nuestros grupos de interés internos y externos, tomando en cuenta tanto su opinión como sus comentarios,
                con el motivo de garantizar el éxito de nuestro negocio y estrategia de sustentabilidad.
            </p>
            <p>
                Es por esto que se ha desarrollado un estudio de materialidad que nos permite identificar los temas
                relevantes para nuestros principales grupos de interés, mismo que se muestra a continuación:
            </p>
            <div class="text-center w-100">
                <img src="{% static 'images/sustentabilidad/matriz.png' %}" alt="alternative text">
            </div>

            <!--      <table class="table table-light table-striped table-bordered  no-border-bottom">
                      <thead class="thead-dark">
                      <tr>
                          <th>
                              Grupo de interés
                          </th>
                          <th>
                              Objetivo de la relación
                          </th>
                          <th>
                              Canales de comunicación
                          </th>
                          <th>Frecuencia de la comunicación</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                          <td>

                              Accionistas e inversionistas
                          </td>
                          <td> Acceso a la información financiera y de sustentabilidad relevante para tomar decisiones
                              oportunas y transparentes
                          </td>
                          <td>
                              <ul>
                                  <li> Correo, llamadas y reuniones con el área de relación con inversionistas</li>
                                  <li>Informes trimestrales a la BMV e informes financieros</li>
                                  <li>Reporte de sustentabilidad</li>
                                  <li>Canal de denuncias por incumplimiento al código de ética</li>
                              </ul>

                          </td>
                          <td>
                              Mensual, trimestral y anual
                          </td>
                      </tr>
                      <tr>
                          <td>Asociaciones y cámaras empresariales</td>
                          <td> Identificar las tendencias del sector y promover la colaboración para elevar los estándares de
                              la operación en la industria
                          </td>
                          <td>
                              <ul>
                                  <li>Informe de sustentabilidad</li>
                                  <li>Participación en reuniones (virtuales y/o presenciales)</li>
                              </ul>

                          </td>
                          <td> Mensual, trimestral y anual</td>
                      </tr>
                      <tr>
                          <td>
                              Autoridades
                          </td>
                          <td>Cumplimiento a la normatividad aplicable a cada país en donde se tienen operaciones</td>
                          <td>
                              <ul>
                                  <li>Reportes</li>
                                  <li>Comunicados</li>
                                  <li>Canal de denuncias e informe de sustentabilidad</li>
                              </ul>

                          </td>
                          <td>Mensual, trimestral y anual</td>
                      </tr>
                      <tr>
                          <td>
                              Colaboradores
                          </td>
                          <td>
                              Trabajo en condiciones óptimas que permitan el desarrollo profesional y personal para lograr el
                              equilibrio entre la vida laboral y personal
                          </td>
                          <td>
                              <ul>
                                  <li>
                                      Buzón de quejas y sugerencias, canal de denuncias, sistema de evaluación de desempeño,
                                      informe
                                      de sustentabilidad, encuesta de clima laboral, revista interna, comunicados, cápsulas
                                      informativas, town hall, eventos virtuales, correo electrónico, pantallas y
                                      capacitaciones
                                  </li>
                              </ul>

                          </td>
                          <td> Continuo</td>
                      </tr>
                      <tr>
                          <td>
                              Clientes (distribuidores)
                          </td>
                          <td>
                              Cumplir con el propósito de Clientes Felices gracias a la experiencia única en cuanto a calidad
                              de producto y servicio además de precios competitivos
                          </td>
                          <td>
                              <ul>
                                  <li>
                                      Correo electrónico, llamadas con equipo comercial, página web, redes sociales, canal de
                                      denuncia, línea de atención a clientes, encuesta de satisfacción, informe de
                                      sustentabilidad
                                  </li>
                              </ul>

                          </td>
                          <td> Continuo</td>
                      </tr>
                      <tr>
                          <td>
                              Comunidades
                          </td>
                          <td> Apoyo institucional para maximiza el impacto positivo generado en causas sociales elegidas
                              mediante voluntariados y/o donativos
                          </td>
                          <td>
                              <ul>
                                  <li>
                                      Llamadas y correos con el área de sustentabilidad y RH locales. Canal de denuncias por
                                      incumplimiento al código de ética, informe de sustentabilidad
                                  </li>
                              </ul>
                          </td>
                          <td>Mensual, trimestral y anual</td>
                      </tr>
                      <tr>
                          <td>
                              Proveedores
                          </td>
                          <td>Relación ética e igualitaria de largo plazo y de colaboración para la creación de valor</td>
                          <td>
                              <ul>
                                  <li>Correos y llamadas con el área de compras, canal de denuncias por incumplimiento al
                                      código de
                                      ética, informe de sustentabilidad. Se omite el evento a proveedores por pandemia
                                  </li>
                              </ul>
                          </td>
                          <td> Continuo</td>
                      </tr>
                      </tbody>
                  </table> -->
            <p>
                Los resultados muestran que, para nuestros grupos de interés, los temas de mayor relevancia son los
                relacionados con la innovación. Con respecto a esto, una parte de nuestra estrategia de sustentabilidad
                incluye realizar inversiones significativas en I+D de tecnologías y productos avanzados con alta calidad
                y funcionalidad para nuestros clientes, y que, además de brindar una ventaja competitiva en los
                segmentos de mercado correspondientes, también cumplan con una función ambiental. Asimismo, contemplamos
                ampliar la adopción de tecnologías más sustentables, con el motivo de aumentar la eficiencia en el
                consumo, recuperación y tratamiento de agua en nuestros procesos productivos, de tal manera que
                contribuya a una mejor disponibilidad del recurso en las comunidades aledañas a nuestras plantas. Sumado
                a esta iniciativa, figuran también los proyectos vigentes para la reutilización del agua en nuestras
                instalaciones y la instalación de sistemas de captación de agua de lluvia.
            </p>
            <p class="mb-0">
                Por otra parte, mediante la implementación de programas centrados en el intercambio de conocimientos y
                aprendizaje organizacional, se busca apoyar el crecimiento profesional y humano de nuestros
                colaboradores, igualmente consideramos estos programas de desarrollo como un elemento importante para la
                atracción y retención de talento.
            </p>
        </div>

    </div>
{% endblock %}

{#{% block otherscripts %}#}
{#    <script src="{% static 'javascripts/bootstrap-datatables/jquery.dataTables.min.js' %}"></script>#}
{#    <script src="{% static 'javascripts/bootstrap-datatables/dataTables.bootstrap4.min.js' %}"></script>#}
{#    <script>#}
{#        if ($('.dataTable').length) {#}
{#            if (locale === 'es') {#}
{#                $('.dataTable').DataTable({#}
{#                    "language": {#}
{#                        "lengthMenu": "Mostrar en bloques de  _MENU_  registros",#}
{#                        "zeroRecords": "No se he encontrado",#}
{#                        "info": "Mostrando desde _START_ hasta _END_ de _TOTAL_ registros",#}
{#                        "infoEmpty": "No hay registros disponibles",#}
{#                        "infoFiltered": "(filtrado de _MAX_ registros en total)",#}
{#                        "sSearch": "Buscar:",#}
{#                        "oPaginate": {#}
{#                            "sFirst": "Primero",#}
{#                            "sPrevious": "Anterior",#}
{#                            "sNext": "Siguiente",#}
{#                            "sLast": "Último"#}
{#                        }#}
{#                    },#}
{#                    "pagingType": $(window).width() < 768 ? "full" : "full_numbers",#}
{#                    "bSort": true,#}
{#                    "order": [[1, 'desc']]#}
{#                });#}
{#            } else {#}
{#                $('.dataTable').DataTable({#}
{#                    "pagingType": $(window).width() < 768 ? "full" : "full_numbers",#}
{#                    "bSort": true,#}
{#                    "order": [[1, 'desc']]#}
{#                });#}
{#            }#}
{#        }#}
{#    </script>#}
{#{% endblock %}#}
