{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}
    <link rel="stylesheet" href="{% static 'stylesheets/dataTables.bootstrap4.min.css' %}"/>
{% endblock %}


{% block wrapper %}
    <div class="container content-wrap">
        <div class="row container">
            <h2>Sustentabilidad</h2>

            <p><strong>Buscamos gestionar los recursos para satisfacer las necesidades actuales, pero, sin poner en
                riesgo las necesidades del futuro. Siempre considerando el desarrollo social, ambiental y
                económico</strong></p>

            <p>El marco de sustentabilidad de Elementia Materiales ha sido rediseñado para incorporar los temas de
                sustentabilidad más relevantes e importantes para cada uno de nuestros grupos de interés. Sobre la base
                de este marco, continuaremos construyendo nuestra historia de crecimiento sostenido y creación de valor
                sostenible, de manera responsable y proactiva por el bien de lo que más nos importa: Nuestros clientes,
                empleados, proveedores, inversionistas, comunidades y el medio ambiente. </p>
            <p><br>
                Durante el 2021, pusimos mucho esfuerzo en fortalecer la estructura de gobierno corporativo en temas de
                sustentabilidad y desarrollar objetivos relacionados con la reducción de emisiones de carbono en todos
                nuestros procesos de fabricación con mira hacia el futuro.
            </p>
            <div class="text-center w-100">
                <img src="{% static 'images/sustentabilidad/ejes.png' %}">
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
    <script src="{% static 'javascripts/bootstrap-datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'javascripts/bootstrap-datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script>
        if ($('.dataTable').length) {
            if (locale === 'es') {
                $('.dataTable').DataTable({
                    "language": {
                        "lengthMenu": "Mostrar en bloques de  _MENU_  registros",
                        "zeroRecords": "No se he encontrado",
                        "info": "Mostrando desde _START_ hasta _END_ de _TOTAL_ registros",
                        "infoEmpty": "No hay registros disponibles",
                        "infoFiltered": "(filtrado de _MAX_ registros en total)",
                        "sSearch": "Buscar:",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sPrevious": "Anterior",
                            "sNext": "Siguiente",
                            "sLast": "Último"
                        }
                    },
                    "pagingType": $(window).width() < 768 ? "full" : "full_numbers",
                    "bSort": true,
                    "order": [[1, 'desc']]
                });
            } else {
                $('.dataTable').DataTable({
                    "pagingType": $(window).width() < 768 ? "full" : "full_numbers",
                    "bSort": true,
                    "order": [[1, 'desc']]
                });
            }
        }
    </script>
{% endblock %}
