{% extends 'layouts/interior.html' %}
{% load static %}

{% block otherstyles %}
{% endblock %}

{% block wrapper %}
    <div class="content-wrap pt-5 pb-5">
        <div class="container">
            <div class="row d-flex align-items-center flex-wrap mb-5">
                <div class="col-md-7">
                    <p>Estamos convencidos de que trascender es impactar positivamente tu entorno, dejando un deseo de
                        transformación y reto para las siguientes generaciones. Ese es el mayor dividendo que podemos
                        recibir de la vida. De esta forma, nos encontramos en la continua búsqueda de mejora y tenemos
                        como estrategia implementar mejores prácticas en temas ambientales, sociales y de gobernanza
                        (ASG o ESG, por sus siglas en inglés).</p>
                </div>
                <div class="col-md-5">
                    <img src="{% static 'images/fibrahd/sustentabilidad/sustentabilidad_1.png' %}" alt="">
                </div>
            </div>
        </div>
        <div class="mb-5" style="background-color: #3CA2A2;">
            <div class="container">
                <div class="row d-flex align-items-center flex-wrap pt-4 pb-4">
                    <div class="col-md-7">
                        <p class="text-white">Estudio de materialidad. </p>
                        <p class="text-white">En 2020, para definir nuestra estrategia ASG, realizamos nuestro primer
                            análisis de materialidad. Gracias a él, podemos asegurar que nuestra estrategia va a tener
                            el mayor impacto posible en nuestros varios grupos de interés. El objetivo de un análisis de
                            materialidad es definir cuáles son los temas materiales (o más importantes) para la
                            organización y sus grupos de interés. De tal manera, se espera poder optimizar los recursos
                            en estrategias que generen el mayor beneficio para todos así como reconocer riesgos
                            potenciales en la operación. En los resultados del análisis, identificamos 14 temas
                            materiales potenciales. </p>
                    </div>
                    <div class="col-md-5">
                        <img src="{% static 'images/fibrahd/sustentabilidad/materialidad_1.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row d-flex align-items-center flex-wrap mb-5">
                <div class="col-md-7">
                    <p>Durante el primer año de definición de estrategia ASG, decidimos trabajar sobre los primeros 6
                        temas materiales, comenzando de lo más material hacia lo menos material. Es por ello por lo que
                        nuestros esfuerzos iniciales se centraron en desarrollar políticas, indicadores de desempeño y
                        trazar objetivos para los siguientes temas: </p>
                </div>
                <div class="col-md-5">
                    <img src="{% static 'images/fibrahd/sustentabilidad/sustentabilidad_2.png' %}" alt="">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Nuestras contribuciones a los ODSs</h3>
                    <p class="text-center">A la fecha hemos contribuido a los ODSs (Objetivos de Desarrollo Sostenible
                        de la ONU) en las
                        iniciativas ligadas a los 6 temas materiales que hemos trabajado. Igualmente, mapearemos
                        nuestras contribuciones a los ODSs de cualquier tema material que incluyamos en la estrategia
                        ASG.</p>
                </div>

                <div class="col-12 mb-5">
                    <div id="oc-clients"
                         class="nobgcolor notopmargin owl-carousel owl-carousel-full image-carousel carousel-widget"
                         data-margin="" data-loop="true" data-nav="false" data-autoplay="2000" data-items="8"
                         data-pagi="false" data-items-xs="1"
                         data-items-sm="2" data-items-md="3" data-items-lg="5" data-items-xl="5">
                        <div class="oc-item">
                            <a href="#">
                                <img src="{% static 'images/fibrahd/sustentabilidad/ods_16.png' %}"
                                     alt="Clients"></a>
                        </div>
                        <div class="oc-item">
                            <a href="#">
                                <img src="{% static 'images/fibrahd/sustentabilidad/ods_17.png' %}"
                                     alt="Clients"></a>
                        </div>
                        <div class="oc-item">
                            <a href="#"><img
                                    src="{% static 'images/fibrahd/sustentabilidad/ods_3.png' %}"
                                    alt="Clients"></a>
                        </div>
                        <div class="oc-item">
                            <a href="#">
                                <img src="{% static 'images/fibrahd/sustentabilidad/ods_8.png' %}"
                                     alt="Clients"></a>
                        </div>
                        <div class="oc-item">
                            <a href="#">
                                <img src="{% static 'images/fibrahd/sustentabilidad/ods_9.png' %}"
                                     alt="Clients"></a>
                        </div>
                        <div class="oc-item">
                            <a href="#">
                                <img src="{% static 'images/fibrahd/sustentabilidad/ods_11.png' %}"
                                     alt="Clients"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mb-50 d-flex justify-content-center caja border-radius-10 be-gray pb-5 pt-5">
                <div class="col-md-12 wow fadeInUp fuente   animated" data-wow-delay=".2s"
                     style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-8">
                            <h4 class="font-bold mb-0">Para más información, consulta nuestro último Informe Anual de
                                sustentabilidad.</h4>
                        </div>
                        <div class="col-md-4 text-center">
                            <a href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2020-Informe-Anual-Sustentabilidad.pdf "
                               target="_blank">
                                <img class="img-fluid mt-4 mt-md-0"
                                     src="{% static 'images/fibrahd/sustentabilidad/miniatura_informe.png' %}"
                                     alt="" width="220px">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
{% endblock %}
