{% extends 'layouts/interior.html' %}
{% load static %}


{% block wrapper %}
    <div style="background-color:#3EAB49">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-white mb-4 mt-4">Comprometidos con el bienestar futuro</h3>
                    <p class="text-white mb-4">En Elementia Materiales buscamos impulsar la creación sostenida de valor
                        con el objetivo de seguir construyendo nuestra historia de crecimiento, mientras incentivamos el
                        desarrollo integral de las comunidades donde operamos y promovemos el cuidado del medio
                        ambiente.                 <a class="text-white mb-4 mt-4" href="https://investorcloud.s3.amazonaws.com/corporativoelementia/ReportesAnuales/Informe-anual-2021.pdf" aria-label="this opens in a new tab" target="_blank">
                                            <p>Accede a nuestro<strong> Informe Anual Integrado</strong></p>
                                        </a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container content-wrap">
        <div class="row">
            <h2 class="mx-auto mb-3">Nuestro Marco de sustentabilidad</h2>

            <p class="mx-auto mb-0">En Elementia Materiales buscamos gestionar los recursos para satisfacer las
                necesidades actuales, pero, sin poner en riesgo las necesidades del futuro.</p><br>
            <p class="mx-auto mb-0"><b>Siempre considerando el desarrollo social, ambiental y económico</b></p>
        </div>
    </div>
    <div class="container content-wrap pt-0">
        <div class="row">
            <div class="col-md-6 col-lg-3 text-center">
                <img class="mb-5" src="{% static 'images/sustentabilidad/icono-social.png' %}" alt="alternative text">
                <h4 class="font-weight-bold">Social</h4>
                <p>Buscamos incrementar la calidad de vida de nuestros grupos de interés</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <img class="mb-5" src="{% static 'images/sustentabilidad/icono-ambiental.png' %}" alt="alternative text">
                <h4 class="font-weight-bold">Ambiental</h4>
                <p>Protegemos y preservamos el medio ambiente</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <img class="mb-5" src="{% static 'images/sustentabilidad/icono-gobernanza.png' %}" alt="alternative text">
                <h4 class="font-weight-bold">Gobernanza</h4>
                <p>Mejores prácticas de gobierno corporativo con enfoque sostenible</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <img class="mb-5" src="{% static 'images/sustentabilidad/icono-economia.png' %}" alt="alternative text">
                <h4 class="font-weight-bold">Economía</h4>
                <p>Impulsamos la creación de valor sostenible y responsable en el mejor de los intereses de nuestros
                    grupos de interés</p>
            </div>
        </div>
    </div>
    <!--<div class="container content-wrap pb-0 pt-0">
        <div class="row container">
            <h2 class="mx-auto">Nuestro Valores</h2>
        </div>
    </div> -->
    <div class="container content-wrap pt-0">
        <div class="row">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wow slideInLeft practice-column first image-overlay" data-wow-duration="2s">
                            <div class="over-layer"></div>
                            <img src="{% static 'images/sustentabilidad/imag001.png' %}" alt="alternative text">
                            <div class="box-content">
                                <p class="description">Cuidamos y apoyamos a nuestra <br>gente y comunidades</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="practice-column second image-overlay wow slideInUp" data-wow-duration="2s">
                            <div class="over-layer"></div>
                            <img src="{% static 'images/sustentabilidad/imag002.png' %}" alt="alternative text">
                            <div class="box-content">
                                <p class="description">Nos alineamos y promovemos los Objetivos de Desarrollo Sostenible
                                    con
                                    la genuina convicción de construir un mundo mejor para todos</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="practice-column third image-overlay wow slideInRight" data-wow-duration="2s">
                    <div class="over-layer"></div>
                    <img src="{% static 'images/sustentabilidad/imag003-1.png' %}" alt="alternative text">
                    <div class="box-content">
                        <p class="description">Protegemos y preservamos <br>el medio ambiente</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="practice-column first wow slideInLeft image-overlay" data-wow-duration="2s">
                    <div class="over-layer"></div>
                    <img src="{% static 'images/sustentabilidad/imag004.png' %}" alt="alternative text">
                    <div class="box-content">
                        <p class="description">Nos apegamos a las mejores prácticas de gobierno corporativo <br>bajo un
                            enfoque sostenible</p>
                    </div>
                    <div class="lower-content text-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container content-wrap pt-0">
        <div class="row">
            <blockquote class="blockquote mb-3">En Elementia Materiales estamos conscientes de la importancia de
                sumarnos a
                los esfuerzos
                mundiales que buscan proteger nuestros entornos y conservar una adecuada calidad de vida, por lo que nos
                esforzamos en minimizar el impacto ambiental de nuestros procesos.
            </blockquote>

            {#            <div class="row container">#}
            {#                <h2 class="mx-auto mb-3">Gestión Ambiental</h2>#}
            {##}
            {#                <p class="mx-auto mb-0">Nuestra estrategia de gestión ambiental dirige nuestros esfuerzos#}
            {#                    hacia procesos más sustentables en la que se optimiza el uso de los recursos#}
            {#                    mediante el monitoreo y control de los aspectos ambientales significativos relacionados al consumo#}
            {#                    <b>energético, el aprovechamiento de agua y la gestión de residuos.</b></p><br><br><br>#}
            {##}
            {#            </div>#}
            {##}
            {#            <div class="col-md-4 text-center">#}
            {#                <img class="mb-5" src="{% static 'images/sustentabilidad/electricidad.png' %}" alt="alternative text">#}
            {#                <h4 class="font-weight-bold">Energía</h4>#}
            {#                <p>Desarrollamos una estrategia orientada a la generación de eficiencias energéticas (térmica y#}
            {#                    eléctrica) en cada uno de nuestros procesos.</p>#}
            {#            </div>#}
            {#            <div class="col-md-4 text-center">#}
            {#                <img class="mb-5" src="{% static 'images/sustentabilidad/agua.png' %}" alt="alternative text">#}
            {#                <h4 class="font-weight-bold">Agua</h4>#}
            {#                <p>Adopción constante de procesos que contribuyan a un menor consumo de agua y permitan su#}
            {#                    reutilización. </p>#}
            {#                <ul>#}
            {#                    <li>- Medimos y controlamos su consumo</li>#}
            {#                    <li>- Optimizamos equipos y procesos para garantizar su máximo aprovechamiento</li>#}
            {#                    <li>- La Reutilizamos y reciclamos</li>#}
            {#                </ul>#}
            {#            </div>#}
            {#            <div class="col-md-4 text-center">#}
            {#                <img class="mb-5" src="{% static 'images/sustentabilidad/residuos.png' %}" alt="alternative text">#}
            {#                <h4 class="font-weight-bold">Residuos</h4>#}
            {#                <p>Enfoque de gestión fundamentado en la jerarquización de residuos.</p>#}
            {#                <ul>#}
            {#                    <li>- Monitoreamos su generación</li>#}
            {#                    <li>- Promovemos un uso eficiente de todos los insumos</li>#}
            {#                    <li>- Realizamos diversas actividades de reciclaje</li>#}
            {#                    <li>- Impulsamos el uso de materiales reciclados o renovables</li>#}
            {#                </ul>#}
            {#            </div>#}
            <div class="col-12 d-flex justify-content-center mt-5">
                <a class="btn btn-outline-info d-flex align-items-center integrado"
                   href="{% url 'publicaciones' %}">
                    <p class="mb-0">Accede a nuestros <br><strong>Informes Anuales</strong></p>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
