{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}


{% block wrapper %}
    <div class="container mt-5">

<table class="table">
<thead>
  <tr>
      <th>Fecha</th>
      <th>Nombre</th>
      <th align="center">Documento</th>
  </tr>
  </thead>
  <tbody>
      <tr>
          <th>26/11/2020</th>
          <td>Anexo 85 - Roadshow Wyndham</td>
          <td><a aria-label="this opens in a new tab" target="_blank" href="#" class="btn btn-infoe">Descargar</a></td>
      </tr>
      <tr>
          <th>26/11/2020</th>
          <td>Anexo 86 - Roadshow Grand Island</td>
          <td><a aria-label="this opens in a new tab" target="_blank" href="#" class="btn btn-infoe">Descargar</a></td>
      </tr>
      <tr>
          <th>26/11/2020</th>
          <td>Anexo 87 - Roadshow La Marina</td>
          <td><a aria-label="this opens in a new tab" target="_blank" href="#" class="btn btn-infoe">Descargar</a></td>
      </tr>
      <tr>
          <th>26/11/2020</th>
          <td>Anexo 35 - Suplemento Preliminar Tercera Emisión</td>
          <td><a aria-label="this opens in a new tab" target="_blank" href="#" class="btn btn-infoe">Descargar</a></td>
      </tr>
      <!---<tr>
          <th>Anexo 35 - Suplemento Preliminar Tercera Emisión_opt</th>
          <td><a aria-label="this opens in a new tab" target="_blank" href="#" class="btn bg-darke">Descargar</a></td>
      </tr>-->

  </tbody>

</table>
</div>
{% endblock %}

{% block otherscripts %}
{% endblock %}
