{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}

{% block wrapper %}
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <div class="sec-title">
                    <h3 class="border-title">Conferencia Telefónica</h3>
                </div>
            </div>
            <div class="col-md-6">
                <p><strong class="color-gcc">Evento:</strong> Resultados del Tercer Trimestre de 2021</p>
                <p><strong class="color-gcc">Fecha:</strong> XXXXXX XX de octubre de 2021</p>
                <p><strong class="color-gcc">Hora:</strong> <br>
                    XX:00 AM (MT)<br>
                    XX:00 AM (CT)<br>
                    XX:00 AM (ET)<br>
                </p>
                <p><strong class="color-gcc">Acceso:</strong>
                    <br>
                    <b>En E.U.A:</b> +1 XXXXXXXXXX<br>
                    <b>Internacional:</b> +1 XXXXXXXX<br>
                </p>
                <p><strong class="color-gcc">Registro:</strong> <br>
                    Para acceder a la conferencia, favor de registrarse en la siguiente dirección <br>
                    <a href="https://www.webcast-eqs.com/register/elementia20210728/en">https://www.webcast-eqs.com/register/elementia20210728/en</a><br>

                </p>
            </div>
            <div class="col-md-6 services-section">
                <div class="single-service text-center">
                    <img src="{% static 'images/elementia/Nacobre-10.jpg' %}"
                         class="img-responsive" alt="alternative text">
                    <div class="service-details pt-15">
                        <!---<p class="mb-0">Escuchar webcast en vivo (audio) y repetición: <u><b><a href="http://cdn.investorcloud.net/gcc/InformacionFinanciera/InformacionTrimestral/ConferenceCall/GCC-4T2020-CC.mp3">Hacer click aquí</a></b></u></p>-->
                        <p>Para más información favor contactar al  +XX (XX) XXXX XXXX o <a
                                href="mailto:contacto@elementia.com">contacto@elementia.com</a></p>
                        <!--<p> Para registrarse, escuchar la transmisión en vivo o la repetición  <a href="http://public.viavid.com/index.php?id=142761" aria-label="this opens in a new tab" target="_blank">clic aquí</a></p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}

{% endblock %}
