{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}
    <link rel="stylesheet" href="{% static 'stylesheets/dataTables.bootstrap4.min.css' %}"/>
{% endblock %}


{% block wrapper %}
    <div class="container mt-5">
        <div class="row ">
            <div class="col-lg-12">
                <div class="accordion accordion-border-custom mb-30">
                    <div class="acd-group">
                        <a href="#" class="acd-heading">2021</a>
                        <div class="acd-des" style="display: none;">
                            <div class="row">
                                <div class="col-xl-3 col-md-6 gallery-title-item">
                                    <div class="vertical-item text-center ">
                                        <div class="item-media">
                                          <a aria-label="this opens in a new tab" target="_blank"
                                             href="https://investorcloud.s3.amazonaws.com/elementiamateriales/DocumentosCorporativos/elemat-Folleto-Definitivo.pdf">
                                                <img class="img-fluid" src="{% static 'images/elementia/ppt-08.png' %}"
                                                     alt="ppt" width="50%"></a>
                                        </div>
                                        <div class="item-content">
                                            <h4 class="gallery-title">
                                              <a aria-label="this opens in a new tab" target="_blank"
                                                 href="https://investorcloud.s3.amazonaws.com/elementiamateriales/DocumentosCorporativos/elemat-Folleto-Definitivo.pdf">
                                                    Filing de la Empresa</a>
                                            </h4>
                                            <div class="gallery-tags small-text" style="margin-top: -30px">
                                                <!--<a href="#">Agosto 2021</a>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6 gallery-title-item">
                                    <div class="vertical-item text-center ">
                                        <div class="item-media">
                                            <a aria-label="this opens in a new tab" target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/elementiamateriales/InformacionFinanciera/ReportesAnuales/Informe-anual-2020.pdf">
                                                <img class="img-fluid" src="{% static 'images/elementia/ppt-08.png' %}"
                                                     alt="alternative text" width="50%"></a>
                                        </div>
                                        <div class="item-content">
                                            <h4 class="gallery-title">
                                                <a aria-label="this opens in a new tab" target="_blank"
                                                   href="https://investorcloud.s3.amazonaws.com/elementiamateriales/InformacionFinanciera/ReportesAnuales/Informe-anual-2020.pdf">
                                                    Informe Anual </a>
                                            </h4>
                                            <div class="gallery-tags small-text" style="margin-top: -30px">
                                                <!--<a href="#">Agosto 2021</a>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6 gallery-title-item">
                                    <div class="vertical-item text-center ">
                                        <div class="item-media">
                                            <a aria-label="this opens in a new tab" target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/elementiamateriales/InformacionFinanciera/ReportesAnuales/Informe-sustentabilidad-2020.pdf">
                                                <img class="img-fluid" src="{% static 'images/elementia/ppt-08.png' %}"
                                                     alt="alternative text" width="50%"></a>
                                        </div>
                                        <div class="item-content">
                                            <h4 class="gallery-title">
                                                <a aria-label="this opens in a new tab" target="_blank"
                                                   href="https://investorcloud.s3.amazonaws.com/elementiamateriales/InformacionFinanciera/ReportesAnuales/Informe-sustentabilidad-2020.pdf">
                                                    Reporte de Sustentabilidad</a>
                                            </h4>
                                            <div class="gallery-tags small-text" style="margin-top: -30px">
                                                <!--<a href="#">Agosto 2021</a>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col-xl-3 col-md-6 gallery-title-item">
                                    <div class="vertical-item text-center ">
                                        <div class="item-media">
                                            <a
                                               href="#">
                                                <img class="img-fluid" src="{% static 'images/elementia/ppt-08.png' %}"
                                                     alt="alternative text" width="50%"></a>
                                        </div>
                                        <div class="item-content">
                                            <h4 class="gallery-title">
                                                <a
                                                   href="#">
                                                    Presentación Corporativa</a>
                                            </h4>
                                            <div class="gallery-tags small-text" style="margin-top: -30px">
                                                <!--<a href="#">Agosto 2021</a>-->
                                            <!--</div>
                                        </div>
                                    </div>
                                </div>-->
                                <!--<div class="col-xl-3 col-md-6 gallery-title-item">

                                    <div class="vertical-item text-center ">
                                        <div class="item-media">

                                            <a aria-label="this opens in a new tab" target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/nemak/InformacionFinanciera/DocumentosRelevantes/Nemak-Day-2017.pdf">
                                                <img src="https://controladora.nemak.com/assets/Opcion4-f86665ed204cc3097c3fca5d9a7daacd1ef310309f02cc17f8ffa74ebc7f1b1e.png"
                                                     alt="alternative text"></a>

                                        </div>
                                        <div class="item-content">

                                            <h5 class="gallery-title">
                                                <a aria-label="this opens in a new tab" target="_blank"
                                                   href="#">
                                                    Presentación Día con Inversionistas</a>
                                            </h5>
                                            <div class="gallery-tags small-text">
                                                <a href="#">Agosto 2021</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>-->
                                <!--<div class="col-xl-3 col-md-6 gallery-title-item">

                                    <div class="vertical-item text-center ">
                                        <div class="item-media">

                                            <a aria-label="this opens in a new tab" target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/nemak/InformacionFinanciera/DocumentosRelevantes/Nemak-Day-2017.pdf">
                                                <img src="https://controladora.nemak.com/assets/Opcion4-f86665ed204cc3097c3fca5d9a7daacd1ef310309f02cc17f8ffa74ebc7f1b1e.png"
                                                     alt="alternative text"></a>

                                        </div>
                                        <div class="item-content">

                                            <h5 class="gallery-title">
                                                <a aria-label="this opens in a new tab" target="_blank"
                                                   href="#">
                                                    Presentación Día con Inversionistas</a>
                                            </h5>
                                            <div class="gallery-tags small-text">
                                                <a href="#">Agosto 2021</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>-->
                            </div>
                        </div>
                    </div>
                    <!--<div class="acd-group">
                        <a href="#" class="acd-heading">2020</a>
                        <div class="acd-des" style="display: none;">  <div class="row ">
                                <div class="col-xl-3 col-md-6 gallery-title-item">

                                    <div class="vertical-item text-center ">
                                        <div class="item-media">

                                            <a aria-label="this opens in a new tab" target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/elementiamateriales/InformacionFinanciera/BORRADOR.pdf">
                                              <img class="img-fluid" src="{% static 'images/elementia/ppt-08.png' %}" alt="alternative text" width="50%"></a>

                                        </div>
                                        <div class="item-content">

                                            <h4 class="gallery-title">
                                                <a aria-label="this opens in a new tab" target="_blank"
                                                   href="https://investorcloud.s3.amazonaws.com/elementiamateriales/InformacionFinanciera/BORRADOR.pdf">
                                                    Presentación XXXXXXXXXXXX</a>
                                            </h4>
                                            <div class="gallery-tags small-text" style="margin-top: -30px">
                                                <a href="#">Agosto 2020</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--<div class="col-xl-3 col-md-6 gallery-title-item">

                                    <div class="vertical-item text-center ">
                                        <div class="item-media">

                                            <a aria-label="this opens in a new tab" target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/nemak/InformacionFinanciera/DocumentosRelevantes/Nemak-Day-2017.pdf">
                                                <img src="https://controladora.nemak.com/assets/Opcion4-f86665ed204cc3097c3fca5d9a7daacd1ef310309f02cc17f8ffa74ebc7f1b1e.png"
                                                     alt="alternative text"></a>

                                        </div>
                                        <div class="item-content">

                                            <h5 class="gallery-title">
                                                <a aria-label="this opens in a new tab" target="_blank"
                                                   href="#">
                                                    Presentación Día con Inversionistas</a>
                                            </h5>
                                            <div class="gallery-tags small-text">
                                                <a href="#">Agosto 2020</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>-->
                    <!--<div class="col-xl-3 col-md-6 gallery-title-item">

                        <div class="vertical-item text-center ">
                            <div class="item-media">

                                <a aria-label="this opens in a new tab" target="_blank"
                                   href="https://investorcloud.s3.amazonaws.com/nemak/InformacionFinanciera/DocumentosRelevantes/Nemak-Day-2017.pdf">
                                    <img src="https://controladora.nemak.com/assets/Opcion4-f86665ed204cc3097c3fca5d9a7daacd1ef310309f02cc17f8ffa74ebc7f1b1e.png"
                                         alt="alternative text"></a>

                            </div>
                            <div class="item-content">

                                <h5 class="gallery-title">
                                    <a aria-label="this opens in a new tab" target="_blank"
                                       href="#">
                                        Presentación Día con Inversionistas</a>
                                </h5>
                                <div class="gallery-tags small-text">
                                    <a href="#">Agosto 2020</a>
                                </div>
                            </div>
                        </div>

                    </div>-->
                    <!--</div>
                </div>
            </div>-->
                    <!--<div class="acd-group">
                        <a href="#" class="acd-heading">2019</a>
                        <div class="acd-des" style="display: none;">  <div class="row ">
                                <!--<div class="col-xl-3 col-md-6 gallery-title-item">

                                    <div class="vertical-item text-center ">
                                        <div class="item-media">

                                            <a aria-label="this opens in a new tab" target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/nemak/InformacionFinanciera/DocumentosRelevantes/Nemak-Day-2017.pdf">
                                                <img src="https://controladora.nemak.com/assets/Opcion4-f86665ed204cc3097c3fca5d9a7daacd1ef310309f02cc17f8ffa74ebc7f1b1e.png"
                                                     alt="alternative text"></a>

                                        </div>
                                        <div class="item-content">

                                            <h5 class="gallery-title">
                                                <a aria-label="this opens in a new tab" target="_blank"
                                                   href="https://investorcloud.s3.amazonaws.com/nemak/InformacionFinanciera/DocumentosRelevantes/Nemak-Day-2017.pdf">
                                                    Presentación Día con Inversionistas</a>
                                            </h5>
                                            <div class="gallery-tags small-text">
                                              <a href="#">Agosto 2019</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>-->
                    <!--<div class="col-xl-3 col-md-6 gallery-title-item">

                                    <div class="vertical-item text-center ">
                                        <div class="item-media">

                                            <a aria-label="this opens in a new tab" target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/elementiamateriales/InformacionFinanciera/BORRADOR.pdf">
                                              <img class="img-fluid" src="{% static 'images/elementia/ppt-08.png' %}" alt="alternative text" width="50%"></a>

                                        </div>
                                        <div class="item-content">

                                            <h4 class="gallery-title">
                                                <a aria-label="this opens in a new tab" target="_blank"
                                                   href="https://investorcloud.s3.amazonaws.com/elementiamateriales/InformacionFinanciera/BORRADOR.pdf">
                                                    Presentación XXXXXXXXXXXX</a>
                                            </h4>
                                            <div class="gallery-tags small-text" style="margin-top: -30px">
                                               <a href="#">Agosto 2019</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--<div class="col-xl-3 col-md-6 gallery-title-item">

                                    <div class="vertical-item text-center ">
                                        <div class="item-media">

                                            <a aria-label="this opens in a new tab" target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/nemak/InformacionFinanciera/DocumentosRelevantes/Nemak-Day-2017.pdf">
                                                <img src="https://controladora.nemak.com/assets/Opcion4-f86665ed204cc3097c3fca5d9a7daacd1ef310309f02cc17f8ffa74ebc7f1b1e.png"
                                                     alt="alternative text"></a>

                                        </div>
                                        <div class="item-content">

                                            <h5 class="gallery-title">
                                                <a aria-label="this opens in a new tab" target="_blank"
                                                   href="#">
                                                    Presentación Día con Inversionistas</a>
                                            </h5>
                                            <div class="gallery-tags small-text">
                                               <a href="#">Agosto 2019</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>-->
                    <!--  </div>
                  </div>
              </div>-->
                    <!--</div>
                </div>
            </div>-->

                    {#                    <div class="row mb-5 mt-4">#}
                    {#                        <div class="col-lg-12">#}
                    {#                            <h2>Otros documentos relevantes</h2>#}
                    {#                        </div>#}
                    {##}
                    {#                        <div class="col-xl-4 col-md-6 gallery-title-item">#}
                    {##}
                    {#                            <div class="vertical-item text-center ">#}
                    {#                                <div class="item-media">#}
                    {##}
                    {#                                    <a aria-label="this opens in a new tab" target="_blank"#}
                    {#                                       href="https://investorcloud.s3.amazonaws.com/elementiamateriales/InformacionFinanciera/BORRADOR.pdf">#}
                    {#                                        <img class="img-fluid" src="{% static 'images/elementia/ppt-08.png' %}" alt="alternative text"#}
                    {#                                             width="50%"></a>#}
                    {##}
                    {#                                </div>#}
                    {#                                <div class="item-content">#}
                    {##}
                    {#                                    <h4 class="gallery-title">#}
                    {#                                        <a aria-label="this opens in a new tab" target="_blank"#}
                    {#                                           href="https://investorcloud.s3.amazonaws.com/elementiamateriales/InformacionFinanciera/BORRADOR.pdf">#}
                    {#                                            Presentación XXXXXXXXXXXX</a>#}
                    {#                                    </h4>#}
                    {#                                    <div class="gallery-tags small-text" style="margin-top: -30px">#}
                    {#                                        <a href="#">Septiembre 2021</a>#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {##}
                    {#                        </div>#}
                    {#                        <div class="col-xl-4 col-md-6 gallery-title-item">#}
                    {##}
                    {#                            <div class="vertical-item text-center ">#}
                    {#                                <div class="item-media">#}
                    {##}
                    {#                                    <a aria-label="this opens in a new tab" target="_blank"#}
                    {#                                       href="https://investorcloud.s3.amazonaws.com/elementiamateriales/InformacionFinanciera/BORRADOR.pdf">#}
                    {#                                        <img class="img-fluid" src="{% static 'images/elementia/ppt-08.png' %}" alt="alternative text"#}
                    {#                                             width="50%"></a>#}
                    {##}
                    {#                                </div>#}
                    {#                                <div class="item-content">#}
                    {##}
                    {#                                    <h4 class="gallery-title">#}
                    {#                                        <a aria-label="this opens in a new tab" target="_blank"#}
                    {#                                           href="https://investorcloud.s3.amazonaws.com/elementiamateriales/InformacionFinanciera/BORRADOR.pdf">#}
                    {#                                            Presentación XXXXXXXXXXXX</a>#}
                    {#                                    </h4>#}
                    {#                                    <div class="gallery-tags small-text" style="margin-top: -30px">#}
                    {#                                        <a href="#">Septiembre 2020</a>#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {##}
                    {#                        </div>#}
                    {#                    </div>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
    <script>
        $('.accordion').each(function (i, elem) {
            var $elem = $(this),
                $acpanel = $elem.find(".acd-group > .acd-des"),
                $acsnav = $elem.find(".acd-group > .acd-heading");
            $acpanel.hide().first().slideDown("easeOutExpo");
            $acsnav.first().parent().addClass("acd-active");
            $acsnav.on('click', function () {
                if (!$(this).parent().hasClass("acd-active")) {
                    var $this = $(this).next(".acd-des");
                    $acsnav.parent().removeClass("acd-active");
                    $(this).parent().addClass("acd-active");
                    $acpanel.not($this).slideUp("easeInExpo");
                    $(this).next().slideDown("easeOutExpo");
                } else {
                    $(this).parent().removeClass("acd-active");
                    $(this).next().slideUp("easeInExpo");
                }
                return false;
            });
        });
    </script>
{% endblock %}
