{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}


{% block wrapper %}
    <section id="content">
        <div class="content-wrap" style="padding: 50px 0 80px;">

            <div class="container clearfix">

                <div id="glossario-id"> &nbsp;</div>



                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>

                        </th>
                        <th>
                        </th>
                    </tr>
                    </thead>

                    <tbody>


                    <tr class="documents letra-tira">
                        <td colspan="2">
                            <div class="glossario">
                                    <div id="A" class="gloss-letra"><b><u>A</u></b></div>
                            </div>
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <b>Administrador</b>
                        </td>
                        <td>
significa Murano AT GV, S.A. de C.V. o cualquier otro vehículo afiliado o controlado por la Compañía o, en caso de que el Administrador sea destituido de conformidad con el fideicomiso respectivo, cualquier otro tercero que sea designado como administrador sustituto.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Agente estructurador</b>
                        </td>
                        <td>
                            significa Casa de Bolsa BBVA Bancomer, S.A. de C.V., Grupo Financiero BBVA Bancomer y/o cualquier otra casa de bolsa que sea designada para actuar como agente estructurador.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Auditor externo</b>
                        </td>
                        <td>
                            significa el despacho de contadores públicos independiente del Administrador, del Fideicomitente y del Fiduciario, contratado en términos de cada fideicomiso para dar certeza sobre los estados financieros de la operación.
                        </td>
                    </tr>


                    <tr class="documents letra-tira">
                        <td colspan="2">
                            <div class="glossario">
                                    <div id="B" class="gloss-letra"><b><u>B</u></b></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td id="B"><b>BIVA</b></td>
                        <td>significa la Bolsa Institucional de Valores, S.A. de C.V.</td>
                    </tr>
                    <tr>
                        <td id="B"><b>BMV</b></td>
                        <td>significa la Bolsa Mexicana de Valores, S.A.B. de C.V.</td>
                    </tr>
                    <tr>
                        <td id="B"><b>Bolsa de Valores</b></td>
                        <td>significa la Bolsa Mexicana de Valores, S.A.B. de C.V. (BMV), la Bolsa Institucional de Valores, S.A. de C.V., o cualquier bolsa de valores autorizada para operar como tal en términos de la LMV.</td>
                    </tr>

                    <tr class="documents letra-tira">
                        <td colspan="2">
                            <div class="glossario">
                                    <div id="C" class="gloss-letra"><b><u>C</u></b></div>
                            </div>
                        </td>
                    </tr>
                     <tr>
                        <td id="C"><b>CERPIs</b></td>
                        <td>significa certificados bursátiles fiduciarios de proyectos de inversión.</td>
                    </tr>
                     <tr>
                        <td id="C"><b>CERPIs de coinversión</b></td>
                        <td>significan los certificados bursátiles fiduciarios de proyectos de inversión que podrán ser emitidos por el Fiduciario y que serán suscritos exclusivamente por el coinversionista como contraprestación por la coinversión.</td>
                    </tr>
                     <tr>
                        <td id="C"><b>CERPIs Serie L</b></td>
                        <td>significa los certificados bursátiles fiduciarios de proyectos de inversión Serie L.</td>
                    </tr>
                    <tr>
                        <td id="C"><b>CNBV</b></td>
                        <td>significa la Comisión Nacional Bancaria y de Valores.</td>
                    </tr>
                     <tr>
                        <td id="C"><b>Comité Técnico</b></td>
                        <td>significa el comité principal de cada fideicomiso, mismo que tendrá las facultades que a éste se le atribuyen en cada contrato, según corresponda.</td>
                    </tr>
                     <tr>
                        <td id="C"><b>Comité de conflictos</b></td>
                        <td>significa el comité para resolver conflictos de cada fideicomiso, mismo que tendrá las facultades que a éste se le atribuyen en cada contrato, según corresponda.</td>
                    </tr>
                     <tr>
                        <td id="C"><b>Compromiso</b></td>
                        <td>significa, respecto de cada emisión realizada bajo la modalidad de “llamadas de capital”, el número de CERPIs Serie L a ser emitidos en una emisión subsecuente que un tenedor está obligado a suscribir por cada CERPIs Serie L del que sea titular.</td>
                    </tr>
                     <tr>
                        <td id="C"><b>Conducta de destitución</b></td>
                        <td>significan cada uno de los supuestos que podrán tener como consecuencia la destitución y sustitución del Administrador, tales como la omisión en la rendición de cuentas de la gestión o incumplimientos graves de sus obligaciones contractuales o legales.</td>
                    </tr>
                    <tr class="documents letra-tira">
                        <td colspan="2">
                            <div class="glossario">
                                    <div id="D" class="gloss-letra"><b><u>D</u></b></div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td id="D"><b>Distribución de rendimientos</b></td>
                        <td>significa todos y cada uno de los dividendos, reducciones, reembolsos, amortizaciones o cualesquiera otras distribuciones de capital, productos, cantidades o demás contraprestaciones de cualquier naturaleza pagaderos en efectivo, derivados de o relacionados con las inversiones.
                        </td>
                    </tr>
                     <tr class="documents letra-tira">
                        <td colspan="2">
                            <div class="glossario">
                                    <div id="E" class="gloss-letra"><b><u>E</u></b></div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td id="E"><b>Emisión</b></td>
                        <td>significa cada una de las emisiones de CERPIs al amparo del programa que realice el Fiduciario, de tiempo en tiempo, a través de cada uno de los fideicomisos.
                        </td>
                    </tr>
                    <tr>
                        <td id="E"><b>Emisión subsecuente</b></td>
                        <td>significa, respecto de cada emisión realizada bajo la modalidad de “llamadas de capital”, cada una de las actualizaciones de la emisión de los CERPIs Serie L.
                        </td>
                    </tr>
                    <tr>
                        <td id="E"><b>EMISNET</b></td>
                        <td>significa, Sistema Electrónico de Comunicación con Emisoras de Valores a cargo de la BMV.
                        </td>
                    </tr>

                     <tr class="documents letra-tira">
                        <td colspan="2">
                            <div class="glossario">
                                    <div id="F" class="gloss-letra"><b><u>F</u></b></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td id="F"><b>Fideicomitente</b></td>
                        <td>significa Murano AT GV, S.A. de C.V.</td>
                    </tr>
                    <tr>
                        <td id="F"><b>Fiduciario</b></td>
                        <td>significa Banco Actinver, S.A., Institución de Banca Múltiple, Grupo Financiero Actinver, en su calidad de fiduciario del fideicomiso. </td>
                    </tr>

                     <tr class="documents letra-tira">
                        <td colspan="2">
                            <div class="glossario">
                                    <div id="I" class="gloss-letra"><b><u>I</u></b></div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td id="I"><b>Indeval</b></td>
                        <td>significa S.D. Indeval Institución para el Depósito de Valores, S.A. de C.V.</td>
                    </tr>
                     <tr class="documents letra-tira">
                        <td colspan="2">
                            <div class="glossario">
                                    <div id="L" class="gloss-letra"><b><u>L</u></b></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td id="L"><b>Límites de apalancamiento</b></td>
                        <td>significa, los límites a los que estará sujeto cada uno de los fideicomisos en relación con la contratación de deuda.</td>
                    </tr>
                    <tr>
                        <td id="L"><b>Llamada de capital</b></td>
                        <td>significa la solicitud que realice el Fiduciario, previa instrucción por escrito del Administrador, a cada tenedor que sea titular de CERPIs Serie L para suscribir y pagar los CERPIs Serie L que le corresponda suscribir de una emisión subsecuente de conformidad con su compromiso respectivo. </td>
                    </tr>
                    <tr>
                        <td id="L"><b>LMV</b></td>
                        <td>significa la Ley del Mercado de Valores. </td>
                    </tr>

                    <tr class="documents letra-tira">
                        <td colspan="2">
                            <div class="glossario">
                                    <div id="P" class="gloss-letra"><b><u>P</u></b></div>
                            </div>
                        </td>
                    </tr>
                     <tr>
                        <td id="P"><b>Partes</b></td>
                        <td>significa conjuntamente el Fideicomitente, el Administrador, el Fiduciario y el representante común.</td>
                    </tr>
                    <tr>
                        <td id="P"><b>Patrimonio</b></td>
                        <td>significa los bienes y derechos, junto con todos sus frutos, productos y accesorios que sean cedidos o de cualquier otra forma transmitidos al o adquiridos por el Fiduciario en relación con cada fideicomiso.</td>
                    </tr>
                    <tr>
                        <td id="P"><b>Programa</b></td>
                        <td>significa el programa de colocación de CERPIs autorizado por la CNBV descrito en el prospecto inicial, al amparo del cual cada fideicomiso podrá realizar emisiones de CERPIs.</td>
                    </tr>

 <tr class="documents letra-tira">
                        <td colspan="2">
                            <div class="glossario">
                                    <div id="R" class="gloss-letra"><b><u>R</u></b></div>
                            </div>
                        </td>
                    </tr>
                   <tr>
                        <td id="R"><b>Recursos derivados de cada emisión</b></td>
                        <td>significa, respecto de cada emisión, los recursos que se obtengan por la colocación de los CERPIs Serie L respectiva.</td>
                    </tr> <tr>
                        <td id="R"><b>Remuneración del Administrador</b></td>
                        <td>significa la cantidad que, en caso de ser establecida en el fideicomiso correspondiente, el Fiduciario deberá pagar al Administrador por llevar a cabo las obligaciones que a éste le corresponden derivados de cada uno de los fideicomisos, con cargo al patrimonio de cada uno de los fideicomisos, según corresponda.</td>
                    </tr> <tr>
                        <td id="R"><b>Representante Común</b></td>
                        <td>significa Masari Casa de Bolsa, S.A.</td>
                    </tr>
                     <tr>
                        <td id="R"><b>RNV</b></td>
                        <td>significa el Registro Nacional de Valores a cargo de la CNBV.</td>
                    </tr>
                     <tr class="documents letra-tira">
                        <td colspan="2">
                            <div class="glossario">
                                    <div id="V" class="gloss-letra"><b><u>V</u></b></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td id="V"><b>Vehículo de inversión</b></td>
                        <td>significa cualquier fideicomiso, sociedad o vehículo de propósito específico constituido bajo legislación mexicana, a través del cual se llevarán a cabo las inversiones conforme a lo establecido en el contrato de fideicomiso y demás documentos de la emisión correspondiente.</td>
                    </tr>

                    </tbody>
                </table>

            </div>

        </div>
    </section>


{% endblock %}

{% block otherscripts %}
{% endblock %}
