{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}


{% block wrapper %}
    <div class="container mt-5">
        <div class="row container mb-5">
            <div class="col-12">
                <!--<h2>Próximos eventos</h2>-->
                <div class="evento">
                    <span class="tc-gray">29 de Octubre 2021 • 10:00 am. (CT)</span>
                    <h4 class="mb-0">Conferencia telefónica 3T21</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}

{% endblock %}
