{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}


{% block wrapper %}
    <div class="container mt-5 px-0">
        <div class="col-md-12">
            <h2>Cotización de la Acción</h2> <br>
            <div id="chartdiv_895" style="height: 600px;width: 100%"></div>
            <br><br>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}

    <script src="{% static 'javascripts/amCharts/amcharts.js' %}"></script>
    <script src="{% static 'javascripts/amCharts/serial.js' %}"></script>
    <script src="{% static 'javascripts/amCharts/amstock.js' %}"></script>
    <script src="{% static 'javascripts/amCharts/themes/iredge.js' %}"></script>
    <script src="{% static 'javascripts/cotizacion.js' %}?v=1.0.2"></script>
{% endblock %}
