{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}


{% block wrapper %}
    <div class="container mt-5">
        <p>
           La Asamblea de tenedores es el órgano máximo de decisión respecto a cada fideicomiso en particular y está integrado por todos y cada uno de los poseedores de los certificados respectivos. Dicha Asamblea se llevará a cabo cada vez que exista una nueva convocatoria y las decisiones que se tomen en ella serán vinculantes para todos los tenedores.
        </p>
        <p>Entre los asuntos que se podrán tratar dentro de cada Asamblea estarán, entre otros, los siguientes:</p>
        <ul class="circle-green list-styled">
            <li>	Aprobar ampliaciones a las emisiones, ya sea en el monto o en el número de certificados.</li>
            <li>	Remover y sustituir al Administrador del patrimonio del fideicomiso.</li>
            <li>	Aprobar cualquier modificación a los fines del fideicomiso. </li>
            <li>	Establecer los límites máximos de endeudamiento y el índice de cobertura de servicio de la deuda deseable. </li>
            <li>	Aprobar cualquier incremento a los esquemas de compensación y comisiones por administración o cualquier otro concepto a favor del Administrador o los miembros del Comité Técnico.</li>
        </ul><br>
        <p>Todas las resoluciones deberán ser adoptadas por el voto de los tenedores que representen la mayoría de los certificados presentes en la asamblea de que se trate, exceptuando en situaciones relacionadas con la terminación anticipada del fideicomiso o su inscripción en bolsas reconocidas, así como cuando se desee destituir al Administrador para el cual se requerirá el voto favorable de los tenedores que representen más del 66% de los títulos en circulación. De forma similar, en caso de que se convoque una Asamblea para resolver la remoción y sustitución del Representante Común, se requerirá un quórum de por lo menos el 75% de los certificados en circulación. </p>
        <p>Para las votaciones no se tomará en cuenta a los tenedores que tengan un conflicto de interés respecto al punto tratado, sin que ello afecte el quórum requerido. No obstante, en caso de que algún tenedor en lo individual o conjuntamente represente un 25% o más del total de títulos en circulación del fideicomiso correspondiente podrá oponerse judicialmente a las resoluciones tomadas en las asambleas generales.</p>
    </div>
{% endblock %}

{% block otherscripts %}
{% endblock %}
