{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}


{% block wrapper %}
    <div class="container mt-5">
        <h3>Calificaciones crediticias </h3>
        <p>Las calificaciones crediticias de las emisiones de Acosta Verde constituyen un componente importante del atractivo de inversión de la Compañía, pues cualifican la solidez financiera, nivel de ingresos, liquidez y capacidad de acceso a nuevos recursos con los que cuenta el Grupo. Cualquier cambio en estos podría modificar el costo de fondeo de la Compañía en los mercados de capitales o en la obtención de nuevos créditos.</p>

        <p>A la fecha, las calificaciones otorgadas por las instituciones autorizadas son las siguientes:</p>
        <table class="table sin-bolde">


            <tbody class="text-center">

            <tr>
                <td width="40%"></td>
               <td class="borde title-table">Fitch
                    Ratings<sup>1</sup></td>
                <td class="borde title-table">Fitch
                    Ratings<sup>2</sup></td>

            </tr>
{#            <tr>#}
{#                <td colspan="4">&nbsp;</td>#}
{#            </tr>#}
            <tr>
                <td width="40%" class="borde bg-gris">CEBUR ACOSTCB 15</td>
               <td class="borde">‘AA(mex)vra’ - Perspectiva negativa</td>
                <td class="borde">HR AAA (E) – Observación negativa</td>

            </tr>
            </tbody>
        </table>
        <sub>1</sub> Fecha de la calificación: 2020-10-02.<br/>
<sub>2</sub> Fecha de la calificación: 2020-07-24.<br/>


        <table class="table sin-bolde">


            <tbody class="text-center">

            <tr>
                <td width="40%"></td>
               <td class="borde title-table">Standard and Poor's<sup>1</sup></td>
                <td class="borde title-table">Fitch
                    Ratings<sup>2</sup></td>

            </tr>
            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>
            <tr>
                <td width="40%" class="borde bg-gris">Calificación de Corto Plazo (escala local)</td>
               <td class="borde">-</td>
                <td class="borde">D(mex)</td>

            </tr>
            <tr>
                <td class="borde bg-gris">Calificación de Largo Plazo (escala local)</td>
                <td class="borde">-</td>
                <td class="borde">D(mex)</td>

            </tr>
            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>

            <tr>
                <td class="borde bg-gris">Calificación Escala Global</td>
                -<td class="borde">D</td>
                <td class="borde">D</td>

            </tr>
            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>
            <tr>
                <td class="borde bg-gris">Bono 144ª/Reg @2020</td>
               <td class="borde">-</td>
                <td class="borde">CC / RR5</td>

            </tr>
            <tr>
                <td class="borde bg-gris">Bono 144ª/Reg @2024</td>
                <td class="borde">D</td>
                <td class="borde">C / RR5</td>

            </tr>
            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>
            <tr>
                <td class="borde bg-gris">Programa de certificados bursátiles de Corto Plazo</td>
                <td class="borde">-</td>
                <td class="borde">C(mex)</td>

            </tr>
            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>
            <tr>
                <td class="borde bg-gris">Perspectiva</td>
                <td class="borde">-</td>
                <td class="borde">Estable</td>

            </tr>
            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>

            </tbody>

        </table>
    </div>

    <div>
        <table>
            <thead>
                <th>

                </th>
            </thead>
            <tbody></tbody>
        </table>
    </div>

{% endblock %}

{% block otherscripts %}
{% endblock %}