{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}


{% block wrapper %}
    <div class="container">
      <br>
        <div class="row">
            <div class="col-12" align="center">
                <img src="{% static 'images/cerpis/cerpis1.png' %}" alt="alternative text">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <p>
                    Grupo Murano ha establecido un programa de colocación de Certificados Bursátiles Fiduciarios de
                    Proyectos de Inversión (CERPIS) para acceder a recursos frescos que le permitan acelerar el
                    desarrollo e incorporación de activos inmobiliarios, con la intención de consolidar un portafolio
                    generador de rendimientos acrecientes y predecibles, en beneficio de los tenedores de
                    CERPIS.
                </p>
                <p>
                    Este programa ha sido diseñado bajo un esquema en que podrán coexistir una o varias emisiones de
                    CERPIS Serie L con características de colocación distintas para cada una de ellas a través de varios
                    fideicomisos. Esto es, cada fideicomiso podrá llevar cabo ofertas públicas restringidas de CERPIS
                    Serie L para ser colocados entre inversionistas institucionales calificados, con sus particulares
                    características, términos y condiciones. Asimismo, el uso especifico de los recursos levantados de
                    cada emisión se establece en sus respectivos documentos de colocación, en los cuales también se
                    incluye una descripción esquemática de la estructura de la emisión.</p>
                <p>
                    A su vez, los fideicomisos podrán realizar las inversiones correspondientes en sociedades,
                    fideicomisos y en general en cualesquiera vehículos de inversión, ya sea mediante la participación,
                    directa o indirecta, o mediante el otorgamiento de financiamiento. Asimismo, podrán participar en
                    inversiones mediante la celebración de contratos de coinversión y podrán pagar la contraprestación
                    correspondiente con emisiones de CERPIs de series de coinversión.</p>
                <p>
                    El rendimiento de los CERPIS colocados se encuentra vinculado a los activos que forman parte del
                    patrimonio del fideicomiso, otorgando el derecho de participar en las distribuciones del fideicomiso
                    en forma proporcional a su tenencia. Dichas distribuciones serán recibidas por el fiduciario en
                    forma de dividendos o rendimientos (incluyendo reducciones de capital) dependiendo de los resultados
                    de las inversiones realizadas por el fideicomiso. </p>
                <p>
                    Cabe precisar que los CERPIS no confieren a sus tenedores el derecho de recibir cantidad alguna por
                    concepto de principal e intereses, y no se encuentran garantizados de ninguna forma, por lo que no es
                    posible asegurar que los tenedores recibirán cantidad alguna bajo el esquema de estos valores.</p>
                <p>
                    Los CERPIS emitidos al amparo del programa de colocación de Grupo Murano estarán listados en la
                    Bolsa Institucional de Valores bajo la clave de pizarra “MURAPI” seguida de la numeración progresiva que
                    le corresponda a cada emisión.</p>

            </div>
        </div>
        <div class="row">
            <div class="col-12 overflow-auto">
                <h3 align="center">Emisiones MURAPI vigentes</h3>
                <table class="table table-striped text-center">
                    <tbody>
                    <tr></tr>
                    <tr>
                        <th class="text-left">Clave de pizarra</th>
                        <td> MURAPI 20-1</td>
                        <td> MURAPI 20-2</td>
                        <td> MURAPI 20-3</td>
                    </tr>
                    <tr>
                        <th class="text-left"> Administrador</th>
                        <td>Murano AT GV, S.A. de C.V.</td>
                        <td> Murano AT GV, S.A. de C.V.</td>
                        <td> Murano AT GV, S.A. de C.V.</td>
                    </tr>
                    <tr>
                        <th class="text-left"> Series</th>
                        <td> Serie L: Inversionistas CERPI<br>
                            Serie de Coinversión
                        </td>
                        <td>
                            Serie L: Inversionistas CERPI<br>
                            Serie de Coinversión
                        </td>
                        <td>
                            Serie L: Inversionistas CERPI<br>
                            Serie de Coinversión
                        </td>
                    </tr>
                    <tr>
                        <th class="text-left"> Estructura de la oferta</th>
                        <td>Oferta pública restringida en México a través de llamadas de capital para la Serie L</td>
                        <td>
                            Oferta pública restringida en México a través de llamadas de capital para la Serie L
                        </td>
                        <td>
                            Oferta pública restringida en México a través de llamadas de capital para la Serie L
                        </td>
                    </tr>
                    <tr>
                        <th class="text-left">Fecha de la oferta</th>
                        <td>
                            Diciembre de 2020
                        </td>
                        <td>
                            Diciembre de 2020
                        </td>
                        <td>Diciembre de 2020</td>
                    </tr>
                    <tr>
                        <th class="text-left">
                            Monto máximo de la emisión
                        </th>
                        <td>
                            Ps.450 millones
                        </td>
                        <td>
                            Ps.600 millones
                        </td>
                        <td>
                            Ps.100 millones
                        </td>
                    </tr>
                    <tr>
                        <th class="text-left"> Destino de los recursos</th>
                        <td>Wyndham Grand Condesa</td>
                        <td>Grand Island Cancún</td>
                        <td>Marina Vallarta</td>
                    </tr>
                    <tr>
                        <th class="text-left">Co-inversión</th>
                        <td> 69% por parte de Inmobiliaria Insurgentes 421</td>
                        <td>
                            88% por parte de BVG World
                        </td>
                        <td> -% por parte de Puerto Varas</td>
                    </tr>
                    <tr>
                        <th class="text-left">Plazo de la emisión</th>
                        <td>11 años</td>
                        <td>11 años</td>
                        <td>11 años</td>
                    </tr>
                    <tr>
                        <th class="text-left">Rendimiento base</th>
                        <td>	8%</td>
                        <td>	8%</td>
                        <td>	8%</td>
                    </tr>
                    <tr>
                        <th class="text-left">Rendimiento máximo</th>
                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>
                    </tr>
                    <tr>
                        <th class="text-left">Prospecto de colocación</th>
                        <td><a aria-label="this opens in a new tab" target="_blank" href="#" class="btn btn-infoe">Descargar</a></td>
                        <td><a aria-label="this opens in a new tab" target="_blank" href="#" class="btn btn-infoe">Descargar</a></td>
                        <td><a aria-label="this opens in a new tab" target="_blank" href="#" class="btn btn-infoe">Descargar</a></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    <div class="row">
        <div class="col-12">
            <p>
                Los últimos avisos de llamadas de capital y valuaciones independientes trimestrales de alguna emisión pueden consultarse en la sección de eventos relevantes, siguiendo este
                <a href="{% url 'eventos' %}"><u>enlace</u>.</a>
            </p>
        </div>
    </div>
    </div>
{% endblock %}

{% block otherscripts %}
{% endblock %}
