{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}


{% block wrapper %}
    <div class="container mt-5">
        <h3>Dividendos</h3>
        <p>
            Aunque Grupo Acosta Verde actualmente no cuenta con una política de dividendos formal, la Compañía tiene la
            intención de declarar y pagar dividendos como lo ha hecho en el pasado, lo cual dependerá en todo momento de
            los resultados de operación, situación financiera y demás factores que el Consejo de Administración y sus
            accionistas consideren pertinentes.
        </p>
        <p>
            Sin perjuicio de lo anterior, en un futuro Grupo Acosta Verde podría adoptar políticas de distribución de
            utilidades según lo apruebe la Asamblea General de Accionistas de la Compañía de conformidad con lo
            establecido en sus estatutos sociales.
        </p>
        <p>
            El decreto y pago de dividendos, así como el monto de estos, deben ser aprobados por la mayoría de los
            accionistas reunidos en una Asamblea General de Accionistas, con base en una recomendación del Consejo de
            Administración.
        </p>

    </div>

{% endblock %}

{% block otherscripts %}
{% endblock %}