{% extends 'layouts/interior.html' %}
{% load static %}

{% block otherstyles %}
{% endblock %}

{% block wrapper %}
    <div class="content-wrap pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="widget glosario">
                        <div id="glossario-id" class="">
                            <a class="glosarioLink" href="#A">
                                <div class="gloss-letra"> A</div>
                            </a>

                            <a class="glosarioLink" href="#B">
                                <div class="gloss-letra"> B</div>
                            </a>

                            <a class="glosarioLink" href="#C">
                                <div class="gloss-letra"> C</div>
                            </a>

                            <a class="glosarioLink" href="#D">
                                <div class="gloss-letra"> D</div>
                            </a>

                            <a class="glosarioLink" href="#E">
                                <div class="gloss-letra"> E</div>
                            </a>

                            <a class="glosarioLink" href="#F">
                                <div class="gloss-letra"> F</div>
                            </a>

                            <a class="glosarioLink" href="#G">
                                <div class="gloss-letra"> G</div>
                            </a>

                            {#                            <a class="glosarioLink" href="#H">#}
                            {#                                <div class="gloss-letra"> H</div>#}
                            {#                            </a>#}

                            <a class="glosarioLink" href="#I">
                                <div class="gloss-letra"> I</div>
                            </a>

                            <a class="glosarioLink" href="#L">
                                <div class="gloss-letra"> L</div>
                            </a>

                            <a class="glosarioLink" href="#M">
                                <div class="gloss-letra"> M</div>
                            </a>

                            <a class="glosarioLink" href="#N">
                                <div class="gloss-letra"> N</div>
                            </a>

                            <a class="glosarioLink" href="#O">
                                <div class="gloss-letra"> O</div>
                            </a>

                            <a class="glosarioLink" href="#P">
                                <div class="gloss-letra"> P</div>
                            </a>

                            <a class="glosarioLink" href="#R">
                                <div class="gloss-letra"> R</div>
                            </a>

                            <a class="glosarioLink" href="#S">
                                <div class="gloss-letra"> S</div>
                            </a>

                            <a class="glosarioLink" href="#T">
                                <div class="gloss-letra"> T</div>
                            </a>

                            <div class="clearfix"></div>
                        </div>
                        <table class="table analistas table-striped mt-4">
                            <thead>
                            <tr>
                                <th>
                                    <strong>Término</strong>
                                </th>
                                <th>
                                    <strong>Definición</strong>
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            <!-- Letra A -->
                            <tr class="documents letra-tira">
                                <td colspan="2">
                                    <div class="glossario">
                                        <a class="glosarioLink" href="#glossario-id">
                                            <div class="gloss-letra" id="A"> A</div>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                            <tr class="documents">
                                <td>
                                    ABR
                                </td>
                                <td>
                                    Significa área bruta rentable
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Actinver Casa de Bolsa
                                </td>
                                <td>
                                    Significa Actinver Casa de Bolsa, S.A. de C.V., Grupo Financiero Actinver.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Activos
                                </td>
                                <td>
                                    Significa los Bienes Inmuebles y/o los Derechos de Arrendamiento que pudieran ser
                                    aportados o adquiridos de tiempo en tiempo al Patrimonio del Fideicomiso.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Arrendatario
                                </td>
                                <td>
                                    Significa cualquier Persona que sea parte de un Contrato de Arrendamiento.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Asamblea de Tenedores
                                </td>
                                <td>
                                    Significa la asamblea de Tenedores en términos de la LMV y de la LGTOC.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Asesor y Administrador
                                </td>
                                <td>
                                    Significa Fibra HD Servicios, S.C., o la sociedad que la sustituya de tiempo en
                                    tiempo conforme a lo previsto en el Fideicomiso y cuyo objeto social sea la
                                    prestación al Fideicomiso de los Servicios de Administración, Representación y
                                    Planeación, y que cumpla con los requisitos a que se refiere la Cláusula Décima
                                    Segunda del Fideicomiso.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Asesor Contable y Fiscal
                                </td>
                                <td>
                                    Significa, Mancera, S.C. integrante de Ernst & Young Global o cualquier otro
                                    despacho designado por el Comité Técnico, a ser contratado por el Fiduciario, con
                                    cargo al Patrimonio del Fideicomiso, para llevar a cabo el cumplimiento de las
                                    obligaciones fiscales y contables derivadas del Fideicomiso, quien deberá ser un
                                    despacho de contadores públicos de reconocido prestigio a nivel internacional con
                                    oficinas en México.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Auditor Externo
                                </td>
                                <td>
                                    Significa Galaz, Yamazaki, Ruiz Urquiza, S.C. miembro de Deloitte Touche Tohmatsu
                                    Limited, u otro auditor externo contratado en términos del Fideicomiso; en el
                                    entendido que dicho auditor deberá ser un despacho de contadores públicos de
                                    reconocido prestigio internacional e independiente del Asesor y Administrador, del
                                    Fideicomitente, de los Fideicomitentes Adherentes y del Fiduciario.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Autoridades
                                </td>
                                <td>
                                    Significa cualquiera de las siguientes dependencias de la Administración Pública
                                    Federal: la Secretaría de Hacienda y Crédito Público, el Servicio de Administración
                                    Tributaria, la Comisión Nacional Bancaria y de Valores o el Banco de México.
                                </td>
                            </tr>

                            <!-- Letra B -->
                            <tr class="documents letra-tira">
                                <td colspan="2">
                                    <div class="glossario">
                                        <a class="glosarioLink" href="#glossario-id">
                                            <div class="gloss-letra" id="B"> B</div>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                            <tr class="documents">
                                <td>
                                    Bienes Inmuebles
                                </td>
                                <td>
                                    Significa los Inmuebles que se destinen al arrendamiento y cuya propiedad o derechos
                                    de arrendamiento adquiera el Fiduciario o se aporten al Fideicomiso para el
                                    cumplimiento de los fines del mismo.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    BMV
                                </td>
                                <td>
                                    Significa la Bolsa Mexicana de Valores, S.A.B. de C.V.
                                </td>
                            </tr>

                            <!-- Letra C -->
                            <tr class="documents letra-tira">
                                <td colspan="2">
                                    <div class="glossario">
                                        <a class="glosarioLink" href="#glossario-id">
                                            <div class="gloss-letra" id="C"> C</div>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                            <tr class="documents">
                                <td>
                                    Cartera Inicial
                                </td>
                                <td>
                                    Significa los 6 Activos a ser adquiridos con los recursos de la Emisión, consistente
                                    en 3 centros comerciales, un plantel educativo y dos plantas industriales.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Certificados Bursátiles Fiduciarios Inmobiliarios o CBFIs
                                </td>
                                <td>
                                    Significa los certificados bursátiles fiduciarios inmobiliarios a ser emitidos por
                                    el Fiduciario de conformidad con el Fideicomiso, la LMV, la Circular Única de
                                    Emisoras, la LGTOC y otras disposiciones legales aplicables, a ser inscritos en el
                                    RNV y listados en el listado de valores autorizados para cotizar en la BMV.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    CBFIs Adicionales
                                </td>
                                <td>
                                    Significa los CBFIs adicionales a los que se refiere el “Plan de Distribución” del
                                    presente Prospecto.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Circular Única de Emisoras
                                </td>
                                <td>
                                    Significa las Disposiciones de Carácter General Aplicables a las Emisoras de Valores
                                    y a otros Participantes del Mercado de Valores publicada en el Diario Oficial de la
                                    Federación el 19 de marzo de 2003, según la misma haya sido reformada de tiempo en
                                    tiempo.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Circular 1/2005
                                </td>
                                <td>
                                    Significa la Circular 1/2005, emitida por el Banco de México la cual contiene las
                                    Reglas a las que deberán sujetarse las Instituciones de Crédito, Casas de Bolsa,
                                    Instituciones de Seguros, Instituciones de Fianzas, Sociedades Financieras de Objeto
                                    Limitado y la Financiera Rural, en las operaciones de fideicomiso, según la misma
                                    haya sido reformada de tiempo en tiempo.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    CNBV
                                </td>
                                <td>
                                    Significa la Comisión Nacional Bancaria y de Valores.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Colliers
                                </td>
                                <td>
                                    Significa Colliers Lomelín, S.A. de C.V., en su carácter de prestador de servicios
                                    bajo el Contrato de Gestión Operativa, Comercialización y Mantenimiento.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Colocación
                                </td>
                                <td>
                                    Significa la colocación de CBFIs correspondientes a la presente Emisión entre el
                                    público inversionista.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Comité de Auditoría
                                </td>
                                <td>
                                    Tiene el significado que se le atribuye a dicho término en la Cláusula Décimo
                                    Primera, sección 11.04 del Fideicomiso.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Comité de Compensaciones
                                </td>
                                <td>
                                    Tiene el significado que le atribuye a dicho término en la Cláusula Décimo Primera,
                                    sección 11.07 del Fideicomiso.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Comité de Nominaciones
                                </td>
                                <td>
                                    Tiene el significado que se le atribuye a dicho término en la Cláusula Décimo
                                    Primera, sección 11.06 del Fideicomiso.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Comité de Prácticas
                                </td>
                                <td>
                                    Tiene el significado que se le atribuye a dicho término en la Cláusula Décimo
                                    Primera, sección 11.05 del Fideicomiso.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Comité Técnico
                                </td>
                                <td>
                                    Tiene el significado que se le atribuye a dicho término en la Cláusula Décimo
                                    Primera, sección 11.03 del Fideicomiso.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Conducta de Destitución
                                </td>
                                <td>
                                    Significa respecto de cualquier Persona: (i) la sentencia o resolución judicial
                                    firme que declare a dicha Persona responsable de fraude, dolo, mala fe o negligencia
                                    inexcusable respecto de las funciones de dicha Persona; (ii) una conducta criminal o
                                    un incumplimiento intencional de la ley por parte de dicha Persona (respecto del
                                    Fideicomiso o de su negocio); (iii) un incumplimiento del Fideicomiso, o de los
                                    contratos que deriven del mismo; o (iv) el concurso mercantil sobre dicha Persona.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Contrato de Arrendamiento
                                </td>
                                <td>
                                    Significa cualesquiera contratos de arrendamiento que sean celebrados por el
                                    Fiduciario y los Arrendatarios respecto de los Activos, así como los contratos de
                                    arrendamiento celebrados con anterioridad a la Emisión, entre los arrendatarios y
                                    los propietarios originales de los Activos.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Contrato de Asesoría y Administración
                                </td>
                                <td>
                                    Significa el contrato de prestación de servicios a ser celebrado
                                    entre el Asesor y Administrador y el Fiduciario, a través del
                                    cual se establecerán los Servicios de Asesoría, Administración,
                                    Representación y Planeación.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Contrato de Colocación
                                </td>
                                <td>
                                    Significa el contrato de colocación, a ser celebrado por el
                                    Fiduciario y el Intermediario Colocador o cualesquiera otros
                                    intermediarios o instituciones financieras respecto de
                                    Colocaciones de CBFIs.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Contrato de Gestión Operativa,
                                    Comercialización y Mantenimiento
                                </td>
                                <td>
                                    Significa el contrato de prestación de servicios celebrado entre
                                    FIBRA HD Servicios, S.C. (el Asesor y Administrador) y
                                    Colliers, a través del cual Colliers, prestará al Asesor y
                                    Administrador los servicios de administración, operación y
                                    mantenimiento de los Activos que integran el Patrimonio del
                                    Fideicomiso.

                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Criterios de Elegibilidad
                                </td>
                                <td>
                                    Significa aquellos criterios que se establecen en el Fideicomiso a efecto de que el
                                    Fiduciario pueda realizar Inversiones en los Activos con posterioridad a la
                                    aplicación de los recursos obtenidos por la primera Emisión de CBFIs que realice el
                                    Fiduciario y de acuerdo con las instrucciones que reciba del Comité Técnico. Dichos
                                    Criterios de Elegibilidad podrán ser modificados de tiempo en tiempo conforme lo
                                    determine el Comité Técnico con el voto favorable de la mayoría de sus Miembros
                                    Independientes, previa opinión del Comité de Prácticas.
                                </td>
                            </tr>

                            <!-- letra D -->
                            <tr class="documents letra-tira">
                                <td colspan="2">
                                    <div class="glossario">
                                        <a class="glosarioLink" href="#glossario-id">
                                            <div class="gloss-letra" id="D"> D</div>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                            <tr class="documents">
                                <td>
                                    Derechos de Arrendamiento
                                </td>
                                <td>
                                    Significa los derechos que adquiera el Fiduciario conforme lo previsto en el
                                    Fideicomiso, consistentes en los derechos al cobro y los ingresos derivados de
                                    contratos de arrendamiento de cualquier Inmueble, incluyendo sin limitar, los
                                    derechos sobre los seguros relacionados con dicho bien inmueble.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Derechos de Suscripción Preferentes
                                </td>
                                <td>
                                    Significa, respecto de aquellas emisiones que conforme al acuerdo de la Asamblea de
                                    Tenedores deban ser suscritas de manera preferente por los Tenedores, el derecho de
                                    opción que presentan los tenedores de los CBFIs, frente a terceros interesados en
                                    suscribir CBFIs, que con sus aportaciones, generaran un aumento del capital.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    DOF
                                </td>
                                <td>
                                    Significa el Diario Oficial de la Federación.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Distribución
                                </td>
                                <td>
                                    Significa los recursos derivados de las inversiones en Activos que serán entregados
                                    a los Tenedores cuando menos 1 (una) vez al año, a más tardar el 15 de marzo, y que
                                    al menos será el 95% (noventa y cinco por ciento) del Resultado Fiscal del
                                    Fideicomiso por el ejercicio inmediato anterior; en el entendido de que para que el
                                    Comité Técnico pueda acordar un monto de Distribución mayor al 95% (noventa y cinco
                                    por ciento) del Resultado Fiscal del Fideicomiso, requerirá adicionalmente del voto
                                    favorable de la mayoría de sus Miembros Independientes.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Distribución de Efectivo
                                </td>
                                <td>
                                    Significa la Distribución más cualquier otra cantidad que el Comité Técnico
                                    determine deba ser entregada a los Tenedores en términos del Fideicomiso.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Documentos de Emisión
                                </td>
                                <td>
                                    Significa el Fideicomiso, el Título, el presente Prospecto, el Contrato de
                                    Colocación y demás documentación accesoria y sus respectivos anexos (tal y como cada
                                    uno de ellos sea modificado de tiempo en tiempo), por medio de los cuales se
                                    instrumente la Emisión y cualesquiera otros documentos, para futuras Emisiones.
                                </td>
                            </tr>

                            <!-- Letra E -->
                            <tr class="documents letra-tira">
                                <td colspan="2">
                                    <div class="glossario">
                                        <a class="glosarioLink" href="#glossario-id">
                                            <div class="gloss-letra" id="E"> E</div>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                            <tr class="documents">
                                <td>
                                    Ejecutivos
                                </td>
                                <td>
                                    Significa las personas físicas empleados de que ocupen los primeros dos niveles del
                                    Asesor y Administrador (director general y directores).
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Emisión
                                </td>
                                <td>
                                    Significa cada emisión de CBFIs que realice el Fiduciario, de tiempo en tiempo en
                                    cada Fecha de Emisión, de conformidad con lo establecido en el Fideicomiso y al
                                    amparo de lo previsto por los artículos 187 y 188 de la LISR.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    EMISNET
                                </td>
                                <td>
                                    Significa el Sistema Electrónico de Comunicación con Emisoras de Valores a cargo de
                                    la BMV.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Eventos Relevantes
                                </td>
                                <td>
                                    Tiene el significado atribuido a eventos relevantes en el artículo segundo de la
                                    LMV.
                                </td>
                            </tr>

                            <!-- Letra F -->
                            <tr class="documents letra-tira">
                                <td colspan="2">
                                    <div class="glossario">
                                        <a class="glosarioLink" href="#glossario-id">
                                            <div class="gloss-letra" id="F"> F</div>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                            <tr class="documents">
                                <td>
                                    Fecha de Distribución de Efectivo
                                </td>
                                <td>
                                    Significa la fecha en que se entregue, en su caso, las Distribuciones de Efectivo a
                                    los Tenedores conforme lo previsto en el Fideicomiso.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Fecha de Emisión
                                </td>
                                <td>
                                    Significa la fecha en que se lleve a cabo la Emisión de CBFIs por el Fideicomiso.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    FIBRAS
                                </td>
                                <td>
                                    Significa los fideicomisos de infraestructura y Bienes raíces de conformidad con lo
                                    dispuesto en los artículos 187 y 188 de la LISR.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Fideicomisarios
                                </td>
                                <td>
                                    Significa los Tenedores de los CBFIs representados por el Representante Común.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Fideicomiso, Emisor, FIBRA HD o la FIBRA
                                </td>
                                <td>
                                    Significa el contrato de fideicomiso irrevocable celebrado entre el Fideicomiso de
                                    Fundadores, como fideicomitente, y Banco Actinver, S.A., Institución de Banca
                                    Múltiple, Grupo Financiero Actinver, División Fiduciaria, como fiduciario, e
                                    identificado bajo el número F/1523, de fecha 17 de diciembre de 2014, según el mismo
                                    sea modificado de tiempo en tiempo.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Fideicomiso de Fundadores
                                </td>
                                <td>
                                    Significa el contrato de fideicomiso irrevocable celebrado por Banco Actinver, S.A.,
                                    Institución de Banca Múltiple, Grupo Financiero Actinver, División Fiduciaria,
                                    actuando única y exclusivamente con el carácter de fiduciario del fideicomiso
                                    F/1868, como fideicomitente y fideicomisario, y Actinver Casa de Bolsa, S.A. de
                                    C.V., Grupo Financiero Actinver, como fiduciario, e identificado bajo el número
                                    F/1871, de fecha 11 de diciembre de 2014, según el mismo sea modificado de tiempo en
                                    tiempo.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Fideicomitente
                                </td>
                                <td>
                                    Significa el Fideicomiso de Fundadores.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Fiduciario o Emisor
                                </td>
                                <td>
                                    Significa Banco Actinver, S.A., Institución de Banca Múltiple, Grupo Financiero
                                    Actinver, División Fiduciaria o sus sucesores, cesionarios, o quien sea designado
                                    subsecuentemente como fiduciario de conformidad con el Fideicomiso.
                                </td>
                            </tr>

                            <!-- Letra G -->
                            <tr class="documents letra-tira">
                                <td colspan="2">
                                    <div class="glossario">
                                        <a class="glosarioLink" href="#glossario-id">
                                            <div class="gloss-letra" id="G"> G</div>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                            <tr class="documents">
                                <td>
                                    Gastos de Emisión
                                </td>
                                <td>
                                    Significa los gastos, derechos, honorarios y cualesquiera otros semejantes que se
                                    generen derivados o con motivo de cada Emisión.
                                </td>
                            </tr>

                            <!-- Letra I -->
                            <tr class="documents letra-tira">
                                <td colspan="2">
                                    <div class="glossario">
                                        <a class="glosarioLink" href="#glossario-id">
                                            <div class="gloss-letra" id="I"> I</div>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                            <tr class="documents">
                                <td>
                                    Intermediario Colocador
                                </td>
                                <td>
                                    Significa Actinver Casa de Bolsa, S.A., Grupo Financiero Actinver, o quien sea
                                    contratado por instrucciones del Comité Técnico de conformidad con el Fideicomiso a
                                    efectos de llevar a cabo la colocación de los CBFIs.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Inversiones Permitidas
                                </td>
                                <td>
                                    Significa las inversiones que se realicen con cargo al Patrimonio del Fideicomiso de
                                    acuerdo con las instrucciones escritas que reciba el Fiduciario para tales efectos,
                                    mismas que se realizarán de conformidad con el Contrato de Fideicomiso, la
                                    Legislación Aplicable y conforme a lo previsto en la fracción III del artículo 187
                                    de la LISR.
                                </td>
                            </tr>

                            <!-- Letra L -->
                            <tr class="documents letra-tira">
                                <td colspan="2">
                                    <div class="glossario">
                                        <a class="glosarioLink" href="#glossario-id">
                                            <div class="gloss-letra" id="L"> L</div>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                            <tr class="documents">
                                <td>
                                    Legislación Aplicable
                                </td>
                                <td>
                                    Significa las leyes, reglamentos, decretos, circulares y demás ordenamientos
                                    jurídicos de carácter federal, estatal y/o municipal vigentes en México.
                                </td>
                            </tr>

                            <tr class="documents">
                                <td>
                                    LGEEPA
                                </td>
                                <td>
                                    Significa la Ley General del Equilibrio Ecológico y Protección al Ambiente
                                </td>
                            </tr>

                            <tr class="documents">
                                <td>
                                    LGTOC
                                </td>
                                <td>
                                    Significa la Ley General de Títulos y Operaciones de Crédito.
                                </td>
                            </tr>

                            <tr class="documents">
                                <td>
                                    LIC
                                </td>
                                <td>
                                    Significa la Ley de Instituciones de Crédito.
                                </td>
                            </tr>

                            <tr class="documents">
                                <td>
                                    Liquidador
                                </td>
                                <td>
                                    Tiene el significado que se le atribuye a dicho término en el inciso (a), de la
                                    sección 25.03, de la Cláusula Vigésima Quinta del Fideicomiso.
                                </td>
                            </tr>

                            <tr class="documents">
                                <td>
                                    LIVA
                                </td>
                                <td>
                                    Significa la Ley del Impuesto al Valor Agregado.
                                </td>
                            </tr>

                            <tr class="documents">
                                <td>
                                    LISR
                                </td>
                                <td>
                                    Significa la Ley del Impuesto Sobre la Renta
                                </td>
                            </tr>

                            <!-- Letra M -->
                            <tr class="documents letra-tira">
                                <td colspan="2">
                                    <div class="glossario">
                                        <a class="glosarioLink" href="#glossario-id">
                                            <div class="gloss-letra" id="M"> M</div>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                            <tr class="documents">
                                <td>
                                    Miembro Independiente
                                </td>
                                <td>
                                    Significa cualquier persona que cumpla con los requisitos del artículo 24, segundo
                                    párrafo y 26 (veintiséis) de la LMV.
                                </td>
                            </tr>

                            <!-- Letra N -->
                            <tr class="documents letra-tira">
                                <td colspan="2">
                                    <div class="glossario">
                                        <a class="glosarioLink" href="#glossario-id">
                                            <div class="gloss-letra" id="N"> N</div>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                            <tr class="documents">
                                <td>
                                    NOI
                                </td>
                                <td>
                                    Significa ingresos en exceso de ciertos gastos y se calculará cómo ingresos por
                                    arrendamiento y otros ingresos, menos gastos de mantenimiento y generales, seguros y
                                    predial.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    NOI Proforma
                                </td>
                                <td>
                                    Significa el exceso de ingresos sobre ciertos gastos proforma más honorarios de
                                    operación y otros gastos proforma.
                                </td>
                            </tr>

                            <!-- Letra O -->
                            <tr class="documents letra-tira">
                                <td colspan="2">
                                    <div class="glossario">
                                        <a class="glosarioLink" href="#glossario-id">
                                            <div class="gloss-letra" id="O"> O</div>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                            <tr class="documents">
                                <td>
                                    Oferta u Oferta Pública
                                </td>
                                <td>
                                    Significa lo oferta de CBFIs a que se refiere el presente Prospecto. Este concepto
                                    se integra de la denominada Oferta Base más los montos que resultaran, en su caso,
                                    de ejercer la Opción de Sobreasignación y/o, en su caso, la Opción de Oferta
                                    Adicional mediante la cual se emitirían los CBFIs Adicionales
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Oferta Base
                                </td>
                                <td>
                                    Tiene el significado que se le atribuye en la sección 2.3 Plan de Distribución del
                                    presente Prospecto de Colocación.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Opción de Oferta Adicional
                                </td>
                                <td>
                                    Se refiere a la colocación de los CBFIs Adicionales cuando a criterio del Emisor y
                                    del Intermediario Colocador existiere una 22 sobre-demanda tal que la colocación de
                                    dichos CBFIs convenga a los intereses de los Tenedores.
                                </td>
                            </tr>

                            <!-- Letra P -->
                            <tr class="documents letra-tira">
                                <td colspan="2">
                                    <div class="glossario">
                                        <a class="glosarioLink" href="#glossario-id">
                                            <div class="gloss-letra" id="P"> P</div>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                            <tr class="documents">
                                <td>
                                    Patrimonio del Fideicomiso
                                </td>
                                <td>
                                    Tiene el significado que se le atribuye a dicho término en la Cláusula Sexta del
                                    Fideicomiso.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Periodo Mínimo de Inversión
                                </td>
                                <td>
                                    Significa el término de 4 (cuatro) años a que se refiere la fracción IV del artículo
                                    187 de la LISR o la que en su caso se establezca por la Legislación Aplicable.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Personas Relacionadas
                                </td>
                                <td>
                                    Tendrá el significado que se le atribuye a dicho término en el artículo segundo de
                                    la LMV.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    Precio de Colocación
                                </td>
                                <td>
                                    Significa $10.00 (diez pesos 00/100 M.N.) por cada CBFI.
                                </td>
                            </tr>
                            <tr class="documents">
                                <td>
                                    PROFEPA
                                </td>
                                <td>
                                    Significa la Procuraduría Federal de Protección al Ambiente.
                                </td>
                            </tr>

                            <!-- Letra R  -->
                            <tr class="documents letra-tira">
                                <td colspan="2">
                                    <div class="glossario">
                                        <a class="glosarioLink" href="#glossario-id">
                                            <div class="gloss-letra" id="R"> R</div>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                            <tr class="documents">
                                <td>
                                    Recursos Derivados de la Emisión
                                </td>
                                <td>
                                    Significa, respecto de cualquier Emisión, los recursos que el Emisor obtenga como
                                    resultado de cada Colocación de CBFIs (en el caso que Colocación se realice mediante
                                    oferta primaria), de conformidad con los términos y condiciones establecidos en los
                                    Documentos de Emisión respectivos, mismos que, sin limitación y después de deducirse
                                    los gastos correspondientes (incluyendo sin limitar aquellos relacionados con la
                                    oferta de CBFIs respectiva), se deberán invertir en la adquisición y/o construcción
                                    de Bienes Inmuebles que se destinen al arrendamiento o a la adquisición del derecho
                                    a percibir ingresos provenientes del arrendamiento de dichos Bienes Inmuebles, así
                                    como en el otorgamiento de financiamientos con garantía hipotecaria de 23 los Bienes
                                    Inmuebles arrendados para cumplir con los fines anteriores. En caso de que en
                                    futuras Emisiones se realice una oferta secundaria los recursos que se obtengan de
                                    la porción secundaria no estarán comprendidos en esta definición pues corresponderán
                                    al tenedor vendedor o tenedores vendedores correspondientes, según sea el caso.
                                </td>
                            </tr>

                            <tr class="documents">
                                <td>
                                    REIA
                                </td>
                                <td>
                                    Significa el Reglamento de la LGEEPA en materia de Evaluación de Materia Ambiental.
                                </td>
                            </tr>

                            <tr class="documents">
                                <td>
                                    Rentas
                                </td>
                                <td>
                                    Significa los ingresos obtenidos por el otorgamiento del uso o goce de los Bienes
                                    Inmuebles derivados de los Contratos de Arrendamiento así como derivados de los
                                    Derechos de Arrendamiento.
                                </td>
                            </tr>

                            <tr class="documents">
                                <td>
                                    Resultado Fiscal
                                </td>
                                <td>
                                    Tiene el significado que se atribuye a dicho término en el artículo 10 (diez) de la
                                    LISR, según dicho término sea modificado de tiempo en tiempo.
                                </td>
                            </tr>

                            <!-- Letra S -->
                            <tr class="documents letra-tira">
                                <td colspan="2">
                                    <div class="glossario">
                                        <a class="glosarioLink" href="#glossario-id">
                                            <div class="gloss-letra" id="S"> S</div>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                            <tr class="documents">
                                <td>
                                    Servicios de Asesoría y Administración Representación y Planeación
                                </td>
                                <td>
                                    Significa los servicios de Asesoría, Administración, representación y planeación que
                                    prestará el Asesor y Administrador al Fideicomiso, en términos del Contrato de
                                    Asesoría y Administración.
                                </td>
                            </tr>

                            <!-- Letra T -->
                            <tr class="documents letra-tira">
                                <td colspan="2">
                                    <div class="glossario">
                                        <a class="glosarioLink" href="#glossario-id">
                                            <div class="gloss-letra" id="T"> T</div>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                            <tr class="documents">
                                <td>
                                    Tenedores
                                </td>
                                <td>
                                    Significa los tenedores de uno o más de los CBFIs
                                </td>
                            </tr>

                            <tr class="documents">
                                <td>
                                    Título
                                </td>
                                <td>
                                    Significa el documento o título que documenta la Emisión, cuyo formato se adjunta al
                                    presente Prospecto como Anexo.
                                </td>
                            </tr>

                            <tr class="documents">
                                <td>
                                    Total de CBFIs Ofertados:
                                </td>
                                <td>
                                    Significa la totalidad de los CBFIs ofertados y colocados en la Fecha de Emisión,
                                    cuyo monto será igual al resultado de 24 sumar los CBFIs colocados como parte de la
                                    Oferta Base más, en su caso, los CBFIs Adicionales.
                                </td>
                            </tr>

                            <tr class="documents">
                                <td>
                                    Transacciones de Formación
                                </td>
                                <td>
                                    Significa todos y cada uno de los actos y operaciones conforme a las cuales se
                                    consolide la Cartera Inicial.
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
    <script>
        if ($(".glosarioLink").length) {
            $(".glosarioLink").on('click', function (event) {
                event.preventDefault();
                var target = $(this).attr('href');
                $('html, body, header').animate({
                    scrollTop: $(target).offset().top - ($(window).width() > 768 ? 125 : 125)
                }, 1000);
            });
        }
    </script>
{% endblock %}
