{% extends 'layouts/interior.html' %}
{% load static %}

{% block otherstyles %}
{% endblock %}

{% block wrapper %}
    <div class="content-wrap pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <section id="ifaqs">
                        <div class="panel-group accordion-event accordion-style-03" id="accordion3"
                             data-active-icon="fa-angle-down" data-inactive-icon="fa-angle-right">
                            <div class="panel bg-white box-shadow-small border-radius-5px">
                                <div class="panel-heading active-accordion">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                                       data-parent="#accordion3"
                                       href="#faq_1" aria-expanded="false">
                                        <div class="panel-title">
                                            <span class="alt-font text-extra-dark-gray d-inline-block font-weight-500">1.	¿Qué es un Fideicomiso de Inversión en Bienes Raíces (FIBRA)?</span>
                                            <i class="indicator fa fa-angle-right text-extra-dark-gray icon-extra-small"></i>
                                        </div>
                                    </a>
                                </div>
                                <div id="faq_1" class="panel-collapse collapse " data-parent="#accordion3">
                                    <div class="panel-body"><p>Un FIBRA es un vehículo destinado al financiamiento para
                                        la adquisición o construcción de bienes inmuebles en México a través de un
                                        fideicomiso, que se destinarán al arrendamiento o a la adquisición del derecho a
                                        percibir ingresos provenientes de dichos bienes. Similares a los REITs en
                                        Estados Unidos, los FIBRAS tienen características de instrumentos de renta fija
                                        y renta variable, ofreciendo al inversionista pagos periódicos (producto del
                                        arrendamiento) y a su vez, la posibilidad de obtener ganancias de capital
                                        (plusvalía).</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel bg-white box-shadow-small border-radius-5px">
                                <div class="panel-heading">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                                       data-parent="#accordion3"
                                       href="#faq_2" aria-expanded="false">
                                        <div class="panel-title">
                                            <span class="alt-font text-extra-dark-gray d-inline-block font-weight-500">2.	¿Quién es Fibra HD?</span>
                                            <i class="indicator fa fa-angle-right text-extra-dark-gray icon-extra-small"></i>
                                        </div>
                                    </a>
                                </div>
                                <div id="faq_2" class="panel-collapse collapse" data-parent="#accordion3">
                                    <div class="panel-body"><p>Fibra HD es un FIBRA que tiene como objetivo principal
                                        proporcionar retornos atractivos con riesgo ajustado a largo plazo a los
                                        Tenedores, mediante Distribuciones de Efectivo estables y la apreciación de sus
                                        Activos. Dicho objetivo se logrará creando, de manera selectiva, una cartera
                                        diversificada de Bienes Inmuebles que se destinarán al arrendamiento o de
                                        Derechos de Arrendamiento.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel bg-white box-shadow-small border-radius-5px">
                                <div class="panel-heading">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                                       data-parent="#accordion3"
                                       href="#faq_3" aria-expanded="false">
                                        <div class="panel-title">
                                            <span class="alt-font text-extra-dark-gray d-inline-block font-weight-500">3.	¿Cuál es el plan Fibra HD para alcanzar sus metas?</span>
                                            <i class="indicator fa fa-angle-right text-extra-dark-gray icon-extra-small"></i>
                                        </div>
                                    </a>
                                </div>
                                <div id="faq_3" class="panel-collapse collapse" data-parent="#accordion3">
                                    <div class="panel-body"><p>Nuestro plan de acción consiste en crear y gestionar una
                                        cartera diversificada de Bienes Inmuebles destinados al arrendamiento. En este
                                        sentido, los contratos de arrendamiento preferentemente serán sobre una base
                                        fija de renta. Aun así, en caso de existir rentas variables, estas estarán
                                        siempre ligadas a las ventas, en línea con la Ley del Impuesto Sobre la Renta.
                                        Respecto a las propiedades, deberán ser Inmuebles de calidad y generadores de
                                        altos ingresos, ubicadas en regiones urbanas y suburbanas en crecimiento en el
                                        país. </p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel bg-white box-shadow-small border-radius-5px">
                                <div class="panel-heading active-accordion">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                                       data-parent="#accordion3"
                                       href="#faq_4" aria-expanded="false">
                                        <div class="panel-title">
                                            <span class="alt-font text-extra-dark-gray d-inline-block font-weight-500">4.	¿Cuál es la estructura operacional de Fibra HD?</span>
                                            <i class="indicator fa fa-angle-right text-extra-dark-gray icon-extra-small"></i>
                                        </div>
                                    </a>
                                </div>
                                <div id="faq_4" class="panel-collapse collapse " data-parent="#accordion3">
                                    <div class="panel-body"><p>A partir de la Oferta Pública de Adquisición de Fibra
                                        Plus, la operación de HD ha sido delegada al Administrador y Asesor, los cuáles
                                        se encargan de la gestión de los Inmuebles relacionados con los activos.
                                        Asimismo, cuentan con el personal para llevar a cabo las actividades
                                        relacionadas a la negociación de los Contratos de Arrendamiento, la cobranza de
                                        las Rentas, la comercialización así como el mantenimiento y operación de los
                                        Bienes Inmuebles.</p>
                                        <p>El Administrador y Asesor cumplen con el rol de presentar las oportunidades
                                            para invertir ante el Comité Técnico, asícomo de la gestión de las
                                            inversiones y desinversiones, de ser así, del Patrimonio del
                                            Fideicomiso. </p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel bg-white box-shadow-small border-radius-5px">
                                <div class="panel-heading">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                                       data-parent="#accordion3"
                                       href="#faq_5" aria-expanded="false">
                                        <div class="panel-title">
                                            <span class="alt-font text-extra-dark-gray d-inline-block font-weight-500">5. ¿Qué es un CBFI?</span>
                                            <i class="indicator fa fa-angle-right text-extra-dark-gray icon-extra-small"></i>
                                        </div>
                                    </a>
                                </div>
                                <div id="faq_5" class="panel-collapse collapse" data-parent="#accordion3">
                                    <div class="panel-body"><p>Los Certificados Bursátiles Fiduciarios Inmobiliarios
                                        (CBFIs) son certificados de participación de los activos que componen el
                                        portafolio de inmuebles de un FIBRA, cuyo rendimiento está vinculado a los
                                        ingresos de operación de dichas propiedades o, en su caso, al producto de su
                                        venta. Estos títulos son una mezcla de inversión en renta fija y renta variable,
                                        ya que ofrecen a sus tenedores distribuciones trimestrales en efectivo del 95%
                                        de las utilidades por concepto de la renta de los bienes inmuebles, en forma de
                                        dividendo, y les permite obtener un rendimiento adicional proveniente de la
                                        apreciación de los inmuebles. Los CBFIs pueden comprarse y venderse con la misma
                                        facilidad que las acciones.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel bg-white box-shadow-small border-radius-5px">
                                <div class="panel-heading">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                                       data-parent="#accordion3"
                                       href="#faq_6" aria-expanded="false">
                                        <div class="panel-title">
                                            <span class="alt-font text-extra-dark-gray d-inline-block font-weight-500">6.	¿Cuál es la propuesta de valor de Fibra HD?</span>
                                            <i class="indicator fa fa-angle-right text-extra-dark-gray icon-extra-small"></i>
                                        </div>
                                    </a>
                                </div>
                                <div id="faq_6" class="panel-collapse collapse" data-parent="#accordion3">
                                    <div class="panel-body">
                                        <p>Nuestra propuesta de valor se basa en los siguientes puntos: </p>
                                        <ul>
                                            <li>• Consideramos que el mercado mexicano de bienes raíces, especialmente
                                                en el segmento de propiedades comerciales de tamaño medio y pequeño,
                                                está visiblemente fragmentado.
                                            </li>
                                            <li>• Estas propiedades consideramos que tienden a ofrecer una relación de
                                                renta a valor del inmueble más elevada que la que se observa en
                                                propiedades de mayor tamaño.
                                            </li>
                                            <li>• Mediante la adquisición de un número elevado de Inmuebles con estas
                                                características es que consideramos que es posible conservar el elevado
                                                rendimiento al tiempo que la volatilidad de los ingresos de un paquete
                                                cuantioso de pequeñas propiedades disminuye.
                                            </li>
                                        </ul>
                                        <p>Bajo estas premisas, consideramos que a través de la agregación de numerosas
                                            propiedades de tamaño medio y pequeño es posible obtener una relación
                                            favorable de rendimiento a riesgo en el sector de bienes raíces de
                                            México.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
{% endblock %}
