{% extends 'layouts/interior.html' %}
{% load static %}

{% block otherstyles %}
{% endblock %}

{% block wrapper %}
    <div class="content-wrap pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <section class="white-wrapper anuales">
                        <div class="container-fluid container-relative">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contenedor">
                                    <div class="mb-4">

                                        <div class="mb-4">
                                            <div class="text-center"><h2>2022</h2></div>

                                            <div class="d-flex align-items-center justify-content-between div-content">
                                                <div class="w-25 pl-5">3T</div>
                                                <div class="w-75 d-flex flex-column">
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2022-3T22.pdf">Reporte
                                                        trimestral</a>
                                                    <div class="separator"></div>
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2022-3T22-BMV.pdf">Reporte
                                                        BMV</a>
                                                </div>
                                            </div>

                                            <div class="d-flex align-items-center justify-content-between div-content">
                                                <div class="w-25 pl-5">2T</div>
                                                <div class="w-75 d-flex flex-column">
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2022-2T22.pdf">Reporte
                                                        trimestral</a>
                                                    <div class="separator"></div>
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2022-2T22-BMV.pdf">Reporte
                                                        BMV</a>
                                                </div>
                                            </div>

                                            <div class="d-flex align-items-center justify-content-between div-content">
                                                <div class="w-25 pl-5">1T</div>
                                                <div class="w-75 d-flex flex-column">
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2022-1T22.pdf">Reporte
                                                        trimestral</a>
                                                    <div class="separator"></div>
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2022-1T22-BMV.pdf">Reporte
                                                        BMV</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-4">
                                            <div class="text-center"><h2>2021</h2></div>

                                            <div class="d-flex align-items-center justify-content-between div-content">
                                                <div class="w-25 pl-5">4T</div>
                                                <div class="w-75 d-flex flex-column">
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales2021-4T21.pdf">Reporte
                                                        trimestral</a>
                                                    <div class="separator"></div>
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2021-4T21-BMV.pdf">Reporte
                                                        BMV</a>
                                                </div>
                                            </div>

                                            <div class="d-flex align-items-center justify-content-between div-content">
                                                <div class="w-25 pl-5">3T</div>
                                                <div class="w-75 d-flex flex-column">
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2021-3T21.pdf">Reporte
                                                        trimestral</a>
                                                    <div class="separator"></div>
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2021-3T21-BMV.pdf">Reporte
                                                        BMV</a>
                                                </div>
                                            </div>

                                            <div class="d-flex align-items-center justify-content-between div-content">
                                                <div class="w-25 pl-5">2T</div>
                                                <div class="w-75 d-flex flex-column">
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2021-2T21.pdf">Reporte
                                                        trimestral</a>
                                                    <div class="separator"></div>
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2021-2T21-BMV.pdf">Reporte
                                                        BMV</a>
                                                </div>
                                            </div>

                                            <div class="d-flex align-items-center justify-content-between div-content">
                                                <div class="w-25 pl-5">1T</div>
                                                <div class="w-75 d-flex flex-column">
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2021-1T21.pdf">Reporte
                                                        trimestral</a>
                                                    <div class="separator"></div>
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2021-1T21-BMV.pdf">Reporte
                                                        BMV</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-4">
                                            <div class="text-center"><h2>2020</h2></div>

                                            <div class="d-flex align-items-center justify-content-between div-content">
                                                <div class="w-25 pl-5">4T</div>
                                                <div class="w-75 d-flex flex-column">
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2020-4T20.pdf">Reporte
                                                        trimestral</a>
                                                    <div class="separator"></div>
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2020-4T20-BMV.pdf">Reporte
                                                        BMV</a>
                                                </div>
                                            </div>

                                            <div class="d-flex align-items-center justify-content-between div-content">
                                                <div class="w-25 pl-5">3T</div>
                                                <div class="w-75 d-flex flex-column">
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2020-3T20.pdf">Reporte
                                                        trimestral</a>
                                                    <div class="separator"></div>
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2020-3T20-BMV.pdf">Reporte
                                                        BMV</a>
                                                </div>
                                            </div>

                                            <div class="d-flex align-items-center justify-content-between div-content">
                                                <div class="w-25 pl-5">2T</div>
                                                <div class="w-75 d-flex flex-column">
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2020-2T20.pdf">Reporte
                                                        trimestral</a>
                                                    <div class="separator"></div>
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2020-2T20-BMV.pdf">Reporte
                                                        BMV</a>
                                                </div>
                                            </div>

                                            <div class="d-flex align-items-center justify-content-between div-content">
                                                <div class="w-25 pl-5">1T</div>
                                                <div class="w-75 d-flex flex-column">
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2020-1T20.pdf">Reporte
                                                        trimestral</a>
                                                    <div class="separator"></div>
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2020-1T20-BMV.pdf">Reporte
                                                        BMV</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-4">
                                            <div class="text-center"><h2>2019</h2></div>

                                            <div class="d-flex align-items-center justify-content-between div-content">
                                                <div class="w-25 pl-5">4T</div>
                                                <div class="w-75 d-flex flex-column">
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2019-4T19.pdf">Reporte
                                                        trimestral</a>
                                                    <div class="separator"></div>
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2019-4T19-BMV.pdf">Reporte
                                                        BMV</a>
                                                </div>
                                            </div>

                                            <div class="d-flex align-items-center justify-content-between div-content">
                                                <div class="w-25 pl-5">3T</div>
                                                <div class="w-75 d-flex flex-column">
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2019-3T19.pdf">Reporte
                                                        trimestral</a>
                                                    <div class="separator"></div>
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2019-3T19-BMV.pdf">Reporte
                                                        BMV</a>
                                                </div>
                                            </div>

                                            <div class="d-flex align-items-center justify-content-between div-content">
                                                <div class="w-25 pl-5">2T</div>
                                                <div class="w-75 d-flex flex-column">
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2019-2T19.pdf">Reporte
                                                        trimestral</a>
                                                    <div class="separator"></div>
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2019-2T19-BMV.pdf">Reporte
                                                        BMV</a>
                                                </div>
                                            </div>

                                            <div class="d-flex align-items-center justify-content-between div-content">
                                                <div class="w-25 pl-5">1T</div>
                                                <div class="w-75 d-flex flex-column">
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2019-1T19.pdf">Reporte
                                                        trimestral</a>
                                                    <div class="separator"></div>
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2019-1T19-BMV.pdf">Reporte
                                                        BMV</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-4">
                                            <div class="text-center"><h2>2018</h2></div>

                                            <div class="d-flex align-items-center justify-content-between div-content">
                                                <div class="w-25 pl-5">4T</div>
                                                <div class="w-75 d-flex flex-column">
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2018-4T18.pdf">Reporte
                                                        trimestral</a>
                                                    <div class="separator"></div>
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2018-4T18-BMV.pdf">Reporte
                                                        BMV</a>
                                                </div>
                                            </div>

                                            <div class="d-flex align-items-center justify-content-between div-content">
                                                <div class="w-25 pl-5">3T</div>
                                                <div class="w-75 d-flex flex-column">
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2018-3T18.pdf">Reporte
                                                        trimestral</a>
                                                    <div class="separator"></div>
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2018-3T18-BMV.pdf">Reporte
                                                        BMV</a>
                                                </div>
                                            </div>

                                            <div class="d-flex align-items-center justify-content-between div-content">
                                                <div class="w-25 pl-5">2T</div>
                                                <div class="w-75 d-flex flex-column">
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2018-2T18.pdf">Reporte
                                                        trimestral</a>
                                                    <div class="separator"></div>
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2018-2T18-BMV.pdf">Reporte
                                                        BMV</a>
                                                </div>
                                            </div>

                                            <div class="d-flex align-items-center justify-content-between div-content">
                                                <div class="w-25 pl-5">1T</div>
                                                <div class="w-75 d-flex flex-column">
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2018-1T18.pdf">Reporte
                                                        trimestral</a>
                                                    <div class="separator"></div>
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2018-1T18-BMV.pdf">Reporte
                                                        BMV</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-4">
                                            <div class="text-center"><h2>2017</h2></div>

                                            <div class="d-flex align-items-center justify-content-between div-content">
                                                <div class="w-25 pl-5">4T</div>
                                                <div class="w-75 d-flex flex-column">
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2017-4T17.pdf">Reporte
                                                        trimestral</a>
                                                    <div class="separator"></div>
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2017-4T17-BMV.pdf">Reporte
                                                        BMV</a>
                                                </div>
                                            </div>

                                            <div class="d-flex align-items-center justify-content-between div-content">
                                                <div class="w-25 pl-5">3T</div>
                                                <div class="w-75 d-flex flex-column">
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2017-3T17.pdf">Reporte
                                                        trimestral</a>
                                                    <div class="separator"></div>
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2017-3T17-BMV.pdf">Reporte
                                                        BMV</a>
                                                </div>
                                            </div>

                                            <div class="d-flex align-items-center justify-content-between div-content">
                                                <div class="w-25 pl-5">2T</div>
                                                <div class="w-75 d-flex flex-column">
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2017-2T17.pdf">Reporte
                                                        trimestral</a>
                                                    <div class="separator"></div>
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2017-2T17-BMV.pdf">Reporte
                                                        BMV</a>
                                                </div>
                                            </div>

                                            <div class="d-flex align-items-center justify-content-between div-content">
                                                <div class="w-25 pl-5">1T</div>
                                                <div class="w-75 d-flex flex-column">
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2017-1T17.pdf">Reporte
                                                        trimestral</a>
                                                    <div class="separator"></div>
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2017-1T17-BMV.pdf">Reporte
                                                        BMV</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-4">
                                            <div class="text-center"><h2>2016</h2></div>

                                            <div class="d-flex align-items-center justify-content-between div-content">
                                                <div class="w-25 pl-5">4T</div>
                                                <div class="w-75 d-flex flex-column">
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2016-4T16.pdf">Reporte
                                                        trimestral</a>
                                                    <div class="separator"></div>
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2016-4T16-BMV.pdf">Reporte
                                                        BMV</a>
                                                </div>
                                            </div>

                                            <div class="d-flex align-items-center justify-content-between div-content">
                                                <div class="w-25 pl-5">3T</div>
                                                <div class="w-75 d-flex flex-column">
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2016-3T16.pdf">Reporte
                                                        trimestral</a>
                                                    <div class="separator"></div>
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2016-3T16-BMV.pdf">Reporte
                                                        BMV</a>
                                                </div>
                                            </div>

                                            <div class="d-flex align-items-center justify-content-between div-content">
                                                <div class="w-25 pl-5">2T</div>
                                                <div class="w-75 d-flex flex-column">
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2016-2T16.pdf">Reporte
                                                        trimestral</a>
                                                    <div class="separator"></div>
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2016-2T16-BMV.pdf">Reporte
                                                        BMV</a>
                                                </div>
                                            </div>

                                            <div class="d-flex align-items-center justify-content-between div-content">
                                                <div class="w-25 pl-5">1T</div>
                                                <div class="w-75 d-flex flex-column">
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2016-1T16.pdf">Reporte
                                                        trimestral</a>
                                                    <div class="separator"></div>
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2016-1T16-BMV.pdf">Reporte
                                                        BMV</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-4">
                                            <div class="text-center"><h2>2015</h2></div>

                                            <div class="d-flex align-items-center justify-content-between div-content">
                                                <div class="w-25 pl-5">4T</div>
                                                <div class="w-75 d-flex flex-column">
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2015-4T15.pdf">Reporte
                                                        trimestral</a>
                                                    <div class="separator"></div>
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2015-4T15-BMV.pdf">Reporte
                                                        BMV</a>
                                                </div>
                                            </div>

                                            <div class="d-flex align-items-center justify-content-between div-content">
                                                <div class="w-25 pl-5">3T</div>
                                                <div class="w-75 d-flex flex-column">
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2015-3T15.pdf">Reporte
                                                        trimestral</a>
                                                    <div class="separator"></div>
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2015-3T15-BMV.pdf">Reporte
                                                        BMV</a>
                                                </div>
                                            </div>

                                            <div class="d-flex align-items-center justify-content-between div-content">
                                                <div class="w-25 pl-5">2T</div>
                                                <div class="w-75 d-flex flex-column">
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2015-2T15.pdf">Reporte
                                                        trimestral</a>
                                                    <div class="separator"></div>
                                                    <a target="_blank"
                                                       href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/ReportesTrimestrales/2015-2T15-BMV.pdf">Reporte
                                                        BMV</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
{% endblock %}
