{% extends 'layouts/interior.html' %}
{% load static %}

{% block otherstyles %}
{% endblock %}

{% block wrapper %}
    <div class="content-wrap pt-5 pb-5">
        <div class="container">
            <section class="white-wrapper anuales">
                <div class="container-fluid container-relative">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contenedor">
                            <div class="mb-4">

                                <div class="mb-4">
                                    <div class="text-center"><h2>2021</h2></div>

                                    <div class="d-flex align-items-center justify-content-between div-content">
                                        <div class="w-100 d-flex flex-column">
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2021-Informe-Anual.pdf">Informe
                                                Anual</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2021-Informe-Auditor.pdf">Informe
                                                del Auditor</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2021-Carta-Representante.pdf">Carta
                                                del Representande Común</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2021-Declaracion-Fibrahd.pdf">Declaración
                                                Firmada FIBRA HD Servicios</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2021-Estados-Financieros.pdf">Estados
                                                Financieros</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2021-Carta-Representante.pdf">Carta
                                                del Representante Común</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <div class="text-center"><h2>2020</h2></div>

                                    <div class="d-flex align-items-center justify-content-between div-content">
                                        <div class="w-100 d-flex flex-column">
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2020-Informe-Anual-Actualizado.pdf">Informe
                                                Anual Actualizado</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2020-Informe-Anual.pdf">Informe
                                                Anual</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2020-Informe-Auditor.pdf">Informe
                                                del Auditor</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2020-Opinion-Fiscal.pdf">Opinión
                                                Fiscal</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2020-Estados-Financieros.pdf">Estados
                                                Financieros</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2020-Carta-Representante.pdf">Carta
                                                del Representante Común</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2020-Declaracion-Fibrahd.pdf">Declaración
                                                Firmada FIBRA HD Servicios</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <div class="text-center"><h2>2019</h2></div>

                                    <div class="d-flex align-items-center justify-content-between div-content">
                                        <div class="w-100 d-flex flex-column">
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2019-Informe-Anual-Actualizado-Reenvio.pdf">Informe
                                                Anual: Reenvío de información</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2019-Informe-Anual-Actualizado.pdf">Informe
                                                Anual Actualizado</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2019-Informe-Anual.pdf">Informe
                                                Anual</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2019-Informe-Auditor.pdf">Informe
                                                del Auditor</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2019-Opinion-Fiscal.pdf">Opinión
                                                Fiscal</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2019-Estados-Financieros.pdf">Estados
                                                Financieros</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2019-Carta-Representante.pdf">Carta
                                                del Representante Común</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2019-Declaracion-Fibrahd-Servicios.pdf">Declaración
                                                Firmada FIBRA HD Servicios</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2019-Declaracion-Fiduciario.pdf">Declaración
                                                Fidiciario</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <div class="text-center"><h2>2018</h2></div>

                                    <div class="d-flex align-items-center justify-content-between div-content">
                                        <div class="w-100 d-flex flex-column">
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2018-Informe-Anual-Actualizado.pdf">Informe
                                                Anual Actualizado</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2018-Informe-Anual.pdf">Informe
                                                Anual</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2018-Informe-Auditor.pdf">Informe
                                                del Auditor</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2018-Opinion-Fiscal.pdf">Opinión
                                                Fiscal</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2018-Estados-Financieros.pdf">Estados
                                                Financieros</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2018-Carta-Representante.pdf">Carta
                                                del Representante Común</a>
                                            <div class="separator"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <div class="text-center"><h2>2017</h2></div>

                                    <div class="d-flex align-items-center justify-content-between div-content">
                                        <div class="w-100 d-flex flex-column">
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2017-Informe-Anual-Actualizado.pdf">Informe
                                                Anual Actualizado</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2017-Informe-Anual.pdf">Informe
                                                Anual</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2017-Informe-Auditor.pdf">Informe
                                                del Auditor</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2017-Opinion-Fiscal.pdf">Opinión
                                                Fiscal</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2017-Estados-Financieros.pdf">Estados
                                                Financieros</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2017-Carta-Representante.pdf">Carta
                                                del Representante Común</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <div class="text-center"><h2>2016</h2></div>

                                    <div class="d-flex align-items-center justify-content-between div-content">
                                        <div class="w-100 d-flex flex-column">
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2016-Informe-Anual.pdf">Informe
                                                Anual</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2016-Informe-Auditor.pdf">Informe
                                                del Auditor</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2016-Opinion-Fiscal.pdf">Opinión
                                                Fiscal</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2016-Estados-Financieros.pdf">Estados
                                                Financieros</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2016-Carta-Representante.pdf">Carta
                                                del Representante Común</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <div class="text-center"><h2>2015</h2></div>

                                    <div class="d-flex align-items-center justify-content-between div-content">
                                        <div class="w-100 d-flex flex-column">
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2015-Informe-Anual.pdf">Informe
                                                Anual</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2015-Informe-Auditor.pdf">Informe
                                                del Auditor</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2015-Opinion-Fiscal.pdf">Opinión
                                                Fiscal</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2015-Estados-Financieros.pdf">Estados
                                                Financieros</a>
                                            <div class="separator"></div>
                                            <a target="_blank"
                                               href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/InformesAnuales/2015-Carta-Representante.pdf">Carta
                                                del Representante Común</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
{% endblock %}
