{% extends 'layouts/interior.html' %}
{% load static %}

{% block otherstyles %}
    <link rel="stylesheet" href="{% static 'stylesheets/dataTables.bootstrap4.min.css' %}"/>
{% endblock %}

{% block wrapper %}
    <div class="content-wrap pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <table class="table analistas table-striped mt-4 relev">
                        <thead>
                        <tr>
                            <th style="width: 110px;"><strong>Fecha</strong></th>
                            <th><strong>Titular</strong></th>
                            <th style="width: 150px;"><strong>Documento</strong></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for evento in eventos %}
                            <tr>
                                <td>{{ evento.fecha }}</td>
                                <td>{{ evento.titulo }}</td>
                                <td>
                                    <a href="https://investorcloud.s3.amazonaws.com/fibrahd/InformacionFinanciera/EventosRelevantes/{{ evento.documento }}"
                                       target="_blank">Evento relevante </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
    <script src="{% static 'javascripts/bootstrap-datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'javascripts/bootstrap-datatables/dataTables.bootstrap4.min.js' %}"></script>

    <script>
        $(function () {
            var relev = $('.relev').DataTable({
                "language": {
                    "lengthMenu": "Mostrar en bloques de  _MENU_  registros",
                    "zeroRecords": "No se he encontrado",
                    "info": "Mostrando desde _START_ hasta _END_ de _TOTAL_ registros",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(filtrado de _MAX_ registros en total)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sPrevious": "Anterior",
                        "sNext": "Siguiente",
                        "sLast": "Último"
                    }
                },
                "pagingType": $(window).width() < 768 ? "full" : "full_numbers",
                "bSort": false,
                "order": [[0, 'desc']],
                "dom": "<'row'<'col-lg-4 mb-0 d-flex justify-content-start'f><'col-lg-8 d-flex justify-content-end align-items-center'<'#year.mb-2 mr-5 d-flex align-items-center'>l>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            });

        });
    </script>
{% endblock %}
