{% extends 'layouts/interior.html' %}
{% load static %}

{% block otherstyles %}
{% endblock %}

{% block wrapper %}
    <div class="content-wrap pt-5 pb-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="green-hd font-weight-bold">Nuestro portafolio</h2>
                </div>
                <div class="col-12">
                    <p>Nuestro portafolio está organizado de manera dinámica, incorporando Bienes Inmuebles, ubicados en
                        segmentos fragmentados del mercado; donde los rendimientos son altos, procurando siempre
                        diversificar la Cartera para mitigar la volatilidad agregada de dichos flujos, protegiéndolas
                        financieramente y permitiendo que inviertas de manera segura.</p>
                </div>

                <div class="col-md-3 text-center">
                    <h2 class="green-hd font-weight-bold mb-2">41</h2>
                    <h4>Propiedades</h4>
                </div>

                <div class="col-md-3 text-center">
                    <h2 class="green-hd font-weight-bold mb-2">310,339</h2>
                    <h4>ABR</h4>
                </div>

                <div class="col-md-3 text-center">
                    <h2 class="green-hd font-weight-bold mb-2">95%</h2>
                    <h4>Ocupación</h4>
                </div>

                <div class="col-md-3 text-center">
                    <h2 class="green-hd font-weight-bold mb-2">521</h2>
                    <h4>Inquilinos</h4>
                </div>

                <div class="col-12 text-center">
                    <h2 class="green-hd font-weight-bold">Portafolio Fibra HD</h2>
                </div>
            </div>

            <div class="row animatedParent animateOnce">
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/NaveIndustrial-Villahermosa-01.png' %}"
                                 alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 1 %}"
                               role="button">Ver Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 1 %}">Nave Industrial Villahermosa</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Villahermosa, Tabasco </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/Nave-Industrial-Heineken-01.png' %}" alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 2 %}" role="button">Ver
                                Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 2 %}">Nave
                                Industrial Heineken</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Chimalhuacán, Estado de México </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/Nave-Industrial-Veritv-01.png' %}" alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 3 %}" role="button">Ver
                                Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 3 %}">Nave
                                Industrial Veritiv</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i>Nogales, Sonora </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row animatedParent animateOnce">
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/Nave-Industrial-Ensambles-Hyson-05.png' %}"
                                 alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 4 %}" role="button">Ver
                                Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 4 %}">Ensambles Hyson</a>
                            </h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i>Nogales, Sonora</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/Nave-Industrial-SQM-Manzanillo-05.png' %}"
                                 alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 5 %}" role="button">Ver
                                Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 5 %}">SQM</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Manzanillo, Colima </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/Nave-Industrial-Aeroespacial-Daher-05.png' %}"
                                 alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 6 %}" role="button">Ver
                                Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 6 %}">Aeroespacial
                                Daher</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i>Nogales, Sonora</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row animatedParent animateOnce">
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/Nave-Industrial-Esquimal-01.png' %}" alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 7 %}" role="button">Ver
                                Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 7 %}">Industrial
                                Esquimal</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Aguascalientes, Aguascalientes</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/Nave-Industrial-Ternium-02.png' %}" alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 8 %}" role="button">Ver
                                Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 8 %}">Nave
                                Industrial Ternium</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Naucalpan, Estado de México </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/Nave-Industrial-Durango-05.png' %}" alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 9 %}" role="button">Ver
                                Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 9 %}">Yazaki</a>
                            </h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Durango, Durango </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--fin industrial fhd-->
            <!--inicio comercial fhd-->
            <div class="row animatedParent animateOnce">
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/comercial-plaza-carmen-center-03.png' %}"
                                 alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 10 %}" role="button">Ver
                                Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 10 %}">Plaza
                                Carmen Center</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Ciudad del Carmen, Campeche</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/comercial-plaza-lomas-verdes-07.png' %}"
                                 alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 11 %}"
                               role="button">Ver Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 11 %}">Plaza
                                Lomas Verdes</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Naucalpan, Edo de México </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/comercial-plaza-punto-chapultepec-07.png' %}"
                                 alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 12 %}"
                               role="button">Ver Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 12 %}">Plaza
                                Punto Chapultepec</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Guadalajara, Jalisco </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row animatedParent animateOnce">
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/comercial-plaza-catavina-03.png' %}" alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 13 %}" role="button">Ver
                                Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 13 %}">Plaza
                                Cataviña</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Mexicali, Baja California</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/comercial-plaza-casa-grande-01.png' %}"
                                 alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 14 %}"
                               role="button">Ver Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 14 %}">Plaza
                                Casa Grande</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Saltillo, Coahuila </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/comercial-plaza-punto-monchis-08.png' %}"
                                 alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 15 %}"
                               role="button">Ver Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 15 %}">Plaza
                                Punto Monchis</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i>Mochis, Sinaloa </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row animatedParent animateOnce">
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/comercial-plaza-la-roca-11.png' %}" alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 16 %}" role="button">Ver
                                Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 16 %}">Plaza La
                                Roca</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Cancún, Quintana Roo</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/comercial-plaza-corales-03.png' %}" alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 17 %}" role="button">Ver
                                Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 17 %}">Plaza Los
                                Corales</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Veracruz, Veracruz</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/comercial-plaza-parque-san-antonio-01.png' %}"
                                 alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 18 %}"
                               role="button">Ver Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 18 %}">Plaza
                                San Antonio</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Del. Álvaro Obregón, CDMX </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row animatedParent animateOnce">
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/comercial-portafolio-burger-king-01.png' %}"
                                 alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 19 %}"
                               role="button">Ver Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 19 %}">Portafolio
                                Stand Alone de Burger King</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Sonora, Sinaloa y Baja California</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/comercial-barrio-reforma-01.png' %}" alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 20 %}" role="button">Ver
                                Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 20 %}">Barrio
                                Reforma</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Del. Juárez, CDMX</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/comercial-plaza-chimalhuacan-01.png' %}"
                                 alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 21 %}"
                               role="button">Ver Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 21 %}">Plaza
                                Chimalhuacán</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Chimalhuacán, Estado de México</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row animatedParent animateOnce">
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/comercial-plaza-peninsula-02.png' %}"
                                 alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 22 %}" role="button">Ver
                                Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 22 %}">Plaza
                                Peninsula</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Cabo San Lucas, Baja California Sur
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/comercial-plaza-via-san-juan-03.png' %}"
                                 alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 23 %}" role="button">Ver
                                Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 23 %}">Plaza Vía
                                San Juan</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> CDMX</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/comercial-zuzuki-01.png' %}" alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 24 %}" role="button">Ver
                                Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 24 %}">Agencia Suzuki</a>
                            </h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i>La Paz, Baja California Sur</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row animatedParent animateOnce">
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/comercial-plaza-pilita-04.png' %}" alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 25 %}" role="button">Ver
                                Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 25 %}">Plaza La
                                Pilita</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Metepec, Estado de México</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/comercial-portafolio-olabs-03.png' %}"
                                 alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 26 %}" role="button">Ver
                                Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 26 %}">Portafolio
                                Olab</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Estado y Ciudad de México</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/comercial-portafolio-bodega-01.png' %}"
                                 alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 27 %}"
                               role="button">Ver Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 27 %}">Portafolio
                                Bodega Aurera Express</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Estado y Ciudad de México</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--fin comercial fhd-->
            <!--inicio educacion fhd-->
            <div class="row animatedParent animateOnce">
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/educativo-uvm-01.png' %}" alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 28 %}" role="button">Ver
                                Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 28 %}">UVM Campus
                                Nogales</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Nogales, Sonora</p>
                        </div>
                    </div>
                </div>
                <!--<div class="col-md-4 col-sm-6 mb-4">
                  <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                    <div class="at-property-img">
                      <img src="{% static 'images/fibrahd/propiedades/educativo-piaget-01.png'%}" alt="">
                      <div class="at-property-overlayer"></div>
                      <a class="btn btn-default at-property-btn" href="<%= proyectos_fhd_piaget_path(locale: I18n.locale.to_s%}" role="button">Ver Detalles</a>
                    </div>
                    <div class="at-property-location">
                      <h4><i class="fa fa-home" aria-hidden="true"></i><a href="<%= proyectos_fhd_piaget_path(locale: I18n.locale.to_s%}">Instituto Piaget</a></h4>
                      <p><i class="fa fa-map-marker" aria-hidden="true"></i>Mochis Sinaloa</p>
                    </div>
                  </div>
                </div>-->
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/educativo-celta-01.png' %}" alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 29 %}" role="button">Ver
                                Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 29 %}">Colegio Celta
                                Internacional</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Corregidora, Querétaro</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/educativo-calma-01.png' %}" alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 30 %}" role="button">Ver
                                Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 30 %}">Colegio
                                México Nuevo Campus La Calma</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Zapopan, Jalisco</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row animatedParent animateOnce">
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/educativo-ipeth-01.png' %}" alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 31 %}" role="button">Ver
                                Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 31 %}">Ipeth</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Puebla, Puebla</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/educativo-queretaro-02.png' %}" alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 32 %}"
                               role="button">Ver Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 32 %}">Colegio
                                Técnico Querétaro</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i>Corregidora, Querétaro</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/educativo-campus-queretaro-01.png' %}"
                                 alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 33 %}"
                               role="button">Ver Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 33 %}">Colegio
                                México Nuevo Campus Querétaro</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Santiago de Querétaro, Querétaro</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row animatedParent animateOnce">
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/oficinas-garza-sada-02.png' %}" alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 34 %}" role="button">Ver
                                Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 34 %}">Corporativo
                                Garza Sada</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Aguascalientes, Aguascalientes</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/oficinas-sky-cumbres-03.png' %}" alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 35 %}" role="button">Ver
                                Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 35 %}">Sky
                                Cumbres</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i>Cancún, Quintana Roo</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/oficinas-bosque-real-01.png' %}" alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 36 %}" role="button">Ver
                                Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 36 %}">Corporativo
                                Bosque Real</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Huixquilucan, Estado de México</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row animatedParent animateOnce">
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/oficinas-bosque-lomas-01.png' %}" alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 37 %}" role="button">Ver
                                Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 37 %}">Corporativo
                                Bosques de las Lomas</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> CDMX</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/oficinas-periferico-sur-01.png' %}" alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 38 %}" role="button">Ver
                                Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 38 %}">Corporativo
                                Periférico Sur</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i>CDMX</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/oficinas-periferico-norte-01.png' %}"
                                 alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 39 %}"
                               role="button">Ver Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 39 %}">Corporativo
                                Periférico Norte</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Estado de México</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row animatedParent animateOnce">
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="at-property-item at-col-default-mar animated fadeInUpShort slow delay-500">
                        <div class="at-property-img">
                            <img src="{% static 'images/fibrahd/propiedades/fhd-plaza-la-cantera-01.png' %}" alt="">
                            <div class="at-property-overlayer"></div>
                            <a class="btn btn-default at-property-btn"
                               href="{% url 'descripcion' 40 %}" role="button">Ver
                                Detalles</a>
                        </div>
                        <div class="at-property-location">
                            <h4><i class="fa fa-home" aria-hidden="true"></i><a
                                    href="{% url 'descripcion' 40 %}">Plaza La
                                Cantera</a></h4>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i>Tepic, Nayarit</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
{% endblock %}
