{% extends "layouts/interior.html" %}
{% load i18n %}
{% load static %}
{% block banner %}
<section id="page-title" class="page-title-parallax page-title-dark" style="padding: 150px 0; background-image: url({% static 'images/about/parallax3.jpg' %}); background-size: cover; background-position: center center;" data-bottom-top="background-position:0px 400px;" data-top-bottom="background-position:0px -450px;">

  <div class="container clearfix">
    <h1 class="text-center">{% trans "Cifras Principales"%}</h1>

  </div>

</section>
{% endblock %}
{% block wrapper %}
<div class="container">
<div class="card p-md-5 m-md-5 my-3 p-3 justify-content-center text-center">
  {% if form.errors %}
    <p>{% trans 'login5' %}</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>{% trans 'login1' %} <b>{% trans 'login2' %}</b></p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table style="margin: auto;">
      <tr>
        <td>{% trans 'login3' %}:</td>
        <td class="p-4">{{ form.username }}</td>
      </tr>
      <tr >
        <td>{% trans 'login4' %}:</td>
        <td class="p-4">{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value='{% trans "Acceder" %}'  class="btn btn-info"/>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>
  {# Assumes you setup the password_reset view in your URLconf #}
{#  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}
</div>
{% endblock %}
