{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}


{% block wrapper %}

    <div class="container py-5">


        <div class="col-lg-12">

          <p>
             Tal como se muestra a continuación, Murano cuenta con sólidas relaciones de largo plazo con empresas de clase mundial:
          </p>
            <div class="tableContent overflow-auto">
                <table class="table table-striped">
                <tbody>
                <tr></tr>
                <tr>
                    <th style="color:#111135">Administrador de proyectos y activos hoteleros
                    </th>
                    <td style="min-width: 50px"><a href="{% static 'images/utils/jll.png' %}" data-lightbox="image"><img src="{% static 'images/utils/jll.png' %}" alt="JLL" style="max-height: 50px" ></a></td>

                    <td>Certeza en la ejecución y uso de los recursos durante la construcción.</td>
                </tr>
                <tr>
                    <th style="color:#111135">Diseño</th>
                    <td><a href="{% static 'images/utils/edsa.png' %}" data-lightbox="image"><img src="{% static 'images/utils/edsa.png' %}" alt="KOK / EDSA" style="max-height: 50px" ></a></td>

                    <td>Firmas globales de diseño, arquitectura e ingeniería.</td>
                </tr>
                <tr>
                    <th style="color:#111135">Operadores hoteleros</th>
                    <td><a href="{% static 'images/utils/wyn.png' %}" data-lightbox="image"><img src="{% static 'images/utils/wyn.png' %}" alt="Wyndham / AMResorts" style="max-height: 50px" ></a></td>

                    <td>Operadores y marcas con una sólida trayectoria en cada uno de sus respectivos nichos.</td>
                </tr>
                <tr>
                    <th style="color:#111135">Administrador de la construcción</th>
                    <td><a href="{% static 'images/utils/ideu.png' %}" data-lightbox="image"><img src="{% static 'images/utils/ideu.png' %}" alt="IDEURBAN" style="max-height: 50px" ></a></td>

                    <td>Expertos en la ejecución de proyectos inmobiliarios y de infraestructuras de gran complejidad.</td>
                </tr>
                <tr>
                    <th style="color:#111135">Prestadores</th>
                    <td><a href="{% static 'images/utils/banco.png' %}" data-lightbox="image"><img src="{% static 'images/utils/banco.png' %}" alt="Bancomext / Sabadell / CaixaBank" style="max-height: 50px" ></a></td>

                    <td>Bancos mexicanos y españoles con un profundo conocimiento del sector inmobiliario y hotelero.</td>
                </tr>
                <tr>
                    <th style="color:#111135">Auditor</th>
                    <td><a href="{% static 'images/utils/kpmg.png' %}" data-lightbox="image"><img src="{% static 'images/utils/kpmg.png' %}" alt="KPMG" style="max-height: 50px" ></a></td>

                    <td>Miembro de los “Big Four” en auditoria.</td>
                </tr>
                </tbody>
            </table>
            </div>
            <p>Nuestros operadores hoteleros cuentan con sólido historial de éxito:</p>

            <div class="container p-5">
                <div class="infografia">
                    <img src="{% static 'images/portfolio/infograma4.png' %}" alt="Alianzas hoteleras" style="width: 100%">
                </div>
            </div>

        </div>
    </div>

    </div>


{% endblock %}

{% block otherscripts %}
{% endblock %}
