{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}


{% block wrapper %}

    <div class="container py-5 on-mobile">
        <div class="col-12">

            <p>El Consejo de Administración de Elementia Materiales está integrado
              por 9 consejeros propietarios. El 33% de los miembros del Consejo de
              Administración son Consejeros Independientes. Los miembros actuales
              del Consejo de Administración fueron designados por los accionistas
              de Elementia Materiales, S.A.B. de C.V. (antes Elementia, S.A.B. de C.V.)
              el 25 de abril de 2019, siendo ratificados el 15 de julio del 2019,
              por un término de un año contado a partir del inicio de sus funciones
              con la posibilidad de ser reelectos por periodos sucesivos de un año.
            </p>
            <p>Asimismo, los miembros del consejo que se establecen en la página no
              son los que serán al momento del inicio del listado. Éstos son los siguientes:</p>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                <thead>
                <tr role="row">
                    <th>Nombre</th>
                    <th>Sexo</th>
                    <th>Cargo</th>
                    <th>Edad</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a class="scroll-to-target" href="#Francisco">Francisco Javier del Valle Perochena</a></td>
                    <td>Masculino</td>
                    <td>Presidente y Consejero</td>
                    <td>51</td>
                </tr>
                <tr>
                    <td><a class="scroll-to-target" href="#Juan">Juan Pablo del Valle Perochena</a></td>
                    <td>Masculino</td>
                    <td>Consejero</td>
                    <td>48</td>
                </tr>
                <tr>
                    <td><a class="scroll-to-target" href="#Eduardo">Eduardo Domit Bardawil</a></td>
                    <td>Masculino</td>
                    <td>Consejero</td>
                    <td>57</td>
                </tr>
                <tr>
                    <td><a class="scroll-to-target" href="#Eugenio">Eugenio Clariond Rangel <sup>(1)</sup></a></td>
                    <td>Masculino</td>
                    <td>Consejero</td>
                    <td>53</td>
                </tr>
                <tr>
                    <td><a class="scroll-to-target" href="#Divo">Divo Milán Haddad <sup>(1)</sup></a></td>
                    <td>Masculino</td>
                    <td>Consejero</td>
                    <td>65</td>
                </tr>
                <tr>
                    <td><a class="scroll-to-target" href="#Gerardo">Gerardo Kuri Kaufmann</a></td>
                    <td>Masculino</td>
                    <td>Consejero</td>
                    <td>36</td>
                </tr>
                <tr>
                    <td><a class="scroll-to-target" href="#Alfonso">Alfonso Salem Slim</a></td>
                    <td>Masculino</td>
                    <td>Consejero</td>
                    <td>59</td>
                </tr>
                <tr>
                    <td><a class="scroll-to-target" href="#Antonio">Antonio Gómez García</a></td>
                    <td>Masculino</td>
                    <td>Consejero</td>
                    <td>60</td>
                </tr>
                <tr>
                    <td><a class="scroll-to-target" href="#JuanRodriguez">Juan Rodríguez Torres <sup>(1 y 3)</sup></a></td>
                    <td>Masculino</td>
                    <td>Consejero</td>
                    <td>81</td>
                </tr>
                <!--<tr>
                    <td><a class="scroll-to-target" href="#ErnestoMoya">Ernesto Moya Pedrola</a></td>
                    <td>Masculino</td>
                    <td>Consejero Independiente</td>
                    <td>53</td>
                    <td>2021</td>
                </tr>
                <tr>
                    <td><a class="scroll-to-target" href="#TomasEspinosa">Tomás Espinosa Braniff Céspedes</a></td>
                    <td>Masculino</td>
                    <td>Consejero Independiente</td>
                    <td>53</td>
                    <td>2021</td>
                </tr>-->
                <tr>
                    <td><a class="scroll-to-target" href="#JuanPablodelRío">Juan Pablo del Río Benitez <sup>(2)</sup></a></td>
                    <td>Masculino</td>
                    <td>Secretario</td>
                    <td>53</td>
                </tr>
                <tr>
                    <td><a class="scroll-to-target" href="#Alberto">Alberto Perales Mendoza <sup>(2)</sup></a></td>
                    <td>Masculino</td>
                    <td>Pro-Secretario</td>
                    <td>38</td>
                </tr>
                </tbody>
            </table>
            </div>
            <small>(1) Son miembros independientes del Consejo de Administración.</small>
            <br>
            <small>(2) No son miembros del Consejo de Administración.</small>
            <br>
            <small>(2) Experto financiero.</small>
            <br><br>

            <p>A continuación, se presenta una breve biografía de cada uno de
              los miembros de nuestro Consejo de Administración.</p>

            <div id="Francisco">
              <div class="position-relative linea-div mb-3 funcionario">
                  <h3 class="mb-0">Francisco Javier del Valle Perochena</h3>
              </div>
                <p>Es el Presidente del Consejo de Administración, ha sido miembro
                  del consejo de Fortaleza Materiales, S.A.B. de C.V. (antes Elementia,
                  S.A.B. de C.V.) desde el año 2000 y cuenta con más de 26 años de experiencia
                  en la industria. El señor Francisco del Valle Perochena es socio y cofundador
                  de Grupo Empresarial Kaluz, empresa involucrada en los sectores químico,
                  industrial, construcción, banca y bienes raíces, con inversiones en más de
                  40 países de América, Europa y Asía. Francisco Javier del Valle Perochena
                  es Licenciado en Administración de empresas por la Universidad Anáhuac,
                  tiene una maestría en economía y negocios por la misma universidad y un
                  AD-2 en Alta Dirección por el Instituto Panamericano de Alta Dirección de
                  Empresas (IPADE). En 2010 emprendió en el sector educativo fundando SAE
                  Institute América Latina, universidad especializada en medios creativos,
                  también es miembro de los Consejos de Administración de Grupo Financiero
                  Ve por Más, Pochteca, Cuprum, Grupo Interprotección, del Consejo Consultivo
                  de Banamex, del Consejo de la Comunicación y del Consejo Empresarial de
                  Alianza del Pacifico. Comprometido con la sociedad, apoya a distintas causas,
                  como patrocinio a atletas de alto rendimiento, campañas e iniciativas enfocadas
                  en el cuidado y la preservación del medio ambiente y programas de vivienda.
                  El señor Francisco Javier del Valle Perochena es hermano del señor Juan Pablo
                  del Valle Perochena.</p>
            </div>

            <div id="Juan">
              <div class="position-relative linea-div mb-3 funcionario">
                  <h3 class="mb-0">Juan Pablo del Valle Perochena</h3>
                </div>
                <p>Es miembro del consejo de Fortaleza Materiales, S.A.B. de C.V. (antes Elementia,
                  S.A.B. de C.V.) desde abril del año 2017. Juan Pablo del Valle Perochena es
                  Ingeniero Industrial por la Universidad Anáhuac, tiene una maestría en
                  administración de empresas de Harvard Business School, actualmente es
                  Presidente del Consejo de Administración de Orbia Advance Corporation,
                  S.A.B. de C.V. Adicionalmente el Ing. del Valle es miembro de los Consejos
                  de Administración de Johnson Controls International PLC y Grupo Lala, S.A.B.
                  Adicionalmente, participa en diversas asociaciones sin fines de lucro
                  enfocadas en la educación y el medio ambiente en México y Estados Unidos.
                  Es presidente del Fondo del Agua de la Ciudad de México, Copresidente del
                  LACC de The Nature Conservancy, Copresidente del Consejo Consultor del
                  Council of the Americas y miembro del Consejo Consultor del DRCLAS de Harvard.
                  El señor Juan Pablo del Valle Perochena es hermano del señor Francisco Javier
                  del Valle Perochena.</p>
            </div>

            <div id="Eduardo">
              <div class="position-relative linea-div mb-3 funcionario">
                  <h3 class="mb-0">Eduardo Domit Bardawil</h3>
                  </div>
                <p>Es Ingeniero Civil por la Universidad Anáhuac y tiene una Maestría en
                   Administración de Empresas por el Instituto Tecnológico Autónomo de México.
                   El señor Eduardo Domit Bardawil es cuñado de los señores Francisco Javier y
                   Juan Pablo del Valle Perochena.</p>
            </div>

            <div id="Eugenio">
              <div class="position-relative linea-div mb-3 funcionario">
                  <h3 class="mb-0">Eugenio Clariond Rangel</h3>
                  </div>
                <p>Es Ingeniero Químico y de Sistemas por el TEC de Monterrey,
                  tiene una maestría en Administración de Negocios por la Universidad
                  de Texas en Austin y participó en el Programa Internacional de Administración
                  del IPADE, en Florida. Se ha desempeñado en diversos cargos en empresas
                  industriales entre los que destacan: Gerente General de Stahl; Gerente de
                  Planeación y Proyectos de IMSALUM; Director General Perfiles Cuprum y
                  Director de Operaciones de Grupo Cuprum. Actualmente ocupa la Dirección
                  General de Grupo Cuprum. Ha estado a cargo y participado en empresas,
                  asociaciones empresariales, académicas y sociales, destacando: Consejero y
                  miembro del Comité de Crédito del Banco Ve por Más (BX+); Miembro del Consejo
                  de Mexichem, S.A.B. de C.V. (hoy Orbia Advance Corporation, S.A.B. de C.V.);
                  Presidente de la Cámara de la Industria de Transformación de Nuevo León
                  (CAINTRA); Vicepresidente de la Confederación de las Cámaras Industriales
                  (CONCAMIN); Presidente del Instituto Mexicano del Aluminio A.C. (IMEDAL);
                  Miembro del Consejo de COPARMEX Nuevo León y COMCE (Consejo Mexicano de
                  Comercio Exterior) Noreste. Actualmente es miembro del Consejo de
                  Administración de las siguientes empresas: XIGNUX, ELEMENTIA y PYOSA;
                  miembro del Consejo y comité ejecutivo de la Asociación de Aluminio de
                  Estados Unidos de América “The Aluminum Association”; Miembro de los
                  Consejos Consultivos de Banorte y Banamex; Miembro del Consejo de la
                  Universidad de Monterrey (UDEM); Miembro del Consejo de Flora y Fauna del
                  Estado de N.L. (CONEFF); Miembro del Consejo de la Fundación CR.</p>
            </div>

            <div id="Divo">
              <div class="position-relative linea-div mb-3 funcionario">
                  <h3 class="mb-0">Divo Milán Haddad</h3>
                  </div>
                <p>Es Licenciado en Derecho por la Universidad Iberoamericana con Maestría
                  en Administración por la misma institución. Tiene un diplomado en Securities
                  Regulation transnational Bussines Problems Negotiation por la Universidad de
                  Harvard. También ha realizado estudios de alta dirección de empresas II en el
                  IPADE. Actualmente, es Director General de Grupo C.N.I., Investigación
                  Estratégica, Pro-Invest, Promotora Eco, S.A. de C.V., Servicios de Comercio
                  Electrónico, S.A. de C.V., Dab-Invest, Dimmag, S.A. de C.V. (empresa en Panamá).
                  Asimismo, es consejero de: Inmobiliaria del Norte (Presidente), Grupo C.N.I.
                  (Presidente), New Dawn Mining, Pro-Invest, Netcapital, Plus Mil (Presidente),
                  Mexichem, S.A.B. de C.V., Banco Ve por Más, S.A., Institución de Banca
                  Múltiple, Grupo Financiero Ve por Más, Círculo de Crédito, Grupo Financiero
                  Ve por Más, S.A. de C.V., Grupo Kaluz.</p>
            </div>

            <div id="Gerardo">
              <div class="position-relative linea-div mb-3 funcionario">
                  <h3 class="mb-0">Gerardo Kuri Kaufmann</h3>
                  </div>
                <p>Ha sido miembro del consejo de Fortaleza Materiales, S.A.B. de C.V.
                  (antes Elementia, S.A.B. de C.V.) desde 2009. Gerardo Kuri Kaufmann es
                  Ingeniero Industrial por la Universidad Anáhuac. De 2008 a 2010 fungió
                  como Director de Compras de Carso Infraestructura y Construcción, S.A.
                  de C.V. A partir de la constitución de Inmuebles Carso, S.A.B. de C.V.,
                  asumió la Dirección General de la misma. Adicionalmente se desempeña como
                  miembro de los Consejos de Administración de Minera Frisco, S.A.B. de C.V.,
                  Fomento de Construcciones y Contratas, S.A., Cementos Portland Valderrivas,
                  S.A., y Operadora de Sites Mexicanos, S.A. de C.V.</p>
            </div>

            <div id="Alfonso">
              <div class="position-relative linea-div mb-3 funcionario">
                  <h3 class="mb-0">Alfonso Salem Slim</h3>
                  </div>
                <p>Ha sido miembro del consejo de Fortaleza Materiales, S.A.B. de C.V.
                  (antes Elementia, S.A.B. de C.V.) desde 2009. Alfonso Salem Slim es
                  Ingeniero Civil por la Universidad Anáhuac en 1984. A lo largo de su
                  carrera, ha actuado como Director de Expansión de Sanborns Hermanos S.A.
                  de C.V., Director General de Centro Comercial Carso, Director de Bienes
                  Raíces de Inbursa, Director General de Hoteles Calinda, Director General
                  de Grupo PC Constructores, Director General de IDEAL y, actualmente es el
                  Vicepresidente del Consejo de Administración de IDEAL y Presidente
                  Ejecutivo y Director General de Inmuebles Carso, S.A.B. de C.V. También
                  ha participado como miembro del Consejo de Administración de las siguientes
                  compañías: Grupo Carso, S.A.B. de C.V., IDEAL, Carso Infraestructura y
                  Construcción, S.A.B. de C.V., Inmuebles Carso, S.A.B. de C.V., SEARS
                  Operadora México, S.A. de C.V., Grupo Gigante S.A.B. de C.V., Gas Natural,
                  Fundación del Centro Histórico de la Ciudad de México, A.C., Fomento de
                  Construcciones y Contratas, S.A., Giant.</p>
            </div>

            <div id="Antonio">
              <div class="position-relative linea-div mb-3 funcionario">
                  <h3 class="mb-0">Antonio Gómez García </h3>
                  </div>
                <p>Ha sido miembro del consejo de Fortaleza Materiales, S.A.B. de C.V.
                  (antes Elementia, S.A.B. de C.V.)desde 2009. Es Ingeniero Industrial
                  por la Universidad Iberoamericana. Actualmente es Director General de
                  Grupo Carso, Carso Infraestructura y Construcción, S.A.B. de C.V., y de
                  Grupo Condumex, y es miembro de los consejos de administración de Grupo
                  Carso, Grupo Idesa, S.A. de C.V. y Grupo Frisco, S.A.B. de C.V.</p>
            </div>

            <div id="JuanRodriguez">
              <div class="position-relative linea-div mb-3 funcionario">
                  <h3 class="mb-0">Juan Rodríguez Torres </h3>
                </div>
                <p>Ha sido miembro del consejo de Fortaleza Materiales, S.A.B. de C.V.
                  (antes Elementia, S.A.B. de C.V.) desde 2014. Es Ingeniero Civil y tiene
                  estudios completos de maestría en la planificación e investigación operativa
                  en la Universidad Nacional Autónoma de México (UNAM). También ha realizado
                  estudios de administración en el IPADE y tiene un diplomado en concreto
                  pretensado en Paris, Francia. En la actualidad es miembro de varios
                  consejos de administración, tales como Fomento de Construcciones y
                  Contratas, S.A. (incluyendo algunos de sus Comités), Minera Frisco,
                  S.A.B. de C.V., Grupo Sanborns, S.A.B. de C.V., Procorp, Realia Business,
                  S.A. y Telesites, S.A. de C.V.</p>
            </div>

            <div id="JuanPablodelRío">
              <div class="position-relative linea-div mb-3 funcionario">
                  <h3 class="mb-0">Juan Pablo del Río Benítez </h3>
                  </div>
                <p>Es Secretario (no miembro) del Consejo de Administración de
                  Fortaleza Materiales, S.A.B. de C.V. (antes Elementia, S.A.B. de C.V.)
                  desde 2009. Juan Pablo del Rio Benítez es licenciado en Derecho por la
                  Universidad Anáhuac, con estudios de post grado en la Escuela Libre de
                  Derecho, actualmente es socio de DRB Consultores Legales, S.C., y es
                  miembro de la Barra Mexicana Colegio de Abogados desde 2002. Es miembro
                  del Comité Normativo de la Bolsa Mexicana de Valores y Secretario del
                  Consejo de Administración y consultor legal de diversas empresas, tanto
                  listadas en la bolsa de valores como privadas</p>
            </div>

            <div id="Alberto">
              <div class="position-relative linea-div mb-3 funcionario">
                  <h3 class="mb-0">Alberto Perales Mendoza </h3>
                </div>
                <p>Es Licenciado en Derecho con Especialidad en Derecho Corporativo
                  y Maestría en Derecho, todas por el Instituto Tecnológico y de
                  Estudios Superiores de Monterrey. Cuenta con estudios de posgrado
                  en la Universidad de Georgetown y tiene una Maestría en Derecho de
                  los Estados Unidos de América por la Universidad de Washington en St.
                  Louis. Cuenta con más de 14 años de experiencia como abogado internacional
                  especializado en materia corporativa y comercial, principalmente en empresas
                  de las industrias de telecomunicaciones, energía y tecnologías de la
                  información.</p>
            </div>

        </div>
    </div>

{% endblock %}

{% block otherscripts %}
{% endblock %}
