{% extends 'layouts/interior.html' %}
{% load static %}

{% block otherstyles %}
{% endblock %}

{% block wrapper %}
    <div class="content-wrap pt-5 pb-5">
        <div class="container">
            <div class="row mb-4">
                <div class="col-12">
                    <p>A partir de la OPA de Fibra Plus, la operación de HD ha sido delegada al Administrador y Asesor,
                        los cuáles se encargan de la gestión de los Inmuebles relacionados con los activos. Asimismo,
                        cuentan con el personal para llevar a cabo las actividades relacionadas a la negociación de los
                        Contratos de Arrendamiento, la cobranza de las Rentas, la comercialización así como el
                        mantenimiento y operación de los Bienes Inmuebles.</p>
                    <p>El Administrador y Asesor cumplen con el rol de presentar las oportunidades para invertir ante el
                        Comité Técnico, asícomo de la gestión de las inversiones y desinversiones, de ser así, del
                        Patrimonio del Fideicomiso. También tienen la responsabilidad de proponer al Comité Técnico las
                        iniciativas de capitalización y/o endeudamiento que Fibra HD requiera para el cumplimiento de
                        sus objetivos.</p>
                </div>
            </div>

            <div class="row d-flex align-items-center flex-wrap mb-5">
                <div class="col-md-4">
                    <h4 class="tc-fibrahd-dark">Director Ejecutivo de Adquisiciones y Operaciones </h4>
                    <img src="{% static 'images/fibrahd/directivo/santiago_robina.png' %}" alt="">
                </div>
                <div class="col-md-8">
                    <h4>Santiago de Robina Bustos</h4>
                    <p>Estudió administración de empresas en la Universidad Anáhuac y cuenta con un posgrado en
                        administración de empresas por el Instituto Panamericano de Alta Dirección de Empresas (IPADE).
                        El Lic. Santiago de Robina cuenta con más de 22 (veintidós) años de experiencia en el sector
                        inmobiliario principalmente en el área de centros comerciales, incluyendo el desarrollo,
                        construcción y comercialización de los mismos.</p>
                </div>
            </div>

            <div class="row d-flex align-items-center flex-wrap mb-5">
                <div class="col-md-8">
                    <h4>Gustavo Covarrubias Uriegas</h4>
                    <p>Cuenta con más de 15 años de experiencia profesional en áreas financieras y operativas en
                        distintas industrias. Anteriormente fungió como Chief Financial Officer para Virgin Mobile Latin
                        America, supervisando las operaciones de los países de la región. Previo a eso, fue Contralor de
                        FIBRA HD desde agosto de 2015 a noviembre de 2018. Gustavo cuenta con un MBA del Instituto
                        Panamericano de Alta Dirección de Empresas y es Contador Público por la Universidad
                        Iberoamericana. </p>
                </div>
                <div class="col-md-4">
                    <h4 class="tc-fibrahd-dark">Director Ejecutivo de Finanzas </h4>
                    <img src="{% static 'images/fibrahd/directivo/gustavo_covarrubias.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
{% endblock %}
