{% extends 'layouts/interior.html' %}
{% load static %}

{% block otherstyles %}
{% endblock %}

{% block wrapper %}
    <div class="content-wrap pt-5 pb-5">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12">
                    <h3 class="tc-fibrahd-light text-center">Fibra HD, cuenta con un portafolio diversificado regional y
                        sectorialmente.</h3>
                </div>
            </div>

            <div class="row d-flex align-items-center flex-wrap mb-5">
                <div class="col-md-5">
                    <img src="{% static 'images/fibrahd/estrategia/estrategia_1.png' %}" alt="">
                </div>
                <div class="col-md-7">
                    <p class="text-justify">Nuestro objetivo es mantener un enfoque en propiedades de dimensiones
                        grandes y medianas, principalmente de los sectores industrial, comercial (anclado a
                        supermercados o cines), edificios de oficinas de alta categoría y el sector educativo con
                        clientes de calidad. </p>
                </div>
            </div>

            <div class="row d-flex align-items-center flex-wrap mb-5">
                <div class="col-md-7">
                    <p class="text-justify">En línea con nuestra meta, se han adquirido propiedades cuyo costo de
                        adquisición se encuentran
                        en el rango de Ps.30 millones hasta los Ps.300 millones. Nuestro modelo de negocios consta de
                        encontrar oportunidades dentro del rango mencionado, con la capacidad de generar cap rates
                        atractivos para el Fideicomiso.</p>
                </div>
                <div class="col-md-5">
                    <img src="{% static 'images/fibrahd/estrategia/estrategia_2.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: #023D3D;">
        <div class="container mb-5">
            <div class="row d-flex align-items-center flex-wrap">
                <div class="col-md-5">
                    <img src="{% static 'images/fibrahd/estrategia/estrategia_3.png' %}" alt="">
                </div>
                <div class="col-md-7">
                    <p class="text-justify text-white">En lo que al aspecto regional se refiere, nuestro modelo de negocios
                        considera el aprovechamiento
                        de oportunidades en territorios que gocen de un dinamismo constante, ya sea por condiciones
                        demográficas y/o económicas, es por eso que nuestras propiedades abarcan el Norte, Centro y Sur
                        del territorio nacional.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
{% endblock %}
