{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}
    <style>
        .circle {
            background: #0f0f3d;
            border-radius: 50%;
            width: 100%;
            padding-top: 100%;
            position: relative;
            padding-right: 20px;
            padding-left: 32px;
        }

        .circle img {
            position: absolute;
            top: 15%;
            right: 15%;
            max-width: 70%;
        }

        .border-right-c {
            border-right: solid 1px #c1c1c1;
        }

        @media all and (max-width: 768px) {
            .border-right-c {
                border-right: transparent;
                border-bottom: solid 1px #c1c1c1;
                padding-bottom: 20px;
                margin-bottom: 20px;
            }

            img.oversize {
                width: 120%;
                max-width: 120%;
                margin-left: -10%;
            }
        }
    </style>
{% endblock %}


{% block wrapper %}

    <div class="container py-5 on-mobile">
        <div class="col-12">

            <p>Elementia Materiales es una empresa mexicana dedicada a la construcción ligera y al desarrollo de soluciones constructivas innovadoras empleadas
              en todas las etapas de la construcción. Surge en 2021 como resultado
                de la separación de las Unidades de Negocio de Construsistemas y Metales de Elementia. Lo anterior,
                acarreando más de dos décadas de éxitos y experiencia en la industria de la construcción, que le han
                convertido en un referente de mercado y en un negocio con un fortalecido posicionamiento en los mercados
                donde participa.</p>

            <p>Cuenta con una plataforma integral de productos para la construcción ligera, operando en 22 plantas de
                producción situadas en Estados Unidos, México, El Salvador, Costa Rica, Honduras, Colombia, Ecuador,
                Perú y Bolivia. Asimismo, la compañía posee una base de más de 5,150 colaboradores y una amplia red de
                distribución conformada por más de 1,869 distribuidores independientes que le permiten llevar sus
                soluciones a más de 40 países.</p>

            <div class="text-center">
                <img class="img-fluid" src="{% static 'images/elementia/infografia1.png' %}" alt="alternative text" width="85%">
            </div>

            <br>

            <br>


            {#            <h2>Nuestra visión</h2>#}
            {#            <div class="row justify-content-center">#}
            {#                <div class="col-md-3 col-6 border-right-c">#}
            {#                    <div style="width: 80%;margin: auto">#}
            {#                        <div class="circle"><img src="{% static 'images/about/vision.svg' %}" alt="alternative text" width="90%"></div>#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="col-md-9 d-flex align-items-center">#}
            {#                    <p>La visión de Grupo Murano es crear vehículos de inversión o fideicomisos competitivos y líderes#}
            {#                        en la#}
            {#                        adquisición, consolidación, operación y promoción de activos inmobiliarios.</p></div>#}
            {#            </div>#}
            {##}
            {#            <h2 class="mt-5">Nuestra misión</h2>#}
            {#            <div class="row justify-content-center">#}
            {#                <div class="col-md-3 col-6 border-right-c">#}
            {#                    <div style="width: 80%;margin: auto">#}
            {#                        <div class="circle"><img src="{% static 'images/about/mision.svg' %}" alt="alternative text" width="90%"></div>#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="col-md-9 d-flex align-items-center">#}
            {#                    <p>Nuestra misión consiste en contar con una base sólida de activos estabilizados, así como#}
            {#                        establecer un#}
            {#                        programa de adquisiciones y desarrollo de activos inmobiliarios. Asimismo, aprovecharemos la#}
            {#                        ventaja#}
            {#                        competitiva que suele acompañar a quienes colocan un nuevo producto financiero en el mercado y#}
            {#                        estableceremos mecanismos para acudir repetidamente al mercado de capitales y de deuda para#}
            {#                        apoyar el#}
            {#                        proceso acelerado de adquisiciones de los activos aludidos.</p></div>#}
            {#            </div>#}
            {##}
            {#            <h2 class="mt-5">Nuestros valores</h2>#}
            {#            <div class="row">#}
            {#                <div class="col-md-3 d-block text-center justify-content-center">#}
            {#                    <div style="width: 50%;margin: auto;padding-bottom: 10px">#}
            {#                        <div class="circle"><img src="{% static 'images/about/compromiso.svg' %}" alt="alternative text" width="90%">#}
            {#                        </div>#}
            {#                    </div>#}
            {#                    <p><b>Compromiso:</b><br> trabajadores, decididos y apasionados.</p>#}
            {#                </div>#}
            {##}
            {#                <div class="col-md-3 offset-md-1 justify-content-center text-center">#}
            {#                    <div style="width: 50%;margin: auto;padding-bottom: 10px">#}
            {#                        <div class="circle"><img src="{% static 'images/about/excelencia.svg' %}" alt="alternative text" width="90%">#}
            {#                        </div>#}
            {#                    </div>#}
            {#                    <p><b>Excelencia:</b><br> análisis con atención al detalle, innovación y perseverancia.</p>#}
            {#                </div>#}
            {##}
            {#                <div class="col-md-3 offset-md-1 justify-content-center text-center">#}
            {#                    <div style="width: 50%;margin: auto;padding-bottom: 10px">#}
            {#                        <div class="circle"><img src="{% static 'images/about/integridad.svg' %}" alt="alternative text" width="90%">#}
            {#                        </div>#}
            {#                    </div>#}
            {#                    <p><b>Integridad:</b><br> dignos de confianza y responsables.</p>#}
            {#                </div>#}
            {##}
            {#                <div class="col-md-3 offset-md-2 justify-content-center text-center">#}
            {#                    <div style="width: 50%;margin: auto;padding-bottom: 10px">#}
            {#                        <div class="circle"><img src="{% static 'images/about/equipo.svg' %}" alt="alternative text" width="90%"></div>#}
            {#                    </div>#}
            {#                    <p><b>Trabajo en equipo:</b><br> diversidad de ideas para la creación de valor.</p>#}
            {#                </div>#}
            {#                <div class="col-md-3 offset-md-1 justify-content-center text-center">#}
            {#                    <div style="width: 50%;margin: auto;padding-bottom: 10px">#}
            {#                        <div class="circle"><img src="{% static 'images/about/rentabilidad.svg' %}" alt="alternative text" width="90%">#}
            {#                        </div>#}
            {#                    </div>#}
            {#                    <p><b>Rentabilidad:</b><br> consistente con nuestro éxito a largo plazo.</p>#}
            {#                </div>#}
            {#            </div>#}
            {##}
            {##}
            {#            <h2>Nuestras fortalezas competitivas</h2>#}
            {##}
            {#            <div class="tabs-style-lg style-1 gry-bg position-relative acerca">#}
            {#                <div class="container tabs-style-lg style-1 gry-bg">#}
            {#                    <ul class="nav nav-tabs" role="tablist">#}
            {#                        <li role="presentation" class="active">#}
            {#                            <a class="uppercase active" data-toggle="tab" href="#estrategia"><span>Clara estrategia de inversión</span></a>#}
            {#                        </li>#}
            {#                        <li role="presentation" class="">#}
            {#                            <a class="uppercase" data-toggle="tab" href="#alineamiento"><span>Sólido alineamiento con los intereses de todo el público inversionista de la Compañía</span></a>#}
            {#                        </li>#}
            {#                        <li role="presentation" class="">#}
            {#                            <a class="uppercase" data-toggle="tab" href="#equipo"><span>Equipo ejecutivo experimentado y comprometido</span></a>#}
            {#                        </li>#}
            {#                        <li role="presentation" class="">#}
            {#                            <a class="uppercase" data-toggle="tab" href="#capital"><span>Capital humano y experiencia en el sector inmobiliario</span></a>#}
            {#                        </li>#}
            {#                        <li role="presentation" class="">#}
            {#                            <a class="uppercase" data-toggle="tab"#}
            {#                               href="#posicion"><span>Sólida posición financiera</span></a>#}
            {#                        </li>#}
            {#                    </ul>#}
            {#                </div>#}
            {##}
            {##}
            {#                <div class="tab-content pt-5">#}
            {#                    <div role="tabpanel" class="tab-pane active in" id="estrategia">#}
            {##}
            {#                        <div class="row">#}
            {#                            <div class="col-md-5 mb-4">#}
            {#                                <img alt="alternative text" class="bordered-img shape lg main-border new-angle"#}
            {#                                     src="{% static 'images/about/fortalezas/acerca-01.png' %}">#}
            {#                            </div>#}
            {#                            <div class="col-md-7 lg-tab-txt pl-3">#}
            {#                                <!---<h3 class="uppercase bolder main-color font-30">Clara estrategia de inversión</h3>-->#}
            {#                                <p>#}
            {#                                    Nuestra estrategia de inversión consiste en invertir en el sector#}
            {#                                    inmobiliario, nacional y extranjero, con el objetivo de generar oportunidades de#}
            {#                                    crecimiento bajo altas eficiencias operativas que impulsen la rentabilidad.#}
            {#                                </p>#}
            {#                            </div>#}
            {#                        </div>#}
            {##}
            {#                    </div>#}
            {#                    <div role="tabpanel" class="tab-pane fade" id="alineamiento" tabindex="-1">#}
            {#                        <div class="row">#}
            {#                            <div class="col-md-7 lg-tab-txt pl-3">#}
            {#                                <p>Nuestras relaciones con el#}
            {#                                    Administrador están estructuradas a fin de garantizar la correcta alineación de#}
            {#                                    intereses entre nosotros#}
            {#                                    y el público inversionista. </p>#}
            {#                            </div>#}
            {#                            <div class="col-md-5">#}
            {#                                <img alt="alternative text" class="bordered-img shape lg main-border new-angle"#}
            {#                                     src="{% static 'images/about/fortalezas/acerca-02.png' %}">#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                    <div role="tabpanel" class="tab-pane fade" id="equipo" tabindex="-1">#}
            {#                        <div class="row">#}
            {#                            <div class="col-md-5 mb-4">#}
            {#                                <img alt="alternative text" class="bordered-img shape lg main-border new-angle"#}
            {#                                     src="{% static 'images/about/fortalezas/acerca-03.png' %}">#}
            {#                            </div>#}
            {#                            <div class="col-md-7 lg-tab-txt pl-3">#}
            {#                                <p>Nuestro equipo directivo cuenta con una sólida#}
            {#                                    trayectoria en el desarrollo, adquisición y financiamiento de atractivas#}
            {#                                    oportunidades de inversión, así#}
            {#                                    como en proyectos emblemáticos en el sector inmobiliario de México.</p>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                    <div role="tabpanel" class="tab-pane fade" id="capital">#}
            {#                        <div class="row">#}
            {##}
            {#                            <div class="col-md-7 lg-tab-txt pl-3">#}
            {#                                <p>Nuestros asociados, colaboradores y#}
            {#                                    personal clave cuentan con experiencia probada a lo largo de toda la cadena de valor#}
            {#                                    en el desarrollo,#}
            {#                                    operación y comercialización de activos inmobiliarios, habiendo desarrollado más de#}
            {#                                    1 millón de m<sup>2</sup> en#}
            {#                                    los últimos 20 años.</p>#}
            {#                            </div>#}
            {#                            <div class="col-md-5">#}
            {#                                <img alt="alternative text" class="bordered-img shape lg main-border new-angle"#}
            {#                                     src="{% static 'images/about/fortalezas/acerca-04.png' %}">#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                    <div role="tabpanel" class="tab-pane fade" id="posicion">#}
            {#                        <div class="row">#}
            {#                            <div class="col-md-5 mb-4">#}
            {#                                <img alt="alternative text" class="bordered-img shape lg main-border new-angle"#}
            {#                                     src="{% static 'images/about/fortalezas/acerca-05.png' %}">#}
            {#                            </div>#}
            {##}
            {#                            <div class="col-md-7 lg-tab-txt pl-3">#}
            {#                                <p>Grupo Murano ha consolidado una sólida posición financiera, la cual se#}
            {#                                    fortalece año con año contando con el apoyo financiero de diversas instituciones#}
            {#                                    nacionales e#}
            {#                                    internacionales.</p>#}
            {#                            </div>#}
            {##}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            {#            <br>#}

        </div>
    </div>



{% endblock %}

{% block otherscripts %}
{% endblock %}
