{% extends 'layouts/interior.html' %}
{% load static %}

{% block otherstyles %}
{% endblock %}

{% block wrapper %}
    <div class="content-wrap pt-5 pb-5">
        <div class="container">
            <div class="row mb-5 d-flex align-items-center">
                <div class="col-md-5">
                    <img src="{% static 'images/fibrahd/perfil/perfil_2.png' %}" alt="">
                </div>
                <div class="col-md-7">
                    <p class="text-justify">Fibra HD ha sido concebido para adquirir, poseer, construir, arrendar y
                        operar un amplio rango de
                        Inmuebles en México. La FIBRA tiene como objetivo principal proporcionar retornos atractivos con
                        riesgo ajustado a largo plazo a los Tenedores, mediante Distribuciones de Efectivo estables y la
                        apreciación de sus Activos. Dicho objetivo se logrará creando, de manera selectiva, una cartera
                        diversificada de Bienes Inmuebles que se destinarán al arrendamiento o de Derechos de
                        Arrendamiento. </p>
                    <p class="text-justify">Nuestro objetivo es crear y gestionar una cartera diversificada de Bienes
                        Inmuebles destinados al
                        arrendamiento. Así mismo los contratos de arrendamiento preferentemente serán sobre una base
                        fija de renta, pero en el caso de existir rentas variables estas estarán siempre ligadas a las
                        ventas, para estar acorde la Ley del Impuesto Sobre la Renta, así mismo deberán ser Inmuebles de
                        calidad y generadores de altos ingresos, ubicadas en regiones urbanas y suburbanas en
                        crecimiento en el país.</p>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-md-8 offset-md-2 text-center">
                    <img src="{% static 'images/fibrahd/perfil/mision_vision.png' %}" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="{% static 'images/fibrahd/perfil/nuestras_fortalezas.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
{% endblock %}
