{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}
    <style>
        .circle {
            background: #0f0f3d;
            border-radius: 50%;
            width: 100%;
            padding-top: 100%;
            position: relative;
            padding-right: 20px;
            padding-left: 32px;
        }

        .circle img {
            position: absolute;
            top: 15%;
            right: 15%;
            max-width: 70%;
        }

        .border-right-c {
            border-right: solid 1px #c1c1c1;
        }

        @media all and (max-width: 768px) {
            .border-right-c {
                border-right: transparent;
                border-bottom: solid 1px #c1c1c1;
                padding-bottom: 20px;
                margin-bottom: 20px;
            }

            img.oversize {
                width: 120%;
                max-width: 120%;
                margin-left: -10%;
            }
        }
    </style>
{% endblock %}


{% block wrapper %}

    <div class="container py-5 on-mobile">
        <div role="tabpanel" class="tab-pane pt-15 active row" id="quejas">
            <!--Map Column-->
            <div class="map-column col-md-5 col-sm-12 col-xs-12">

                <!--Map Outer-->
                <p align = "justify"> <b>En Elementia S.A.B. de C.V. y sus empresas subsidiarias NO</b> discriminamos,
                  excluimos o distinguimos a cualquier persona por su origen nacional, lengua,
                   sexo, género, edad, discapacidad, condición social, identidad indígena,
                   identidad de género, apariencia física, condiciones de salud, religión,
                   formas de pensar, orientación o preferencia sexual, por tener tatuajes o
                   cualquier otra razón que tenga como propósito impedir el goce y ejercicio
                   de los derechos humanos </p>
            </div>

            <!--Form Column-->
            <div class="form-column col-md-7 col-sm-12 col-xs-12">
                <div class="inner-column">
                    <h2>Contáctanos</h2>

                    <div class="default-form-area">
                        <form class="contact-form" id="contact-form-quejas" enctype="multipart/form-data" action="https://www.gfmega.com/send_mail_quejas" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="jnjIMXw2EhrwtupTZc0w8ln1mBFOEUVRPuQ04eYcs3xDsjTHpe0OTNfredczNB0af4cqB19nYnJBOZW8YjReJg==">

                            <input name="recaptcha_token" type="hidden" id="recaptcha_token_c86dc2851fc1d92b4da1" value="03AGdBq24hU0pPtsv0dgL0BW9a5H-MDCuxgpuqmEHLQIejjhrPH5eJB1848FagqvRVujCVu1XIkLVLsXAN6Sqp0ZdPygbBcUMg7QXLi_tpFO75fxRnIAPwK4sT-Yx1iQ72ZEfd3U9k7qt-ljMGchedslmjdxiNnNu_ArNVB1Av7dCKC3cnigZ7dtrxSnvlM0A9m-vJJ913KsYN-JdW3SIV8uQpNv0Puyb0sbASX5zqfzidIp9jykASV-55SERHCMr01WrWBw85dilvBGm4YjZY2RBQcfXY2mhSEWKVNDxadQCkvglPwhITs8AIDNeT6L7gUjErvhtGVOGMpj9cvFgFcCUi70KO2Vo8ujXiNPNU48Djwh4N5PMRfWf05n1CX7ioVrDdA6JyLJBL9m7Y676wUakwLUpPUUtuy4qYBaQFC6PCtDTWHJ70H7QCgCN2JwmhlOID2nhu6Sja">
                            <script>
                                grecaptcha.ready(function() {
                                    grecaptcha.execute('6LfBdZMdAAAAAGKq0_-BqLR-WeEb311d6KHWYLhk', {action: 'quejas'}).then(function(token) {
                                        document.getElementById("recaptcha_token_c86dc2851fc1d92b4da1").value = token;
                                    });
                                });
                            </script>

                            <div class="row clearfix">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" name="form_name" class="form-control" value="" placeholder="Nombre" required="">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" name="form_last_name" class="form-control" value="" placeholder="Apellidos" required="">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <input type="email" name="form_email" class="form-control required email" value="" placeholder="Correo electrónico" required="">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <!--                        <input type="text" name="form_enterprise" class="form-control required enterprise" value="" placeholder="Compañía" required="">-->
                                        <!--                        <input type="file" id="form_file" name="form_file" accept=".pdf, .docx">-->
                                        <input type="file" id="form_file" name="form_file" accept=".pdf, .docx" class="filestyle" data-buttonname="btn btn-default file" data-buttonbefore="true" data-input="true" data-iconname="fa fa-file-o" data-buttontext="Archivo" tabindex="-1" style="position: absolute; clip: rect(0px, 0px, 0px, 0px);"><div class="bootstrap-filestyle input-group"><span class="group-span-filestyle input-group-btn" tabindex="0"><label for="form_file" class="btn btn btn-default file "><span style="margin-right: 3px;" role="presentation" class="icon-span-filestyle fa fa-file-o"></span> <span class="buttonText">Archivo</span></label></span><input type="text" class="form-control " placeholder="" disabled=""> </div>

                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" name="form_phone" class="form-control" value="" placeholder="Teléfono" required="">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" name="form_city" class="form-control" value="" placeholder="Ciudad" required="">
                                    </div>
                                </div>

                                <!---<div class="col-md-6 col-sm-6 col-xs-12">
                                  <div class="form-group">
                                    <select name="form_department" class="form-control required department" required="">
                                      <option value="Sells">Departamento: Ventas</option>
                                      <option value="Service ">Departamento: Servicio</option>
                                    </select>
                                  </div>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                  <div class="form-group">
                                    <select name="form_industry" class="form-control required industry" required="">
                                      <option value="Trasporte">Industria: Transporte</option>
                                      <option value="Construcción">Industria: Construcción</option>
                                      <option value="Minería">Industria: Minería</option>
                                      <option value="SMEs">Industria: SMEs</option>
                                      <option value="Otras">Industria: Otra</option>
                                    </select>
                                  </div>
                                </div>-->


                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <textarea name="form_message" class="form-control textarea required" required="" placeholder="Mensaje"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="contact-section-btn">
                                <div class="form-group">
                                    <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                                    <button id="enviar-quejas" class="theme-btn btn-style-one" type="submit" data-loading-text="Please wait...">Enviar</button>
                                </div>
                            </div>
                        </form>              </div>

                </div>

            </div>

        </div>
    </div>



{% endblock %}

{% block otherscripts %}
{% endblock %}
